<div>
	<div class="editRecord">
	<p dir="rtl">عدل هذه المعلومة</p>
		<ul><li><span type="form" name="person:id" href="view?id=" dir="rtl">أعرض الشخص</span></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2" dir="rtl">وظيفة يشغلها</th>
		</tr><span type="form" name="person:surname" showhead="default"></span>
	<span type="form" name="person:firstname" showhead="default" class="even"></span>
	<span type="form" name="person_position:start_date" showhead="default"></span>
	</table></div> <!-- dataTable -->
</div>
