<tbody id="person_form" task='person_can_edit_child_form_salary'>
  <tr>
    <th>Edit Salary</th>
  </tr>
  <tr id="list_fields">
    <td id="new_salary">
      <span type="form" name="salary:id"></span>
      <span type="form" name="salary:parent"></span>
      <span type="form" name="salary:salary" showhead="default"></span>
      <span type="form" name="salary:start_date" showhead="default"></span>
      <span type="form" name="salary:end_date" showhead="default" ifset="true"></span>
      <span type="form" name="salary:notes" showhead="default"></span>
    </td>
  </tr>
</tbody>
