<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Welkom, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
To get started using iHRIS Train, please click one of the options below. Return 
to this page at any time by clicking the Home button in the bar above. If you need 
help with any function, click the Help button. We encourage you to send us any 
errors you find, suggestions for improvements or additional features, and any 
other feedback you may have about this software; contact us at any time by clicking 
the Feedback button or visiting the <a href="http://www.capacityplus.org/hris/">HRIS 
Strengthening Website</a>.
</p>
</div><!-- /welcomeIntro -->
