<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Karibu</h1>
<p>
<strong>Mfumo Usimamizi iHRIS</strong> ni nyenzo ya usimamizi wa rasilimali watu ambayo inawezesha shirika kubuni na kusimamia mkakati thabiti wa rasilimali watu. Wakati hapo mwanzoni ulikuwa na lengo la kusimamia wafanyakazi wa afya, Mfumo wa iHRIS unaweza kutumiwa katika mifumo mingine ya kazi. Mfumo wa iHRIS ni Maunzilaini Chanzi Huru isiyolipiwa gharama zozote iliyoanzishwa na 
<a href="http://www.capacityplus.org"> Capacity<i>Plus</i></a>, an innovative global 
initiative to help developing countries build and sustain the health workforce.
</p>
</div><!-- /welcomeIntro -->