<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Karibu, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Ili kuanza kutumia Mfumo wa iHRIS, tafadhali bofya moja kati ya chaguzi hapa chini. Rudi kwenye ukurasa huu wakati wowote kwa kubofya kibonye Mwanzo kwenye mwambaa hapo juu. Kama unahitaji msaada na kadhia yoyote, bofya kibonye Msaada. Tunakusihi ututumie makosa yoyote uliyoyaona, mapendekezo kwa ajili ya maboresho au sifa za ziada, na mrejezo mwingine wowote ambao unao kuhusu hii maunzi laini, wasiliana nasi wakati wowote kwa kubofya kibonye Mrejezo au kutembelea <a href="http://www.capacityplus.org/hris/">wavuti ya kuboresha iHRIS</a>.
</p>
</div><!-- /welcomeIntro -->