<div id="siteContent">
<h1>Gestionar capacitaciones y proveedor de capacitación</h1>
<span type="module" name="Lecturers" ifenabled="true">
    <div task="can_add_lecturer">
      
      <h2><a href="add_lecturer" class="updateRecords">Add A New Lecturer</a></h2>
      <p>
	   Add a new Lecturer into the system
      </p>
    </div>
  </span>
<span type="module" name="STSTraining" ifenabled="true">
    <div task="can_edit_database_list_training">
      
      <h2><a href="auto_list/view?form_name=training" class="updateRecords">Add Semester Courses</a></h2>
      <p>
	   Add new semester courses and assign them to lecturers as well as administer any other drop down lists.
      </p>
    </div>
</span>
<span type="module" name="RescheduleCourse" ifenabled="true">
    <div task="can_edit_reschedule_course">
      
      <h2><a href="reschedule_course" class="updateRecords">Reschedule Course</a></h2>
      <p>
	   Reschudule A Course To Be Offered To The Next Semester
      </p>
    </div>
</span>  
<span type="module" name="ScheduleCourseEnrollment" ifenabled="true">
    <div task="can_schedule_students_course_enrollment">
      
      <h2><a href="schedule_course_enrollment" class="updateRecords">Open or Close Students Course Registration</a></h2>
      <p>
	   Set Deadline For Students To Enroll Themselves Into Various Courses
      </p>
    </div>
  </span>
<span type="module" name="AssignCourseToTrainer" ifenabled="true">
    <div task="can_assign_course_trainer">
      
      <h2><a href="assign_course_trainer" class="updateRecords">Assign Course To Lecturer</a></h2>
      <p>
	   Set Deadline For Students To Enroll Themselves Into Various Courses
      </p>
    </div>
  </span>
<span type="module" name="AssignCourseToTrainer" ifenabled="true">
    <div task="can_add_students_results">
      
      <h2><a href="add_results_select_course" class="updateRecords">Añadir resultados del semestre</a></h2>
      <p>
	   Add students semester results i.e continuous assessment and end of semester exams.
      </p>
    </div>
</span>

<span type="module" name="AssignCourseToTrainer" ifenabled="true">
    <div task="can_approve_results">
      
      <h2><a href="results_approval" class="updateRecords">Approve Semester Results</a></h2>
      <p>
	   Approve End Of Smester Results
      </p>
    </div>
</span>
       
  <span type="module" name="STSTraining" ifenabled="true">
  <div task="can_edit_database_list_training_program">
      
      <h2><a href="auto_list/view?form_name=training_program" class="updateRecords">Add A New Training Program</a></h2>
      <p>
	   Add new training program records into the system.
      </p>
  </div>
  </span>
  <span type="module" name="STSTraining" ifenabled="true">
    <div task="can_edit_database_list_department">
      
      <h2><a href="auto_list/view?form=department" class="updateRecords">Añadir departamento nNuevo</a></h2>
      <p>
	   Add new department records into the system.
      </p>
    </div> 
   </span>

<span type="module" name="STSTraining" ifenabled="false">
<span type="module" name="TrainingProvider" ifenabled="true">
    <div task="provider_can_edit">
      
      <h2><a href="trainingprovider" class="updateRecords">Añadir un nuevo proveedor de capacitación</a></h2>
      <p>
	   Añadir un nuevo registro de proveedor de capacitación en el sistema
      </p>
    </div>
  </span>
  </span>
  <span type="module" name="STSTraining" ifenabled="false">
  <div task="provider_can_view">
    <hr><h2><a name="search_link" id="search_training_provider" href="search/search_training_provider?no_results=0" class="searchRecords">Búsqueda de proveedor de capacitación</a></h2>
      <p>
      Después de introducir un proveedor de capacitación y un registro de capacitación en el sistema, el registro podrá ser revisado en cualquier momento. Haz clic en Buscar Proveedor de Capacitación para localizar el registro. Desde el registro, la información adicional puede ser añadida o la información existente puede ser actualizada. 
    </p>
       <div id="search_training_provider_replace"></div>
  </div>
  </span></div>
  <span type="module" name="STSTraining" ifenabled="false">
  <div task="can_edit_database_lists">
    <hr><h2><a class="updateRecords" href="auto_list">Administrar cursos de capacitación</a></h2>
    <p>
      Añadir nuevos cursos de capacitación y asignarlos a los proveedores así como administrar cualquier otras listas desplegables.
    </p>
  </div>
  </span>
  
  <span type="module" name="InstanceCalendar" ifenabled="true">
    <hr><h2><a href="instance_calendar" class="searchRecords">Calendario de instancia de capacitación</a></h2>
    <p>
      Ver las instancias de capacitación en un calendario para ver las próximas capacitaciones.
    </p>
  </span>

