<div><!-- start position -->
 <span task='person_can_view_child_form_salary'>
   <h2><span task='person_can_view_child_form_person_position'  type="form" href='view_position?id=' name="person_position:position"><span type="form" name="person_position:position"></span>
 </span>
  </h2>
  <center>
    Start Date: <span type="form" name="person_position:start_date"></span> 
    <span type="form" name="person_position:end_date" ifset="true"> &nbsp;&nbsp;&nbsp; <span>End Date</span>: </span>
  </center>
  <div id='salary_list'> <!-- begin salary list-->
    
  </div> <!-- end salary list-->
 </span>
</div> <!-- end position -->
