<div class="recordsData">
  <h4>Action Plan To Improve Performance </h4>
  <p class="editRecordsData" id="action_plan_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('action_plan',true);">Hide</a>
    <span type="form" name="assessment:id" ifset="!action_plan:id" href="action_plan?parent=">Add Action Plan To Improve Performance</span>
  </p>

  <div id="action_plan" task='person_can_view_child_form_assessment'>
    <div class="editRecord">
      <p>Edit This Information</p>
      <ul>
        <li task='person_can_edit_child_form_assessment'>
          <span type="form" ifset="action_plan:id" name="action_plan:id" href="action_plan?id=" parent="true">Update this Information</span>
        </li>
      </ul>
    </div> <!-- editRecord -->

    <div class="dataTable">

<table cellpadding="0" cellspacing="0" border="0" class="assessmentForm">
        <tr>
          <th>Performance Gap</th>
          <th>Agreed Action</th>
          <th>Time Frame</th>
        </tr>
        <tr>
          <span type="form" name="action_plan:gap_1" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:action_1" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:time_frame_1" showhead="default" display="field_only_cell" />
        </tr>
        <tr>
          <span type="form" name="action_plan:gap_2" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:action_2" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:time_frame_2" showhead="default" display="field_only_cell" />
          </tr>
        <tr>
          <span type="form" name="action_plan:gap_3" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:action_3" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:time_frame_3" showhead="default" display="field_only_cell" />
          </tr>
        <tr>
          <span type="form" name="action_plan:gap_4" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:action_4" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:time_frame_4" showhead="default" display="field_only_cell" />
        </tr>
        <tr>
          <span type="form" name="action_plan:gap_5" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:action_5" showhead="default" display="field_only_cell" />
          <span type="form" name="action_plan:time_frame_5" showhead="default" display="field_only_cell" /></tr>
        <tr>
       </table>
    </div> <!-- dataTable -->
  </div>
<br></br>
</div>
