<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Bem Vindo</h1>
<p>
<strong>iHRIS Manage</strong> é uma ferramenta de administração de RH que permite à organização projetar e administrar uma estratégia compreensiva de recursos humanos. Enquanto o objetivo primário é administrar o cuidado com a saúde dos trabalhadores, o Administrador do iHRIS pode ser adaptado para outros tipos de forças de trabalho. O Administrador iHRIS é uma solução livre e de código aberto mantida por 
<a href="http://www.capacityplus.org"> Capacidade<i>Mais</i></a>, uma iniciativa global inovadora para apoiar os países em desenvolvimento a consolidarem e manterem o seu pessoal de saúde.
</p>
</div><!-- /welcomeIntro -->