<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Bem Vindo, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Para começar a usar o iHRIS Manage, por favor clique em uma opção abaixo. Retorne para essa página a qualquer hora clicando no botão Home na barra abaixo. Se você precisar de ajuda com qualquer função, clique no botão Ajuda. Nós o encorajamos a nos mandar quaisquer erros que você achar, sugestões para melhoramentos ou funcionalidades adicionais, e qualquer outro feedback que você pode ter com esse software; Contate-nos a qualquer hora clicando no botão Feedback ou visitando <a href="http://www.capacityplus.org/hris/">HRIS Website de Fortalecimento</a>.
</p>
</div><!-- /welcomeIntro -->