<div id="list_display">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li ><span type="form" name="facility_owner:id" href="lists?type=facility_owner&amp;id=" >Update this Information</span></li>
			<li ><a href="lists?type=facility_owner">Select another Facility Ownership/Affiliation</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tbody id="facility_owner">
		<tr>
			<th colspan="2">Facility Ownership/Affiliation</th>
		</tr>
		<span type="form" name="facility_owner:name" showhead="default"></span>
	   	</tbody>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
