<div id="siteContent">
  
  <h1>Administer Database</h1>
  
  <div task="can_edit_position_database_lists">
    <h2>Administer Jobs/Post</h2>
    
    <div task='can_edit_job_structure_database_lists'>
      <h3>Create Job Structure</h3>
      <ul>
        <li task='can_edit_database_list_cadre'>
          <a href="lists?type=cadre">Cadres</a>
        </li>
        <li task='can_edit_database_list_classification'>
          <a href="lists?type=classification">Job Classifications</a>
        </li>
        <li task='can_edit_database_list_job'>
          <a href="lists?type=job">Jobs</a>
        </li>
      </ul>
    </div>
  </div>
  
  <h2>Administer Other Lists</h2>
  
  <div task="can_edit_organization_database_lists">
    <h3>Organization Lists</h3>
    <ul>	         
      <li task='can_edit_database_list_facility_type'>
        <a href="lists?type=facility_type">Facility Type</a>
      </li>
      <li task='can_edit_database_list_facility_owner'>
        <a href="lists?type=facility_owner">Facility Ownership/Affiliation</a>
      </li>
      <li task='can_edit_database_list_facility_type'>
        <a href="lists?type=health_facility&amp;field=location">Health Facility</a>
      </li>
      <span type="module" ifenabled="true" name="Registration">
        <li task='can_edit_database_list_council'>
          <a href="lists?type=council">Registration Councils</a>
        </li>
      </span>
    </ul>
  </div>
  <div task="can_edit_employee_database_lists">
    <h3>Academic Lists</h3>
    <ul>
      
      <li task='can_edit_database_lists_academic_level' >
        <a href="lists?type=academic_level">Academic Level</a>
      </li>
      <li task='can_edit_database_lists_qualification'>
        <a href="lists?type=qualification">Qualification</a>
      </li>
      <li task='can_edit_database_list_id_type'>
        <a href="lists?type=id_type">Identification Type</a>
      </li>
    </ul>
  </div>
  <div task="can_edit_geographic_database_lists">
    <h3>Geographic Information</h3>
    <ul>
      <li task="can_edit_database_list_country">
        <a href="lists?type=country">Country</a>
      </li>
      <li task="can_edit_database_list_region">
        <a href="lists?type=region&amp;field=country">Region</a>
      </li>
      <li task="can_edit_database_list_district">
        <a href="lists?type=district&amp;field=region">District</a>
      </li>
      <li task="can_edit_database_list_county">
        <a href="lists?type=county&amp;field=district">Sub-County</a>
      </li>
      <li task="can_edit_database_list_currency">
        <a href="lists?type=currency">Currency</a>
      </li>
    </ul>
  </div>
  
  <div task="can_edit_database_list_training">
    <h3>Training Information</h3>
    <ul>
      <li task='can_edit_database_list_training_classification'>
        <a href="lists?type=training_classification">Training Classification</a>
      </li>
      <li task='can_edit_database_list_training'>
        <a href="lists?type=training_type">Training Type</a>
      </li>
      <li task='can_edit_database_list_training'>
        <a href="lists?type=training&amp;mapped=training_type">Training Courses</a>
      </li>
      <li task='can_edit_database_list_training'>
        <a href="lists?type=exampaper&amp;mapped=training">Exam Paper</a>
      </li>
      <li task='can_edit_database_list_training'>
        <a href="lists?type=funder">Funder</a>
      </li>
      <li task='can_edit_database_list_providertraining'>
        <a href="lists?type=providertraining&amp;mapped=training">Assign Provider Trainings</a>
      </li>
      <li task='can_edit_database_list_fee'>
        <a href="lists?type=fee_type">Fee Type</a>
      </li>
    </ul>
  </div>
  
</div>
