<ul>
	<li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Individual Information</a></li>
	<span name='PersonContact' type='moduled' ifenabled='true'>
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Contact Information</a></li>
	</span>
	<li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Education Information</a></li>
	<li><a href="#jump_registration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Registration Information</a></li>
	<li><a href="#jump_position" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Position</a></li>
	<li><a href="#jump_instance" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Trainings</a></li>
    <span type='module' name='PersonNotes' ifenabled='true'>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Notes</a></li>
    </span>
    <span type='module' name='RecordVerify' ifenabled='true'>
       <li><a href="#jump_record_verify" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Record Verification</a></li>
    </span>
</ul>
