.recordsData div.dataList div.dataTable {
    float: none;
    width: 100%;
}
.recordsData div.dataList div.dataTable table td,
.recordsData div.dataList div.dataTable table td:first-child,
.recordsData div.dataList div.dataTable table th
.recordsData div.dataList div.dataTable table th:first-child {
    width: auto;
}
.recordsData div.dataList div.dataTable table th.editRecord {
    background: #515151 url(icon_edit.gif) no-repeat 1px 1px;
    width: auto;
    padding-left: 32px;
    float: none;
}
