<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">المعلومات الفردية</a></li>
	<span type="module" name="PersonContact" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">معلومات الإتصال</a></li>
	</span>
	<li><a href="#jump_position" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">معلومات الوظيفة</a></li>
	<span type="module" name="manage-training-course" ifenabled="true">
	  <li><a href="#jump_courses" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">دورات تدريبية</a></li>
	</span>
	<span type="module" name="PersonAttendance" ifenabled="true">
	  <li><a href="#jump_person_attendance" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Attendance Information</a></li>
	</span>
	<li><a href="#jump_qualification" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">مؤهلات</a></li>
	<span type="module" name="disciplinary_action" ifenabled="true">
	  <li><a href="#jump_disciplinary_action" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">إجراءات تأديبية</a></li>
	</span>
	<span type="module" name="accident" ifenabled="true">
	  <li><a href="#jump_accident" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">حوادث العمل</a></li>
	</span>
	<span type="module" name="ihris-manage-Application" ifenabled="true">
	  <li><a href="#jump_application" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">طلب</a></li>
	</span>
	<span type="module" name="PersonEmployment" ifenabled="true">
	  <li><a href="#jump_employment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">تاريخ التوظيف</a></li>
	</span>
	<span type="module" name="PersonEducation" ifenabled="true">
	  <li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">تاريخ التعليم</a></li>
	</span>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">ملاحظات</a></li>
	<span type="module" name="SelfService" ifenabled="true">
	  <li>
	    <a href="#jump_self_service" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">خدمة ذاتية</a>
	  </li>
	</span>
	<span type="module" name="PersonArchivedScan" ifenabled="true">
	  <li><a href="#jump_archived_scans" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">السجلات الممسوحة ضوئيا</a></li>
	</span>
	<span type="module" name="RecordStatus" ifenabled="true">
	  <li><a href="#jump_record_status" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;" dir="rtl">حالة السجل</a></li>
	</span>

</ul>