<tbody id="list_fields">
    <tr>
        <td class="formdata">
            <span type="form" name="training:name" showhead="default"></span>
            <span type="form" name="training:code" showhead="default"></span>
            <span type="form" name="training:training_classification" showhead="default"></span>
			<span type="form" name="training:training_type" showhead="default"></span>
        </td><td class="formdata">
           <span type="form" name="training:training_length" showhead="default"></span>
           <span type="form" name="training:training_length_type" showhead="default"></span>
            <span type="form" name="training:cpd_credit" showhead="default"></span>
            <span type="form" name="training:summary" showhead="default"></span>
        </td>
    </tr>
</tbody>
