<div id="list_display" class='recordsData' task="can_view_database_list_training">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_training'><span type="form" name="training:id" href="lists?type=training&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=training">Select another Training</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Training Information</th>
		</tr>
		<span type="form" name="training:name" showhead="default" class="even"></span>
		<span type="form" name="training:code" showhead="default"></span>
		<span type="form" name="training:training_classification" showhead="default" class="even"></span>
		<span type="form" name="training:training_type" showhead="default"></span>
		<span type="form" name="training:training_length" showhead="default" class="even"></span>
		<span type="form" name="training:training_length_type" showhead="default" ></span>
		<span type="form" name="training:cpd_credit" showhead="default" class="even"></span>
		<span type="form" name="training:summary" showhead="default" ></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
