<tbody id="person_form">
<tr>
  <th colspan="2"><span type="form" name="confirmation:confirmation_type" noedit='true'></span> </th>
</tr>
<tr id="list_fields">
  <td>
    <span type="form" name="confirmation:confirmation_type" hidden='true'></span>
    <span type="form" name="confirmation:date" showhead="default"></span>
    <span type="form" name="confirmation:valid" showhead="default"></span>
    <span type='module' name='ihris-manage-ConfirmationAttachment' ifenabled='true'>
      <span type="form" name="confirmation:record" showhead="default"></span>
    </span>
  </td>
</tr>
</tbody>
