<tbody>
  <tr>
    <th colspan="2">Appraisal Information</th>
  </tr>
  <tr id="list_fields">
    <td>
       <span type="form" name="appraisal:start_date" showhead="default"></span>
      <span type="form" name="appraisal:end_date" showhead="default"></span>
      <span type="form" name="appraisal:perfomance_level" showhead="default"></span>
      <span type="form" name="appraisal:appraiser" showhead="default"></span>
      <span type="form" name="appraisal:appraisal_date" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="appraisal:action_points" showhead="default"></span>
      <span type="form" name="appraisal:note" showhead="default"></span>
    </td>
  </tr>
</tbody>
