<tbody>
  <tr>
    <th colspan="2">Bank Detail</th>
  </tr>
  <tr id="list_fields">
    <td>
       <span type="form" name="banking:account_name" showhead="default"></span>
      <span type="form" name="banking:account_number" showhead="default"></span>
      <span type="form" name="banking:account_type" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="banking:bank_name" showhead="default"></span>
      <span type="form" name="banking:bank_branch" showhead="default"></span>
    </td>
  </tr>
</tbody>
