<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Herzlich willkommen</h1>
<p>
<strong>iHRIS Manage</strong> ist eine Personalverwaltungssoftware, die es einer Organisation ermöglicht, eine umfassende Personalverwaltungsstrategie zu entwickeln und zu steuern. Obwohl primär für die Steuerung von Mitarbeitern des Gesundheitswesens bestimmt, kann iHRIS Manage ohne weiteres an andere Arbeitsbereiche angepasst werden. iHRIS Manage ist freie Open-Source-Softwarelösung, entwickelt von 
<a href="http://www.capacityplus.org"> Kapazität<i>Plus</i></a>, , ist eine innovative und globale Initiative, die Entwicklungsländern bei Aufbau und Stärkung ihrer Arbeitskräfte des Gesundheitswesens unterstützen soll.
</p>
</div><!-- /welcomeIntro -->