<div id="siteContent">
  <h1>Scheduled Training Courses: 
    <span type="form" name="provider_instance:id" href="viewprovider?id="><span type="form" name="provider_instance:providertraining" /></span></h1>
    <div id="edit_exam_title" />
    <div id="error" />
    <form method="POST">
      <div id="exam_details" />
      <span type="form" name="provider_instance:id"></span>
      <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
        <thead>
          <tr id="participant_header">
            <th>Firstname</th>
            <th>Surname</th>
          </tr>
        </thead>
        <tbody id="participant_list">
        </tbody>
        <tfoot>
        <tr class="submitCell">
          <td style="text-align: left;" colspan="3">
            <br />
            <span type="form" name="provider_instance:id" href="viewprovider?id=" class="button">return</span>
            <div id="button_save" />
          </td>
        </tr>
        </tfoot>
      </table>
    </form>
</div>
