<tbody id="list_fields">
	<tr>
	<td class="formdata_wide">
	  <span type="form" name="person_leave_type:name" showhead="default"></span>
	  <span type="form" name="person_leave_type:length" showhead="default"></span>
	  <span type="form" name="person_leave_type:allow_carryover" showhead="default"></span>
	  <span type="form" name="person_leave_type:carryover_days" showhead="default"></span>
	  <span type="form" name="person_leave_type:recurrence" showhead="default"></span>
	</td>
    </tr>
</tbody>
