<div task='person_can_view_child_form_drop_semester'>
	<div class="editRecord">
    <p>Resume To Studies</p>
    <ul>
      <span >
	  <li  task='drop_semester_can_edit_child_form_resume_semester'>
	    <span  type="form" name="drop_semester:id" 
		   href="resume_semester?parent="  		   
		   ifset="!resume_semester:id">
	      Resume To This Dropped Semester
	    </span>
	  </li>
    </ul>
  </div> <!-- editRecord -->
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Student Semester Drop</th>
      </tr>
      <span type="form" name="drop_semester:semester" showhead="default"></span>
		<span type="form" name="drop_semester:academic_year" showhead="default"></span>
		<span type="form" name="drop_semester:reason" showhead="default"></span>
		<span type="form" name="drop_semester:drop_date" showhead="default"></span>
    </table>
	<span ifset='true' name='has_resume_semester'>
	  <table border="0" cellspacing="0" cellpadding="0" id='resume_semester'>
	  </table>
	</span>
</div> <!-- dataTable -->
</div>
