<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Benvenuto/a</h1>
<p>
<strong>iHRIS Manage</strong> è un tool per la gestione delle risorse umane che permette ad una società di impostare e gestire una strategia complessiva delle risorse umane. Inizialmente pensato per gestire i salari del lavoratori nel settore sanitario, iHRIS Manage può essere facilmente adattato ad altri settori lavorativi. iHRIS Manage è una soluzione gratuita e Open Source sviluppata da 
<a href="http://www.capacityplus.org"> Capacity<i>Più</i></a>, un'iniziativa globale innovativa per aiutare i paesi in via di sviluppo a costruire e sostenere il settore sanitario.
</p>
</div><!-- /welcomeIntro -->