<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Benvenuto, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Per cominciare a utilizzare iHRIS Manage, scegli una delle opzioni qui sotto. Potrai tornare in questa pagina in qualsiasi momento cliccando sul bottone Home qua sopra. Se hai bisogno di aiuto su una qualsiasi funzione, clicca su Aiuto. Ti incoraggiamo a inviarci tutti gli errori che trovi, i consigli per migliorare o le funzioni da aggiungere, e tutte le altre impressioni che avrai su questo programma. Contattaci in ogni momento cliccando su Feedback o visitando <a href="http://www.capacityplus.org/hris/">HRIS Sito web di riferimento</a>.
</p>
</div><!-- /welcomeIntro -->