<div >
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
       <li task='person_can_edit_child_form_person_training'><span type="form" name="person_training:id" href="person_training?id=" parent="true">Update this Information</span></li>
    </ul>
  </div> <!-- editRecord -->

  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Training</th>
      </tr>
        <span type="form" name="person_training:training_type" showhead="default"></span>
        <span type="form" name="person_training:training_institution" showhead="default" class="even"></span>
        <span type="form" name="person_training:venue" showhead="default"></span>
        <span type="form" name="person_training:start_date" showhead="default" class="even"></span>
        <span type="form" name="person_training:end_date" showhead="default"></span>
        <span type="form" name="person_training:pre_test" showhead="default" class="even"></span>
        <span type="form" name="person_training:post_test" showhead="default"></span>
    </table>
  </div> <!-- dataTable -->
</div>
