<div id="siteContent">
<h1>Pamahalaan ang mga Tao</h1>
<div task="person_can_edit">
  <h2><a href="person" class="createRecords">Magdagdag ng Tao</a></h2>
  <p>
    <span type="module" name="ihris-manage-Application" ifenabled="true">
      Upang masubaybayan ang isang tao sa loob ng kalipunan ng tao, kung empleyado man o isang aplikante para sa hanapbuhay, magdagdag ng isang rekord para sa taong iyan.  Kailangan ang partikular na kabatiran upang makapagsimula ng isang bagong rekord.  Kapag nalikha na ang isang rekord, ang karagdagang mga mapagpipilian para sa pagdaragdag ng dato hinggil sa tao ay magiging nakukuha.  Ang isang taong tauhan ng Kuhanan ng Tao o isang Tagapamahala ng Kuhanan ng Tao ay makapagdaragdag ng isang bagong tao sa sistema.     
    </span>
    <span type="module" name="ihris-manage-Application" ifenabled="!true">
      Upang masubaybayan ang isang tao sa loob ng kalipunan ng dato, magdagdag ng isang rekord para sa taong iyon.  Kailangan ang partikular na kabatiran upang makapagsimula ng isang rekord.  Kapag nalikha na ang isang rekord, makakakuha ng karagdagang mga mapagpipilian para sa pagdaragdag ng dato tungkol sa tao.  Ang isang taong tauhan ng Kuhanan ng Tao o isang Tagapamahala ng Kuhanan ng Tao ang makapagdaragdag ng isang tao sa sistema.
    </span>

  </p>

  <hr></div>

<!--
<h2><a href="search?search_limit=3" class="searchRecords">Find Employee</a></h2>
<p>
  After entering an employee's record into the system and setting a position for that 
  employee, the record may be reviewed at any time. Click Find Employee to locate 
  the record. From the record, additional information can be added or existing 
  information can be updated. 
</p>

<hr />
-->

<span type="module" name="ihris-manage-Application" ifenabled="true">
<span role="hr_staff|exec_manager">
    <!--
  <h2><a href="search?search_limit=2" class="searchRecords">Find Applicant</a></h2>
  <p>
    After entering an person's record into the system and adding an application for 
    that person, the record may be reviewed at any time. Click Find Applicant to locate 
    the record. From the record, additional information can be added or existing 
    information can be updated.
  </p>

  <hr />
  -->
  <h2><a href="manage?action=review">Suriin ang mga Aplikante</a></h2>
  <p>
    Kapag naitala na ang isa o mahigit pang mga aplikasyon para sa isang bukas na posisyon, isang taong Tauhan ng Tagakuha ng Tao, Tagapamahala ng Kuhanan ng Tao, o Tagapamahalang Tagapagpatupad ay maaaring makapagsuri ng mga aplikasyon at makapagtatala ng mga tala sa kahabaan ng pagkuha ng tauhan. Pindutin ang Suriin ang mga Aplikante upang suriin ang lahat ng mga aplikasyon para sa anumang bukas na posisyon.
  </p>
</span>
</span>

</div>
