<tbody id="person_form">
<tr>
    <th colspan="2">Hiring Decision</th>
</tr>
<tr id="list_fields">
	<td colspan="2">
	   	<span type="form" name="position_decision:date" showhead="default"></span>
	   	<span type="form" name="position_decision:offer" showhead="default"></span>
	   	<span type="form" name="position_decision:comments" showhead="default"></span>
		<span type='module' name='ihris-manage-ApplicationAttachment' ifenabled='true'>
		  <span type="form" name="position_decision:record" showhead="default"></span>
		</span>
    </td>
</tr>
</tbody>
