<div>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li role='hr_staff'><span type="form" name="application:id" href="application?id=" parent="true" >Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
    	<th colspan="2">Open Position(s) Applied For</th>
	</tr>
	<span type="form" name="application:position" showhead="default"></span>
	<span type="form" name="application:start_date" showhead="default" class="even"></span>
	<span type="form" name="application:desired_wage" showhead="default"></span>
	<span type="form" name="application:full_time" showhead="default" class="even"></span>
	<span type="form" name="application:hours" showhead="default"></span>
	<tr>
		<th colspan="2">Applicant Questions</th>
	</tr>
	<span type="form" name="application:hear" showhead="default"></span>
	<span type="form" name="application:other_info" showhead="default" class="even"></span>
	<span type="form" name="application:felony" showhead="default"></span>
	<span type="form" name="application:felony_circumstance" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
</div>
