<tbody id="form">
  <tr>
   <th colspan="2">Add Attendance</th>
  </tr>
  <tr>
     <td>
       	 <span type="form" name="person_attendance:position" showhead="default" noedit="true"></span>
	     <span type="form" name="person_attendance:month_year" showhead="default"></span>
	     <span type="form" name="person_attendance:days_present" showhead="default"></span>
	 
     </td>
     <td>
	     <span type="form" name="person_attendance:days_off_duty" showhead="default"></span>
         <span type="form" name="person_attendance:days_off_request" showhead="default"></span>
	     <span type="form" name="person_attendance:days_leave" showhead="default"></span>
	 
     </td>
 </tr>
</tbody>
