<div id="manageIndex">
<h1>Gérer les personnes</h1>
<div task="person_can_edit">
  <h2><a href="person" class="createRecords">Ajouter une personne</a></h2>
  <p>
      Pour suivre une personne dans la base de données, ajouter un enregistrement pour cette personne. Certaines informations sont obligatoires pour commencer un nouvel enregistrement. Une fois l’enregistrement généré, des options supplémentaires pour ajouter des données sur la personne deviendront disponibles. 
  </p>

  <hr></div>
<div type="module" name="Lecturers" ifenabled="true">
	<div task="can_add_lecturer">
  	<h2><a href="add_lecturer" class="createRecords">Ajouter du personnel</a></h2>
  	<p>
	Cela permet de créer un nouveau Conférencier, Chef d’établissement, Chef d’établissement adjoint, Chef de clinique, Administrateur académique, Coordinateur de niveau, etc.  
  	</p>
  	</div>
</div>

</div>