<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Information individuelle</a></li>
	<span name="PersonContact" type="moduled" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Information de contact</a></li>
	</span>
	<li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Information sur l’éducation</a></li>
	<li><a href="#jump_registration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Information d’inscription</a></li>
	<li><a href="#jump_position" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Position</a></li>
	<li><a href="#jump_instance" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Formations</a></li>
    <span type="module" name="PersonNotes" ifenabled="true">
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Notes</a></li>
    </span>
    <span type="module" name="RecordVerify" ifenabled="true">
       <li><a href="#jump_record_verify" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Vérification de l’enregistrement</a></li>
    </span>
</ul>