<div id="siteContent">
<h1>Раководење со лица</h1>
<div task="person_can_edit">
  <h2><a href="person" class="createRecords">Додај лице</a></h2>
  <p>
    <span type="module" name="ihris-manage-Application" ifenabled="true">
      За да следите некое лице во базата, било да е вработен или кандидат за работно место, додајте запис за тоа лице. Потребни се извесни информации за да можете да почнете нов запис. Откако ќе ја создадете евиденцијата, ќе добиете дополнителни можности за додавање на податоци за лицето. Ново лице во системот може да додаде член на персоналот за ЧР или раководител на ЧР.     
    </span>
    <span type="module" name="ihris-manage-Application" ifenabled="!true">
      За да следите некое лице во базата, додајте запис за тоа лице. Потребни се извесни информации за да можете да почнете нов запис. Откако ќе ја создадете евиденцијата, ќе добиете дополнителни можности за додавање на податоци за лицето. Ново лице во системот може да додаде член на персоналот за ЧР или раководител на ЧР.
    </span>

  </p>

  <hr></div>

<!--
<h2><a href="search?search_limit=3" class="searchRecords">Find Employee</a></h2>
<p>
  After entering an employee's record into the system and setting a position for that 
  employee, the record may be reviewed at any time. Click Find Employee to locate 
  the record. From the record, additional information can be added or existing 
  information can be updated. 
</p>

<hr />
-->

<span type="module" name="ihris-manage-Application" ifenabled="true">
<span role="hr_staff|exec_manager">
    <!--
  <h2><a href="search?search_limit=2" class="searchRecords">Find Applicant</a></h2>
  <p>
    After entering an person's record into the system and adding an application for 
    that person, the record may be reviewed at any time. Click Find Applicant to locate 
    the record. From the record, additional information can be added or existing 
    information can be updated.
  </p>

  <hr />
  -->
  <h2><a href="manage?action=review">Прегледај кандидати</a></h2>
  <p>
    Откако ќе заведете една или повеќе пријавници за слободно работно место, пријавниците ќе ги прегледа член на персоналот за ЧР, раководител на ЧР или извршен директор и ќе евидентира забелешки во текот на постапката на вработување. Стиснете на „Прегледај кандидати“ за да ги прегледате сите пријавници за извесно слободно работно место.
  </p>
</span>
</span>

</div>
