<div id="siteContent">
<h1>Korralda inimesed</h1>
<div task="person_can_edit">
  <h2><a href="person" class="createRecords">Lisa isik</a></h2>
  <p>
    <span type="module" name="ihris-manage-Application" ifenabled="true">
      Et jälgida isikut andmebaasis, olgu ta töötaja või tööle kandideerija, lisa selle isiku kohta kirje. Teatud info on vajalik, et alustada uus kirje. Kui kirje on loodud, lisavalikud isiku lisainfo andmiseks on saadavad. IR personali liige või IR mänedžer võib lisada uue isiku süsteemi.     
    </span>
    <span type="module" name="ihris-manage-Application" ifenabled="!true">
      Et jälgida isikut andmebaasis, lisa selle isiku kohta kirje. Teatud info on vajalik, et alustada uus kirje. Kui kirje on loodud, lisavalikud isiku lisainfo andmiseks on saadavad. IR personali liige või IR mänedžer võib lisada uue isiku süsteemi.
    </span>

  </p>

  <hr></div>

<!--
<h2><a href="search?search_limit=3" class="searchRecords">Find Employee</a></h2>
<p>
  After entering an employee's record into the system and setting a position for that 
  employee, the record may be reviewed at any time. Click Find Employee to locate 
  the record. From the record, additional information can be added or existing 
  information can be updated. 
</p>

<hr />
-->

<span type="module" name="ihris-manage-Application" ifenabled="true">
<span role="hr_staff|exec_manager">
    <!--
  <h2><a href="search?search_limit=2" class="searchRecords">Find Applicant</a></h2>
  <p>
    After entering an person's record into the system and adding an application for 
    that person, the record may be reviewed at any time. Click Find Applicant to locate 
    the record. From the record, additional information can be added or existing 
    information can be updated.
  </p>

  <hr />
  -->
  <h2><a href="manage?action=review">Vaata üle taotlejad</a></h2>
  <p>
    Kui üks või rohkem taotlusi on registreeritud, IR personali isik, IR mänedžer, või peamänedžer saab vaadata üle taotlused ja teha märkmeid tööle võtmise ajal. Klõpsa nupule Vaata üle taotlejad, et üle vaadata kõik taotlused avatud kohtadele.
  </p>
</span>
</span>

</div>
