<tbody id="person_form">
<tr>
    <th colspan="2">Workplace Accident Information</th>
</tr>
<tr id="list_fields">
	<td>
	   	<span type="form" name="accident:accident_type" showhead="select">
	   	</span>
		<span type='form' name="accident:start_date" showhead="default"></span>
		<span type='form' name="accident:end_date" showhead="default"></span>
  </td><td>
		<span type='form' name="accident:occurence_date" showhead="default"></span>
		<span type='form' name="accident:persons_involved" showhead="default"></span>
		<span type='form' name="accident:followup" showhead="default"></span>
		
	</td>
</tr>
</tbody>
