<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Bienvenue</h1>
<p>
<strong>Gestion iHRIS</strong> " iHRIS Manage est un outil de gestion des ressources humaines qui permet à une organisation de concevoir et de gérer une stratégie globale des ressources humaines. Bien qu’essentiellement destiné à la gestion des travailleurs de la santé, iHRIS Manage peut facilement s’adapter à d’autres types de personnels. iHRIS Manage est un logiciel gratuit, d’exploitation libre mis au point par" 
<a href="http://www.capacityplus.org"> Capacité<i>Plus</i></a>, ", une initiative mondiale innovante visant à aider les pays développés à renforcer et maintenir le personnel de santé."
</p>
</div><!-- /welcomeIntro -->