<div id="list_display" class="recordsData" task="can_view_database_list_accident_type">
	
	<div class="editRecord">
	<p>இத்தகவலை திருத்து</p>
		<ul><li task="can_edit_database_list_accident_type"><span type="form" name="accident_type:id" href="lists?type=accident_type&amp;id=">இத்தகவலை புதுப்பிக்கவும் </span></li>
			<li><a href="lists?type=accident_type">Select another Accident Type</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">நேர்ச்சியின் (விபத்தின்) வகை</th>
		</tr><span type="form" name="accident_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
