<tbody id="person_form"><tr><th>Nouveau Poste</th>
    <th>Poste actuel</th>
  </tr><tr id="list_fields"><td id="new_position">
      <input type="hidden" name="can_edit_position" value="0"><p name="allow_new_position_tab" ifset="true" id="position_tab" class="tabBar">
        <span id="select_position_tab" class="active">
          <input type="radio" name="position_option" value="select" id="select_position_button" onclick="enablePositionNode('select_position', 'create_position');"><label for="select_position_button" class="active" href="" onclick="enablePositionNode('select_position','create_position');">Sélectionner la position existante</label>
        </span>
        <span id="create_position_tab" class="select">
          <input type="radio" name="position_option" value="create" id="create_position_button" onclick="enablePositionNode('create_position', 'select_position');"><label for="create_position_button" href="" onclick="enablePositionNode('create_position','select_position');">Ajouter une nouvelle position</label>
        </span>
      </p>
     <span id="select_position">
       <span id="set_person_position" type="form" name="person_position:position" noedit="true" showhead="default" addlink="lists?add=1&amp;type=position" addtask="position_can_edit"></span>
     </span>
      <span id="create_position" style="display: none;" name="allow_new_position" ifset="true">
        <span type="form" name="position:job" showhead="default" onchange="if ( document.getElementById('forms[position][0][0][fields][title]').value == '' &amp;&amp; this.selectedIndex != 0 ) document.getElementById('forms[position][0][0][fields][title]').value = this.options[this.selectedIndex].text;"></span>
        <span type="form" name="position:title" showhead="default"></span>
        <span type="form" name="position:facility" showhead="default"></span>
        <span type="form" name="position:code" showhead="default"></span>
      </span>
       <span type="form" name="person_position:start_date" showhead="default"></span>
      <span type="module" name="ihris-manage-Salary" ifenabled="true">
        <span task="person_can_edit_child_form_salary">
          <span type="form" name="salary:salary" showhead="default"></span>
        </span>
      </span>


    </td>
    <td id="current_position">
      <span type="form" name="person_position:position" display="true" showhead="default"></span>
      <span type="form" name="person_position:start_date" showhead="default" display="true"></span>
      <span type="form" name="person_position:reason" showhead="default"></span>

      <span type="form" name="position:status" head="Entrez un nouveau statut pour ce Poste actuel"></span>

    </td>
  </tr></tbody>