<div id="list_display" class="recordsData" task="can_view_database_list_disciplinary_action_type">
	
	<div class="editRecord">
	<p dir="rtl">تعديل هذه المعلومة</p>
		<ul><li task="can_edit_database_list_disciplinary_action_type"><span type="form" name="disciplinary_action_type:id" href="lists?type=disciplinary_action_type&amp;id=" dir="rtl">تحديث هذه المعلومة </span></li>
			<li><a href="lists?type=disciplinary_action_type" dir="rtl">حدد  إجراء تأديبياً آخر</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2" dir="rtl">نوع الإجراء التأديبي</th>
		</tr><span type="form" name="disciplinary_action_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
