<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Vítejte</h1>
<p>
<strong>iHRIS Manage</strong> je nástroj pro správu lidských zdrojů, který umožňuje organizaci navrhnout a spravovat podrobnou strategii lidských zdrojů. I když je hlavně zaměřen na správu pracovníků zdravotnické péče, iHRIS Manage může být snadno upraven na jiné typy pracovních sil. iHRIS Manage je Open Source softwarové řešení, který vyvíjí 
<a href="http://www.capacityplus.org"> Kapacita<i>Plus</i></a>, inovativní globální iniciativa na pomoc rozvojovým zemím postavit a udržet pracovní síly ve zdravotnictví.
</p>
</div><!-- /welcomeIntro -->