<div id="siteContent">
<h1>Mitarbeiter verwalten</h1>
<div task="person_can_edit">
  <h2><a href="person" class="createRecords">Mitarbeiter hinzufügen</a></h2>
  <p>
    <span type="module" name="ihris-manage-Application" ifenabled="true">
      Um eine Person in der Datenbank nachverfolgen zu können, ob ein Mitarbeiter oder ein Bewerber, ist eine Personalunterlage zu dieser Person anzulegen. Bestimmte Informationen werden benötigt, um eine Personalunterlage anlegen zu können. Sobald die Personalunterlage angelegt wurde, werden zusätzliche Möglichkeiten zum Hinzufügen von Daten zu dieser Person verfügbar sein. Ein Mitarbeiter Personal oder eine Führungskraft Personal kann eine neue Person in das System aufnehmen.     
    </span>
    <span type="module" name="ihris-manage-Application" ifenabled="!true">
      Um eine Person in der Datenbank nachverfolgen zu können, ob ein Mitarbeiter oder ein Bewerber, ist eine Personalunterlage zu dieser Person anzulegen. Bestimmte Informationen werden benötigt, um eine Personalunterlage anlegen zu können. Sobald die Personalunterlage angelegt wurde, werden zusätzliche Möglichkeiten zum Hinzufügen von Daten zu dieser Person verfügbar sein. Ein Mitarbeiter Personal oder eine Führungskraft Personal kann eine neue Person in das System aufnehmen.
    </span>

  </p>

  <hr></div>

<!--
<h2><a href="search?search_limit=3" class="searchRecords">Find Employee</a></h2>
<p>
  After entering an employee's record into the system and setting a position for that 
  employee, the record may be reviewed at any time. Click Find Employee to locate 
  the record. From the record, additional information can be added or existing 
  information can be updated. 
</p>

<hr />
-->

<span type="module" name="ihris-manage-Application" ifenabled="true">
<span role="hr_staff|exec_manager">
    <!--
  <h2><a href="search?search_limit=2" class="searchRecords">Find Applicant</a></h2>
  <p>
    After entering an person's record into the system and adding an application for 
    that person, the record may be reviewed at any time. Click Find Applicant to locate 
    the record. From the record, additional information can be added or existing 
    information can be updated.
  </p>

  <hr />
  -->
  <h2><a href="manage?action=review">Überprüfung Kandidat</a></h2>
  <p>
    Eine oder mehrere Bewerbungen wurden zu einer offenen Stelle erfasst. Ein Mitarbeiter Personal, eine Führungskraft Personal oder eine Führungskraft kann die Bewerbungen durchsehen und Notizen während des Einstellungsverfahrens machen. „Bewerber durchsehen“ anklicken, um alle Bewerbungen für jede offene Stelle einzusehen.
  </p>
</span>
</span>

</div>
