<div id="siteContent">
    <h1>Адміністрування бази даних</h1>

    <h3>Списки ліцензій</h3>
    <ul><li><a href="lists?type=qualification">Кваліфікація</a></li>    	
    	<li><a href="lists?type=cadre">Кадровий склад</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Курс підвищення кваліфікації</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Категорія дисциплінарного заходу</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Причина дисциплінарного заходу</a></li>
       	<li><a href="lists?type=out_migration_reason">Причина міграції ззовні</a></li>
    	<li><a href="lists?type=training_disruption_category">Категорія порушення навчання</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Причини порушення навчання</a></li>
    </ul><h3>Демографічні списки</h3>
    <ul><li><a href="lists?type=academic_level">Академічний рівень</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Сертифікат</a></li>
    	<li><a href="lists?type=id_type">Тип ідентифікації</a></li>
    	<li><a href="lists?type=contact_group">Contact Group</a></li>
    	<li><a href="lists?type=marital_status">Сімейний стан</a></li>
    </ul><h3>Географічні списки</h3>
    <ul><li><a href="lists?type=country">Країна</a></li>
    	<li><a href="lists?type=region&amp;field=country">Регіон</a></li>
    	<li><a href="lists?type=district&amp;field=region">Район</a></li>
    	<li><a href="lists?type=county&amp;field=district">Повіт</a></li>
    </ul><h3>Список установ</h3>
    <ul><li><a href="lists?type=health_facility">Медичний заклад</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Навчальний заклад</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Агент закладу</a></li>
    	<li><a href="lists?type=facility_type">Тип закладу</a></li>
    	<li><a href="lists?type=facility_status">Статус закладу</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3>Адміністративні списки</h3>
    <ul><li><a href="lists?type=verify_change">Зміни перевірки записів</a></li>
    </ul></span>
    
</div>
