<div id="list_display">
	
	<div class="editRecord">
	<p>Редагувати цю інформацію</p>
		<ul><li role="manager"><span type="form" name="academic_level:id" href="lists?type=academic_level&amp;id=">Оновити цю інформацію</span></li>
			<li role="manager"><a href="lists?type=academic_level">Вибрати інший академічний рівень</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tbody id="academic_level"><tr><th colspan="2">Академічний рівень</th>
		</tr><span type="form" name="academic_level:name" showhead="default"></span>
	   	</tbody></table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
