<div id="list_display">
	
	<div class="editRecord">
	<p>编辑此信息</p>
		<ul><li task="pos_change_reason_can_edit"><span type="form" name="pos_change_reason:id" href="lists?type=pos_change_reason&amp;id=">更新此信息 </span></li>
			<li task="pos_change_reason_can_view"><a href="lists?type=pos_change_reason">选择另一个离职的原因</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">离职原因</th>
		</tr><span type="form" name="pos_change_reason:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
