<div id="list_display">
	
	<div class="editRecord">
	<p>编辑此信息</p>
		<ul><li task="can_edit_database_list_department"><span type="form" name="department:id" href="lists?type=department&amp;id=">更新此信息</span></li>
			<li task="can_view_database_list_department"><a href="lists?type=department">选择另一个部门</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">部门</th>
		</tr><span type="form" name="department:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
