<div task='can_view_person_accidents'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <span >
	<li  task='can_edit_person_accidents'>
	  <span  type="form" 
		 name="accident:id" 
		 href="accident?id=" 
		 parent='true'>
	    Correct this Information
	  </span>
	</li>
      </span>
    </ul>
  </div> <!-- editRecord -->

  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Accident</th>
      </tr>
      <span type="form" name="accident:accident_type" showhead="default" class="even"></span>
      <span type="form" name="accident:occurence_date" showhead="default" ></span>
      <span type='form' name="accident:start_date" showhead="default" class="even"></span>
      <span type='form' name="accident:end_date" showhead="default"></span>
      <span type='form' name="accident:persons_involved" showhead="default" class="even"></span>
      <span type='form' name="accident:followup" showhead="default"></span>

    </table>
  </div> <!-- dataTable -->
  
  
</div>
