<div id="list_display">
	
	<div class="editRecord">
	<p>Baguhin ang Kabatirang Ito</p>
		<ul><li task="pos_change_reason_can_edit"><span type="form" name="pos_change_reason:id" href="lists?type=pos_change_reason&amp;id=">Isapanahon ang Kabatirang ito </span></li>
			<li task="pos_change_reason_can_view"><a href="lists?type=pos_change_reason">Pumili ng iba pang Dahilan ng Paglisan</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Dahilan ng Paglisan</th>
		</tr><span type="form" name="pos_change_reason:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
