<div id="siteContent">
  <form id="form1" method="post" action="login">
  <table border="0" cellspacing="0" cellpadding="0" class="loginTable"><tr><td colspan="2"><h2>Будь ласка, увійдіть</h2>
        <span style="font-size: 12px;">Введіть ваше ім'я користувача і пароль.</span>
        <hr><span id="error_message" name="error_message"></span></td>
    </tr><tr><th>Ім'я користувача:</th>
      <th>Пароль:</th>
    </tr><tr><td><input type="text" name="username"></td>
      <td><input type="password" name="password"></td>
    </tr><tr><td colspan="2">
      <input type="submit" value="Login" name="submit" class="button"><span class="forgot"><a href="forgot">Забули ім'я користувача або пароль?</a></span></td>
    </tr></table></form>
  <span type="module" name="ManageSelfServiceApplication" ifenabled="true">
    <h2>Нинішні посади</h2>
    <!--    <span type='module' name='SelfService' if='canSelfRegister()'><a href="SelfService/register">Register</a></span> -->
    <p></p>
    <span type="module" name="SelfService" if='canViewReport("open_position")'><a href="SelfService/view/open_position">Перегляд вакансій</a></span>
  </span>

</div>

