<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Bienvenido/a, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Para empezar a usar la capacitación de iHRIS, por favor haz clic en una de las opciones de abajo. Vuelve a esta página en cualquier momento haciendo clic en el botón de inicio en la barra superior. Si necesitas ayuda con una función, haz clic en el botón de ayuda. Te invitamos a enviarnos cualquier error que encuentres, sugerencias para mejoras o funciones adicionales, y cualquier otro tipo de comentario que tengas acerca de este software; contacta con nosotros en cualquier momento haciendo clic en el botón de comentarios o visitando el <a href="http://www.capacityplus.org/hris/">Sitio de fortalecimiento de HRIS</a>.
</p>
</div><!-- /welcomeIntro -->
