<tbody id="person_form">
<tr>
<th colspan="2">New In-service Training</th>
</tr>
<tr>
 <td>
 <span type="form" name="person_training:training_type" showhead="default"></span>
 <span type="form" name="person_training:training_institution" showhead="default"></span>
 <span type="form" name="person_training:venue" showhead="default"></span>
 </td><td>
 <span type="form" name="person_training:start_date" showhead="default"></span>
 <span type="form" name="person_training:end_date" showhead="default"></span> 
  <span type="form" name="person_training:pre_test" showhead="default"></span>
 <span type="form" name="person_training:post_test" showhead="default"></span> 
</td>
 </tr>
 </tbody>
