<div id="list_display">
	
	<div class="editRecord">
	<p>Hariri Taarifa Hii</p>
		<ul><li task="can_edit_database_list_position_type"><span type="form" name="position_type:id" href="lists?type=position_type&amp;id=">Sasisha Taarifa hii</span></li>
			<li task="can_view_database_list_position_type"><a href="lists?type=position_type">Chagua Nafasi ya aina nyingine</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Aina ya Nafasi</th>
		</tr><span type="form" name="position_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
