<tbody id="list_fields">
	<tr>
	<td class="formdata">
	   	<span type="form" name="health_facility:name" showhead="default"></span>
	   	<span type="form" name="health_facility:id_code" showhead="default"></span>
	   	<span type="form" name="health_facility:facility_type" showhead="default" addlink="lists?add=1&amp;type=facility_type"></span>
	   	<span type="form" name="health_facility:facility_owner" showhead="default" addlink="lists?add=1&amp;type=facility_owner"></span>
	</td><td class="formdata">
	   	<span type="form" name="health_facility:location" showhead="default" addlink="lists?add=1&amp;type=country"/>
    </td>
    </tr>
</tbody>
