<tbody id="person_form">
<tr>
    <th colspan="2">Registration Information</th>
</tr>
<tr>
	<td>
		<span type="form" name="registration:registration_number" noedit="true" showhead="default"></span>
		<span type="form" name="registration:academic_year" noedit="true" showhead="default"></span>
    <span type="form" name="registration:training_program" showhead="default"></span>
    <span type="form" name="registration:training_institution" showhead="default"></span>
	</td><td>
    <span type="form" name="registration:registration_date" showhead="default"></span>
		<span type="form" name="registration:level" showhead="default"></span>
		<span type="form" name="registration:semester" showhead="default"></span>
    </td>
</tr>
</tbody>
