<tbody id="person_form">
<tr>
    <th colspan="2">Disciplinary Action Information</th>
</tr>
<tr id="list_fields">
	<td>
	   	<span type="form" name="disciplinary_action:disciplinary_action_type" showhead="select"/>
	   	<span type="form" name="disciplinary_action:disciplinary_action_reason" showhead="select"/>
		<span type='form' name="disciplinary_action:start_date" showhead="default"></span>
		<span type='form' name="disciplinary_action:end_date" showhead="default"></span>
  </td><td>
		<span type='form' name="disciplinary_action:action_date" showhead="default"></span>
		<span type='form' name="disciplinary_action:persons_present" showhead="default"></span>
		<span type='form' name="disciplinary_action:notes" showhead="default"></span>
		
	</td>
</tr>
</tbody>
