<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'ආයුබෝවන්, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
iHRIS Manage භාවිතා කිරීම ඇරඹීමට කරුණාකර පහත විකල්ප වලින් එකක් ක්ලික් කරන්න. මෙම පි‍ටුවට නැවත පැමිණීමට ඉහළ ඇති තීරුවේ Home බොත්තම ඔබන්න. ඔබට කිසියම් කාර්යයක් සම්බන්ධයෙන් උදව් අවශ්‍ය වේ නම් උදව් බොත්තම ක්ලික් කරන්න. ඔබ මෙම මෘදුකාංගය භාවිතා කිරීමේදී මතුවන ගැටලු, වැරදි, වැඩිදියුණු කිරීමට යෝජනා, අමතර උපාංග මෙන්ම වෙනත් ඕනෑම ආකාරයේ ප්‍රතිචාර අප වෙත එවන ලෙස ඉල්ලා සිටින අතර ඔබට ප්‍රතිචාර බොත්තම එබීමෙන් ඕනෑම වෙලාවක අපව සම්බන්ධ කරගැනීමට හැක. පිවිසෙන්න <a href="http://www.capacityplus.org/hris/">HRIS ශක්තිදායකත්ව වෙබ් අඩවිය</a>.
</p>
</div><!-- /welcomeIntro -->