<div id="facility_content">
  <p><strong>අනතුරු හැඟවීමයි !!:</strong> මෙය සියලුම තනතුරු ලේඛන සඳහා දෙන ලද පහසුකම් මෙන්ම එම තනතුරු වලට අදාල පුද්ගල ලේඛන මකාදමනු ලබයි. මෙම දත්ත නැවත ස්වයංක්‍රීයව ලබාගත නොහැකි අතර මෙය සිදු කිරීමට පෙර දත්ත උපස්ථ කරගන්න</p>
  <h2>පහසුකම් ලැයිස්තුව</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm"><ul id="facility_list"></ul><div id="additional_form"></div>
    <input type="submit" value="Continue" class="button"></form>
</div>
