<div id="feedback">
<p>
ඔබට ද්‍යෝෂ වාර්තාවක්, ගැටලුවක්, විශේෂාංග අයදුමක් හෝ ප්‍රශ්නයක් තිබේ නම් කරුණාකර පහත ෆෝරමය පුරවා යොමු කිරීමෙන් අපව සම්බන්ධ කරගත හැක. ඔබගේ අදහස් සහ විද්‍යුත් තැපැල් ලිපිනය ධාරිතාවයට අනුකූලව සහ රහසිගතව තබාගනු ලැබේ.<i>එකතු වූ</i>'s 
<a target="_new" href="http://www.capacityplus.org/index?option=com_content&amp;task=view&amp;id=34&amp;Itemid=63">පෞද්ගලිකත්ව ප්‍රතිපත්තිය</a>. අප ඔබගේ විද්‍යුත් තැපැල් ලිපිනය ඔබේ අයදුමට ප්‍රතිචාර දැක්වීම වෙනුවෙන පමණක් යොදාගන්නෙමු. ඔබ අපව  කෙලින්ම සම්බන්ධ කරගැනීමට මෙම විද්‍යුත් තැපැල් ලිපිනයෙක් හැක. 
<a href="mailto:hris@capacityproject.org">hris@capacityproject.org</a>.
</p>
<hr><h4>අඩවි ප්‍රතිචාර පෝරමය</h4>
<!-- <p>Required fields are marked with a red asterisk (<span style="color:red;"><b>*</b></span>)</p> -->
<div id="error"></div>
<form method="POST" action="feedback">
<input type="hidden" name="referer" id="referer"><table class="tableForm"><tr><td colspan="2"><label for="Comments">අදහස් දැක්වීම:</label><br><textarea name="Comments" rows="10" cols="45" id="Comments"></textarea></td>
  </tr><tr class="spacer"><td><label for="Name">නම:</label></td>
   <td><input type="text" name="Name" id="Name"></td>
  </tr><tr><td><label for="Company">සේවාස්ථානය:</label></td>
   <td><input type="text" name="Company" id="Company"></td>
  </tr><tr><td><label for="Title">මාතෘකාව:</label></td>
   <td><input type="text" name="Title" id="Title"></td>
  </tr><tr><td><label for="Industry">කර්මාන්තය/ක්ෂේත්‍රය:</label></td>
   <td><input type="text" name="Industry" id="Industry"></td>
  </tr><tr><td><label for="Address">ලිපිනය:</label></td>
   <td><input type="text" name="Address" id="Address"></td>
  </tr><tr><td><label for="City">නගරය:</label></td>
   <td><input type="text" name="City" id="City"></td>
  </tr><tr><td><label for="State">ප්‍රාන්තය/පළාත:</label></td>
   <td><input type="text" name="State" id="State"></td>
  </tr><tr><td><label for="Postal_Code">තැපැල් අංකය:</label></td>
   <td><input type="text" name="Postal_Code" id="Postal_Code"></td>
  </tr><tr><td><label for="Country">රට:</label></td>
   <td><input type="text" name="Country" id="Country"></td>
  </tr><tr class="spacer"><td><label for="Telephone">දුරකථනය:</label></td>
   <td><input type="text" name="Telephone" id="Telephone"></td>
  </tr><tr><td><label for="Fax">ෆැක්ස්:</label></td>
   <td><input type="text" name="Fax" id="Fax"></td>
  </tr><tr><td><label for="Email">විද්‍යුත් තැපෑල:</label></td>
   <td><input type="text" name="Email" id="Email"></td>
  </tr><tr class="spacer"><td><!-- <p class="smallGray"><span style="color: red;">*</span> Required</p> --></td>
   <td><input type="submit" value="Submit" name="submit" class="button"><input type="reset" value="Clear" name="reset" class="button"></td>
  </tr></table></form>

</div><!-- /feedback -->