<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>ආයුබෝවන්</h1>
<p>
<strong>iHRIS Manage</strong> යනු සංවිධානයකට පුළුල් මානව සම්පත් මූලෝපායයන් නිර්මාණය සහ කළමනකරණයට ශක්තිය ලබාදෙන මානව සම්පත් කළමනාකරණ මෘදුකාංගයකි. මූලිකව මෙහි අරමුණ සෞඛ්‍ය ක්ෂේත්‍රයේ  සේවක කළමනාකරණය වුවත්, iHRIS Manage අනෙක් වර්ගවල ශ්‍රම බලකායයන් උදෙසාද ගැලපේ. iHRIS Manage යනු විවෘත හා නිදහස් මෘදුකාංගයකි. එය සංවර්ධනය කළේ 
<a href="http://www.capacityplus.org"> ධාරිතාව<i>එකතු වූ</i></a>, යනු සංවර්ධනය වෙමින් පවතින රටවල් වලට සෞඛ්‍ය ක්ෂේත්‍ර ශ්‍රම බලකාය තැනීමට සහ පවත්වාගෙන යාමට උදව් වන  නව්‍ය ජාත්‍යන්තර මුල් පිරීමකි.
</p>
</div><!-- /welcomeIntro -->