<div id="siteContent">

  <h1>Spravovat Databázi</h1>

  <span type="module" ifenabled="true" name="ihris-manage-PersonPosition">
    <div task="can_edit_position_database_lists">
      <h2>Spravovoat pozice</h2>
      
      <div task="can_edit_job_structure_database_lists">
	<h3>Vytvořit strukturu práce</h3>
	<ul><li task="can_edit_database_list_cadre"><a href="lists?type=cadre">Kádry</a></li>
	  <li task="can_edit_database_list_classification"><a href="lists?type=classification">Klasifikace práce</a></li>
	  <li task="can_edit_database_list_salary_grade"><a href="lists?type=salary_grade">Platové třídy</a></li>
	  <li task="can_edit_database_list_job"><a href="lists?type=job">Práce</a></li>
	</ul></div>
      <div task="can_edit_manage_positions_database_lists">
	<h3>Spravovat pozice</h3>
	<ul><li task="can_edit_database_list_salary_source"><a href="lists?type=salary_source">Zdroje platu</a></li>
	  <li task="can_edit_database_list_position_type"><a href="lists?type=position_type">Typy pozic</a></li>
	  <li task="can_edit_database_list_position"><a href="lists?type=position&amp;field=facility">Pozice (podle zařízení)</a></li>
	  <li task="can_edit_database_list_position"><a href="lists?type=position&amp;field=status&amp;nosetdefault=1">Pozice (podle stavu)</a></li>
	  <span type="module" ifenabled="true" name="ihris-manage-confirmation">
	    <li task="can_edit_database_list_confirmation_type"><a href="lists?type=confirmation_type">Typy potvrzení</a></li>
	  </span>
	</ul></div>
    </div>
  </span>

  <h2>Spravovat ostatní seznamy</h2>

  <div task="can_edit_organization_database_lists">
    <h3>Seznamy organizací</h3>
    <ul><li task="can_edit_database_list_facility_type"><a href="lists?type=facility_type">Typ zařízení</a></li>
      <li task="can_edit_database_list_facility"><a href="lists?type=facility&amp;field=location">Kancelář/Zařízení</a></li>
      <li task="can_edit_database_list_department"><a href="lists?type=department">Oddělení</a></li>
      <span type="module" ifenabled="true" name="ManageRegistration">
	<li task="can_edit_database_list_council"><a href="lists?type=council">Koncil pro registrace</a></li>
      </span>
    </ul></div>
  <div task="can_edit_employee_database_lists">
    <h3>Seznamy zaměstnanců</h3>
    <ul><li task="can_edit_database_list_edu_type"><a href="lists?type=edu_type">Typ vzdělání</a></li>
      <li task="can_edit_database_list_degree"><a href="lists?type=degree&amp;field=edu_type">Stupeň</a></li>
      <li task="can_edit_database_list_language"><a href="lists?type=language">Jazyk</a></li>
      <span type="module" ifenabled="true" name="simple-competency">
	<li task="can_edit_database_list_competency_type"><a href="lists?type=competency_type">Typ kompetence</a></li>
	<li task="can_edit_database_list_competency"><a href="lists?type=competency&amp;field=competency_type">Kompetence</a></li>
	<span type="module" ifenabled="true" name="person-simple-competency">
	  <li task="can_edit_database_list_competency_evaluation"><a href="lists?type=competency_evaluation">Vyhodnocení kompetence</a></li>
	</span>
      </span>
      <li task="can_edit_database_list_id_type"><a href="lists?type=id_type">Typ identifikace</a></li>
      <span type="module" ifenabled="true" name="leave">
      	<li task="can_edit_database_list_leave_category"><a href="lists?type=leave_category">Leave Category</a></li>
      </span>
      <li task="can_edit_database_list_benefit_type"><a href="lists?type=benefit_type">Typ bonusu</a></li>
      <li task="can_edit_database_list_marital_status"><a href="lists?type=marital_status">Rodinný stav</a></li>
      <li task="can_edit_database_list_contact_group"><a href="lists?type=contact_group">Contact Group</a></li>
      <li task="can_edit_database_list_pos_change_reason"><a href="lists?type=pos_change_reason">Důvody pro odchod</a></li>
      <span type="module" ifenabled="true" name="accident">
	<li task="can_edit_database_list_accident_type"><a href="lists?type=accident_type">Typ nehody</a></li>
      </span>
      <span type="module" ifenabled="true" name="disciplinary_action">
	<li task="can_edit_database_list_disciplinary_action_type"><a href="lists?type=disciplinary_action_type">Typ disciplinárního řízení</a></li>
	<li task="can_edit_database_list_disciplinary_action_reason"><a href="lists?type=disciplinary_action_reason">Důvod disciplinárního řízení</a></li>
      </span>
    </ul></div>
  <div task="can_edit_geographic_database_lists">
    <h3>Geografické informace</h3>
    <ul><li task="can_edit_database_list_country"><a href="lists?type=country">Země</a></li>
      <li task="can_edit_database_list_region"><a href="lists?type=region&amp;field=country">Kraj</a></li>
      <li task="can_edit_database_list_district"><a href="lists?type=district&amp;field=region">Čtvrť</a></li>
      <li task="can_edit_database_list_county"><a href="lists?type=county&amp;field=district">Obec</a></li>
      <li task="can_edit_database_list_currency"><a href="lists?type=currency">Měna</a></li>
    </ul></div>
  <div task="can_edit_planning_database_lists">
    <span name="establishment" type="module" ifenabled="true">
      <h3>Informace o plánování</h3>
      <ul><li task="can_edit_database_list_establishment_type"><a href="lists?type=establishment_type">Typ zařízení</a></li>
	<li task="can_edit_database_list_establishment_period"><a href="lists?type=establishment_period&amp;field=establishment_type">Období zařízení</a></li>
	<li task="can_edit_database_list_establishment"><a href="lists?type=establishment&amp;field=establishment_period">Zařízení</a></li>
      </ul></span>
  </div>


  <span name="training-course" type="module" ifenabled="true">
    <div task="can_edit_training_course_database_lists">
      <h3>Informace o vzdělávacím kurzu</h3>
      <ul><li task="can_edit_database_list_training_course"><a href="lists?type=training_course&amp;mapped=scheduled_training_course">Vzdělávací kurzy</a></li>
	<li task="can_edit_database_list_scheduled_training_course"><a href="lists?type=scheduled_training_course&amp;field=training_course">Náplánované vzdělávací kurzy</a></li>
	<li task="can_edit_database_list_training_course_status"><a href="lists?type=training_course_status">Stav vzdělávacího kurzu</a></li>
	<li task="can_edit_database_list_training_course_requestor"><a href="lists?type=training_course_requestor">Žadatelé o vzdělávací kurz</a></li>
	<li task="can_edit_database_list_training_course_evaluation"><a href="lists?type=training_course_evaluation">Vyhodnocení vzdělávacího kurzu</a></li>
	<li task="can_edit_database_list_training_course_category"><a href="lists?type=training_course_category">Kategorie vzdělávacího kurzu</a></li>
	<span type="module" name="manage-training-institution" ifenabled="true">
	  <li task="can_edit_database_list_training_institution"><a href="lists?type=training_institution">Učiliště</a></li>
	  <li task="can_edit_database_list_training_funder"><a href="lists?type=training_funder">Sponzor školení</a></li>
	</span>
	<span type="module" name="CEUs" ifenabled="true">
	  <li task="can_edit_database_list_continuing_education_course"><a href="lists?type=continuing_education_course">Kurz dalšího vzdělávání</a></li>
	</span>
      </ul></div>
  </span>

  <span role="admin">
      <h2>Hromadné mazání</h2>
      <ul><span type="module" name="ihris-manage-MassDeleteFacility" ifenabled="true">
          <li><a href="delete_by_facility">Zařízením</a></li>
        </span>
        <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
          <li><a href="delete_by_search">Osobou (vyhledat stránku)</a></li>
        </span>
      </ul></span>
</div>
