<tbody id="assessment_form">
  <tr>
    <th colspan="2">Comments/ Recommendations (If Any)</th>
  </tr>
  <tr id="list_fields">
    <td>
      <span type="form" name="comments:appraisee_comment" showhead="default"></span>
      <span type="form" name="comments:appraisee_date" showhead="default"></span>
      <span type="form" name="comments:appraiser_comment" showhead="default"></span>
      <span type="form" name="comments:appraiser_date" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="comments:supervisor_comment" showhead="default"></span>
      <span type="form" name="comments:supervisor_date" showhead="default"></span>
      <span type="form" name="comments:responsible_officer_comment" showhead="default"></span>
      <span type="form" name="comments:responsible_officer_date" showhead="default"></span>
    </td>
  </tr>
</tbody>

