<div id="siteContent">
  
  <h1>Datenbank verwalten</h1>
  
  <div task="can_edit_position_database_lists">
    <h2>Tätigkeiten/Stellen verwalten</h2>
    
    <div task="can_edit_job_structure_database_lists">
      <h3>Eine Tatigkeitsstruktur erstellen</h3>
      <ul><li task="can_edit_database_list_cadre">
          <a href="lists?type=cadre">Führungskräfte</a>
        </li>
        <li task="can_edit_database_list_classification">
          <a href="lists?type=classification">Stellenklassifizierungen</a>
        </li>
        <li task="can_edit_database_list_job">
          <a href="lists?type=job">Stellen</a>
        </li>
      </ul></div>
  </div>
  
  <h2>Andere Listen verwalten</h2>
  
  <div task="can_edit_organization_database_lists">
    <h3>Organisationslisten</h3>
    <ul><li task="can_edit_database_list_facility_type">
        <a href="lists?type=facility_type">Einrichtungsart</a>
      </li>
      <li task="can_edit_database_list_facility_owner">
        <a href="lists?type=facility_owner">Einrichtungseigentümerschaft/Zugehörigkeit</a>
      </li>
      <li task="can_edit_database_list_facility_type">
        <a href="lists?type=health_facility&amp;field=location">Gesundheitseinrichtung</a>
      </li>
      <span type="module" ifenabled="true" name="Registration">
        <li task="can_edit_database_list_council">
          <a href="lists?type=council">Registration Councils</a>
        </li>
      </span>
    </ul></div>
  <div task="can_edit_employee_database_lists">
    <h3>Akademische Listen</h3>
    <ul><li task="can_edit_database_lists_academic_level">
        <a href="lists?type=academic_level">Studienniveau</a>
      </li>
      <li task="can_edit_database_lists_qualification">
        <a href="lists?type=qualification">Qualifikation</a>
      </li>
      <li task="can_edit_database_list_id_type">
        <a href="lists?type=id_type">Identifizierungsart</a>
      </li>
    </ul></div>
  <div task="can_edit_geographic_database_lists">
    <h3>Geografische Informationen</h3>
    <ul><li task="can_edit_database_list_country">
        <a href="lists?type=country">Land</a>
      </li>
      <li task="can_edit_database_list_region">
        <a href="lists?type=region&amp;field=country">Region</a>
      </li>
      <li task="can_edit_database_list_district">
        <a href="lists?type=district&amp;field=region">Bezirk</a>
      </li>
      <li task="can_edit_database_list_county">
        <a href="lists?type=county&amp;field=district">Kreis</a>
      </li>
      <li task="can_edit_database_list_currency">
        <a href="lists?type=currency">Währung</a>
      </li>
    </ul></div>
  
  <div task="can_edit_database_list_training">
    <h3>Schulungsinformationen</h3>
    <ul><li task="can_edit_database_list_training_classification">
        <a href="lists?type=training_classification">Schulungsklassifikation</a>
      </li>
      <li task="can_edit_database_list_training">
        <a href="lists?type=training_type">Art der Schulung</a>
      </li>
      <li task="can_edit_database_list_training">
        <a href="lists?type=training&amp;mapped=training_type">Schulungskurse</a>
      </li>
      <li task="can_edit_database_list_training">
        <a href="lists?type=exampaper&amp;mapped=training">Prüfungsbogen</a>
      </li>
      <li task="can_edit_database_list_training">
        <a href="lists?type=funder">Kostenträger</a>
      </li>
      <li task="can_edit_database_list_providertraining">
        <a href="lists?type=providertraining&amp;mapped=training">Anbieterschulungen zuweisen</a>
      </li>
      <li task="can_edit_database_list_fee">
        <a href="lists?type=fee_type">Gebührenart</a>
      </li>
    </ul></div>
  
</div>
