<div id="siteContent">
<h1>Verwalten von Schulungen und Schulungsanbietern</h1>
<span type="module" name="Lecturers" ifenabled="true">
    <div task="can_add_lecturer">
      
      <h2><a href="add_lecturer" class="updateRecords">Einen neuen Dozenten hinzufügen</a></h2>
      <p>
	   Einen neuen Dozenten zum System hinzufügen
      </p>
    </div>
  </span>
<span type="module" name="STSTraining" ifenabled="true">
    <div task="can_edit_database_list_training">
      
      <h2><a href="auto_list/view?form_name=training" class="updateRecords">Semesterkurs hinzufügen</a></h2>
      <p>
	   Add new semester courses and assign them to lecturers as well as administer any other drop down lists.
      </p>
    </div>
</span>
<span type="module" name="RescheduleCourse" ifenabled="true">
    <div task="can_edit_reschedule_course">
      
      <h2><a href="reschedule_course" class="updateRecords">Kurs umplanen</a></h2>
      <p>
	   Einen Kurs umplanen um ihn dem nächsten Semester anzubieten
      </p>
    </div>
</span>  
<span type="module" name="ScheduleCourseEnrollment" ifenabled="true">
    <div task="can_schedule_students_course_enrollment">
      
      <h2><a href="schedule_course_enrollment" class="updateRecords">Öffnen oder Schließen der Anmeldung zum Studentenkurs</a></h2>
      <p>
	   Frist für Studenten setzen um sich selbst in verschiedene Kurse einzuschreiben
      </p>
    </div>
  </span>
<span type="module" name="AssignCourseToTrainer" ifenabled="true">
    <div task="can_assign_course_trainer">
      
      <h2><a href="assign_course_trainer" class="updateRecords">Einem Dozenten einen Kurs zuweisen</a></h2>
      <p>
	   Frist für Studenten setzen um sich selbst in verschiedene Kurse einzuschreiben
      </p>
    </div>
  </span>
<span type="module" name="AssignCourseToTrainer" ifenabled="true">
    <div task="can_add_students_results">
      
      <h2><a href="add_results_select_course" class="updateRecords">Semesterergebnisse hinzufügen</a></h2>
      <p>
	   Add students semester results i.e continuous assessment and end of semester exams.
      </p>
    </div>
</span>

<span type="module" name="AssignCourseToTrainer" ifenabled="true">
    <div task="can_approve_results">
      
      <h2><a href="results_approval" class="updateRecords">Semesterergebnisse bestätigen</a></h2>
      <p>
	   Ende der Semesterergebnisse bestätigen
      </p>
    </div>
</span>
       
  <span type="module" name="STSTraining" ifenabled="true">
  <div task="can_edit_database_list_training_program">
      
      <h2><a href="auto_list/view?form_name=training_program" class="updateRecords">Ein neues Schulungsprogramm hinzufügen</a></h2>
      <p>
	   Die Datensätze eines neuen Schulungsprogramm zum System hinzufügen.
      </p>
  </div>
  </span>
  <span type="module" name="STSTraining" ifenabled="true">
    <div task="can_edit_database_list_department">
      
      <h2><a href="auto_list/view?form=department" class="updateRecords">Eine neue Abteilung hinzufügen</a></h2>
      <p>
	   Die Datensätze einer neuen Abteilung zum System hinzufügen.
      </p>
    </div> 
   </span>

<span type="module" name="STSTraining" ifenabled="false">
<span type="module" name="TrainingProvider" ifenabled="true">
    <div task="provider_can_edit">
      
      <h2><a href="trainingprovider" class="updateRecords">Einen neuen Schulungsanbieter hinzufügen</a></h2>
      <p>
	   Einen neuen Schulungsanbieterdatensatz zum System hinzufügen
      </p>
    </div>
  </span>
  </span>
  <span type="module" name="STSTraining" ifenabled="false">
  <div task="provider_can_view">
    <hr><h2><a name="search_link" id="search_training_provider" href="search/search_training_provider?no_results=0" class="searchRecords">Schulungsanbieter finden</a></h2>
      <p>
      After entering an a training provider and training record into the system , the record may be reviewed at any time. Click Find Training Provider to locate 
      the record. From the record, additional information can be added or existing 
      information can be updated. 
    </p>
       <div id="search_training_provider_replace"></div>
  </div>
  </span></div>
  <span type="module" name="STSTraining" ifenabled="false">
  <div task="can_edit_database_lists">
    <hr><h2><a class="updateRecords" href="auto_list">Schulungskurse verwalten</a></h2>
    <p>
      Add new training courses and assign them to providers as well as administer any other drop down lists.
    </p>
  </div>
  </span>
  
  <span type="module" name="InstanceCalendar" ifenabled="true">
    <hr><h2><a href="instance_calendar" class="searchRecords">Kalender der Schulungsinstanz</a></h2>
    <p>
      Die Schulungsinstanzen in einem Kalender anzeigen um baldige Schulungen zu sehen.
    </p>
  </span>

