<ul><span type="module" name="Lecturers" ifenabled="true"><li task="can_add_lecturer"><a href="add_lecturer">Dozent hinzufügen</a></li></span>
  <span type="module" name="ScheduleCourseEnrollment" ifenabled="true"><li task="can_schedule_students_course_enrollment"><a href="schedule_course_enrollment">Die Kursanmeldung für Studenten öffen und schließen</a></li></span>
  <span type="module" name="AssignCourseToTrainer" ifenabled="true"><li task="can_assign_course_trainer"><a href="assign_course_trainer">Einem Dozenten einen Kurs zuweisen</a></li></span>
  <span type="module" name="ScheduleCourseEnrollment" ifenabled="true"><li task="can_add_students_results"><a href="add_results_select_course">Semesterergebnisse hinzufügen</a></li></span>
  <span type="module" name="ScheduleCourseEnrollment" ifenabled="true"><li task="can_approve_results"><a href="results_approval">Semesterergebnisse bestätigen</a></li></span>
  <span type="module" name="STSTraining" ifenabled="true"><li task="can_edit_database_list_training"><a href="auto_list/view?form_name=training">Semesterkurs hinzufügen</a></li></span>
  <span type="module" name="RescheduleCourse" ifenabled="true"><li task="can_edit_reschedule_course"><a href="reschedule_course">Verlegen von Kursen auf andere Semester</a></li></span>
  <span type="module" name="STSTraining" ifenabled="true"><li task="can_edit_database_list_training_program"><a href="auto_list/view?form_name=training_program">Schulungsprogramm</a></li></span>
  <span type="module" name="STSTraining" ifenabled="true"><li task="can_edit_database_list_department"><a href="auto_list/view?form_name=department">Abteilungen</a></li></span>  
  <span type="module" name="STSTraining" ifenabled="false"><li task="provider_can_edit"><a href="trainingprovider">Schulungsanbieter hinzufügen</a></li></span>
  <span type="module" name="STSTraining" ifenabled="false"> <li task="provider_can_view"><a href="search/search_training_provider?no_results=0">Schulungsanbieter finden</a></li></span>
  <span type="module" name="STSTraining" ifenabled="false"><li task="can_edit_database_lists"><a href="auto_list">Schulungskurse</a></li></span>
  <li><a href="instance_calendar">Kalender der Schulungsinstanz</a></li>
</ul>