<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">persönliche Angaben</a></li>
	<span name="PersonContact" type="moduled" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Kontaktinformationen</a></li>
	</span>
	<li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Ausbildungsangaben</a></li>
	<li><a href="#jump_registration" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Anmeldeinformationen</a></li>
	<li><a href="#jump_position" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Stelle</a></li>
	<li><a href="#jump_instance" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Schulungen</a></li>
    <span type="module" name="PersonNotes" ifenabled="true">
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Bemerkungen</a></li>
    </span>
    <span type="module" name="RecordVerify" ifenabled="true">
       <li><a href="#jump_record_verify" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Datensatzüberprüfung</a></li>
    </span>
</ul>