<div id="list_display" task="can_view_database_list_benefit_type">
	
	<div class="editRecord">
	<p>මෙම තොරතුරු සංස්කරණය කරන්න</p>
		<ul><li task="can_edit_database_list_benefit_type"><span type="form" name="benefit_type:id" href="lists?type=benefit_type&amp;id=">මෙම තොරතුරු යාවත්කාලීන කරන්න </span></li>
			<li><a href="lists?type=benefit_type">වෙනත් ප්‍රතිලාභ වර්ගයක් තෝරන්න</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">ප්‍රතිලාභ වර්ගය</th>
		</tr><span type="form" name="benefit_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
