<tbody id="person_form">
  <tr>
    <th>Position Information</th>
    <th>Applicant Questions</th>
  </tr>
  <tr>
    <td>
      <span type="form" name="application:position" showhead="default"></span>
      <span type="form" name="application:start_date" showhead="default"></span>
      <span type="form" name="application:desired_wage" showhead="default"></span>
      <span type="form" name="application:full_time" showhead="default"></span>
      <span type="form" name="application:hours" showhead="default"></span>
      </td><td>
      <span type="form" name="application:hear" showhead="default"></span>
      <span type="form" name="application:other_info" showhead="default"></span>
      <span type="form" name="application:felony" showhead="default"></span>
      <span type="form" name="application:felony_circumstance" showhead="default"></span>
    </td>
  </tr>
</tbody>
