<tbody id="person_form">
<tr>
    <th colspan="2">Interview Details</th>
</tr>
<tr id="list_fields">
	<td>
	   	<span type="form" name="position_interview:date" showhead="default"></span>
	   	<span type="form" name="position_interview:person" showhead="default"></span>
	   	<span type="form" name="position_interview:comments" showhead="default"></span>
		<span type='module' name='ihris-manage-ApplicationAttachment' ifenabled='!true'>
		  oops
		</span>
		<span type='module' name='ihris-manage-ApplicationAttachment' ifenabled='true'>
		  <span type="form" name="position_interview:record" showhead="default"></span>
		</span>
    </td>
</tr>
</tbody>
