<tbody id="list_fields">
	<tr>
	<td class="formdata">
	   	<span type="form" name="job" showhead="default" 
	   		onchange="if ( document.getElementById('forms:position:0:fields:title').value == '' &amp;&amp; this.selectedIndex != 0 ) document.getElementById('forms:position:0:fields:title').value = this.options[this.selectedIndex].text;" 
	   		addlink="position?add=1&amp;type=job" addtask='position_can_edit'></span>
	   	<span type="form" name="title" showhead="default"></span>
	   	<span type="form" name="description" showhead="default"></span>
	   	<span type="form" name="proposed_salary" showhead="default"></span>
	   	<span type="form" name="source" showhead="default"></span>
	   	<span type="form" name="salary_grade" showhead="default"></span>
	   	<span type="form" name="posted_date" showhead="default"></span>
	   	<span type="form" name="comments" showhead="default"></span>
	</td><td class="formdata">
	   	<span type="form" name="code" showhead="default"></span>
	   	<span type="form" name="supervisor" showhead="default"></span>
	   	<span type="form" name="facility" showhead="default"></span>
	   	<span type="form" name="department" showhead="default"></span>
	   	<span type="form" name="pos_type" showhead="default"></span>
	   	<span type="form" name="proposed_hiring_date" showhead="default"></span>
	   	<span type="form" name="proposed_end_date" showhead="default"></span>
	   	<span type="form" name="status" showhead="default" noedit="true"></span>
	   	<span type="form" name="interview_comments" showhead="default"></span>
    </td>
    </tr>
</tbody>
