<ul>
	<li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Individual Information</a></li>
	<span type='module' name='PersonContact' ifenabled='true'>
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Contact Information</a></li>
	</span>
	<li><a href="#jump_position" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Position Information</a></li>
	<span type='module' name='manage-training-course' ifenabled='true'>
	  <li><a href="#jump_courses" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Training Courses</a></li>
	</span>
	<li><a href="#jump_qualification" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Qualifications</a></li>
	<span type='module' name='disciplinary_action' ifenabled='true'>
	  <li><a href="#jump_disciplinary_action" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Disciplinary Actions</a></li>
	</span>
	<span type='module' name='accident' ifenabled='true'>
	  <li><a href="#jump_accident" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Workplace Accidents</a></li>
	</span>
	<span type='module' name='ihris-manage-Application' ifenabled='true'>
	  <li><a href="#jump_application" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Application</a></li>
	</span>
	<span type='module' name='PersonEmployment' ifenabled='true'>
	  <li><a href="#jump_employment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Employment History</a></li>
	</span>
	<span type='module' name='PersonEducation' ifenabled='true'>
	  <li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Education History</a></li>
	</span>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Notes</a></li>
	<span type='module' name='SelfService' ifenabled='true'>
	  <li>
	    <a href="#jump_self_service" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Self-Service</a>
	  </li>
	</span>
	<span type='module' name='PersonArchivedScan' ifenabled='true'>
	  <li><a href="#jump_archived_scans" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Scanned Records</a></li>
	</span>
	<span type='module' name='RecordStatus' ifenabled='true'>
	  <li><a href="#jump_record_status" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Record Status</a></li>
	</span>

</ul>
