<div id="siteContent">

  <h1>Database beheren</h1>

  <span type="module" ifenabled="true" name="ihris-manage-PersonPosition">
    <div task="can_edit_position_database_lists">
      <h2>Posities beheren</h2>
      
      <div task="can_edit_job_structure_database_lists">
	<h3>Rollenstructuur aanmaken</h3>
	<ul><li task="can_edit_database_list_cadre"><a href="lists?type=cadre">Kaders</a></li>
	  <li task="can_edit_database_list_classification"><a href="lists?type=classification">Werkclassificaties</a></li>
	  <li task="can_edit_database_list_salary_grade"><a href="lists?type=salary_grade">Salarisschalen</a></li>
	  <li task="can_edit_database_list_job"><a href="lists?type=job">Functies</a></li>
	</ul></div>
      <div task="can_edit_manage_positions_database_lists">
	<h3>Posities beheren</h3>
	<ul><li task="can_edit_database_list_salary_source"><a href="lists?type=salary_source">Salarisbronnen</a></li>
	  <li task="can_edit_database_list_position_type"><a href="lists?type=position_type">Positietypen</a></li>
	  <li task="can_edit_database_list_position"><a href="lists?type=position&amp;field=facility">Posities (op lokatie)</a></li>
	  <li task="can_edit_database_list_position"><a href="lists?type=position&amp;field=status&amp;nosetdefault=1">Posities (op status)</a></li>
	  <span type="module" ifenabled="true" name="ihris-manage-confirmation">
	    <li task="can_edit_database_list_confirmation_type"><a href="lists?type=confirmation_type">Bevestigingssoorten</a></li>
	  </span>
	</ul></div>
    </div>
  </span>

  <h2>Overige lijsten beheren</h2>

  <div task="can_edit_organization_database_lists">
    <h3>Organisatielijsten</h3>
    <ul><li task="can_edit_database_list_facility_type"><a href="lists?type=facility_type">Instellingstype</a></li>
      <li task="can_edit_database_list_facility"><a href="lists?type=facility&amp;field=location">Kantoor/lokatie</a></li>
      <li task="can_edit_database_list_department"><a href="lists?type=department">Afdeling</a></li>
      <span type="module" ifenabled="true" name="ManageRegistration">
	<li task="can_edit_database_list_council"><a href="lists?type=council">Beroepsverenigingen</a></li>
      </span>
    </ul></div>
  <div task="can_edit_employee_database_lists">
    <h3>Medewerkerslijsten</h3>
    <ul><li task="can_edit_database_list_edu_type"><a href="lists?type=edu_type">Opleidingstype</a></li>
      <li task="can_edit_database_list_degree"><a href="lists?type=degree&amp;field=edu_type">Graad</a></li>
      <li task="can_edit_database_list_language"><a href="lists?type=language">Taal</a></li>
      <span type="module" ifenabled="true" name="simple-competency">
	<li task="can_edit_database_list_competency_type"><a href="lists?type=competency_type">Competentietype</a></li>
	<li task="can_edit_database_list_competency"><a href="lists?type=competency&amp;field=competency_type">Competentie</a></li>
	<span type="module" ifenabled="true" name="person-simple-competency">
	  <li task="can_edit_database_list_competency_evaluation"><a href="lists?type=competency_evaluation">Competentieevaluatie</a></li>
	</span>
      </span>
      <li task="can_edit_database_list_id_type"><a href="lists?type=id_type">Identificatietype</a></li>
      <span type="module" ifenabled="true" name="leave">
      	<li task="can_edit_database_list_leave_category"><a href="lists?type=leave_category">Leave Category</a></li>
      </span>
      <li task="can_edit_database_list_benefit_type"><a href="lists?type=benefit_type">Arbeidsvoorwaardentype</a></li>
      <li task="can_edit_database_list_marital_status"><a href="lists?type=marital_status">Burgerlijke staat</a></li>
      <li task="can_edit_database_list_contact_group"><a href="lists?type=contact_group">Contact Group</a></li>
      <li task="can_edit_database_list_pos_change_reason"><a href="lists?type=pos_change_reason">Redenen voor vertrek</a></li>
      <span type="module" ifenabled="true" name="accident">
	<li task="can_edit_database_list_accident_type"><a href="lists?type=accident_type">Type ongeval</a></li>
      </span>
      <span type="module" ifenabled="true" name="disciplinary_action">
	<li task="can_edit_database_list_disciplinary_action_type"><a href="lists?type=disciplinary_action_type">Type disciplinaire maatregel</a></li>
	<li task="can_edit_database_list_disciplinary_action_reason"><a href="lists?type=disciplinary_action_reason">Reden disciplinaire maatregel</a></li>
      </span>
    </ul></div>
  <div task="can_edit_geographic_database_lists">
    <h3>Geografische gegevens</h3>
    <ul><li task="can_edit_database_list_country"><a href="lists?type=country">Land</a></li>
      <li task="can_edit_database_list_region"><a href="lists?type=region&amp;field=country">Regio</a></li>
      <li task="can_edit_database_list_district"><a href="lists?type=district&amp;field=region">District</a></li>
      <li task="can_edit_database_list_county"><a href="lists?type=county&amp;field=district">District</a></li>
      <li task="can_edit_database_list_currency"><a href="lists?type=currency">Munteenheid</a></li>
    </ul></div>
  <div task="can_edit_planning_database_lists">
    <span name="establishment" type="module" ifenabled="true">
      <h3>Planningsgegevens</h3>
      <ul><li task="can_edit_database_list_establishment_type"><a href="lists?type=establishment_type">Type aanstelling</a></li>
	<li task="can_edit_database_list_establishment_period"><a href="lists?type=establishment_period&amp;field=establishment_type">Aanstellingsperiode</a></li>
	<li task="can_edit_database_list_establishment"><a href="lists?type=establishment&amp;field=establishment_period">Aanstellingen</a></li>
      </ul></span>
  </div>


  <span name="training-course" type="module" ifenabled="true">
    <div task="can_edit_training_course_database_lists">
      <h3>Cursusgegevens</h3>
      <ul><li task="can_edit_database_list_training_course"><a href="lists?type=training_course&amp;mapped=scheduled_training_course">Cursussen</a></li>
	<li task="can_edit_database_list_scheduled_training_course"><a href="lists?type=scheduled_training_course&amp;field=training_course">Geplande cursussen</a></li>
	<li task="can_edit_database_list_training_course_status"><a href="lists?type=training_course_status">Cursusstatus</a></li>
	<li task="can_edit_database_list_training_course_requestor"><a href="lists?type=training_course_requestor">Cursusaanvragers</a></li>
	<li task="can_edit_database_list_training_course_evaluation"><a href="lists?type=training_course_evaluation">Cursusevaluatie</a></li>
	<li task="can_edit_database_list_training_course_category"><a href="lists?type=training_course_category">Cursuscategorie</a></li>
	<span type="module" name="manage-training-institution" ifenabled="true">
	  <li task="can_edit_database_list_training_institution"><a href="lists?type=training_institution">Opleidingsinstituut</a></li>
	  <li task="can_edit_database_list_training_funder"><a href="lists?type=training_funder">Opleidingssponsor</a></li>
	</span>
	<span type="module" name="CEUs" ifenabled="true">
	  <li task="can_edit_database_list_continuing_education_course"><a href="lists?type=continuing_education_course">Opleiding permanente vorming</a></li>
	</span>
      </ul></div>
  </span>

  <span role="admin">
      <h2>Massaal verwijderen</h2>
      <ul><span type="module" name="ihris-manage-MassDeleteFacility" ifenabled="true">
          <li><a href="delete_by_facility">Op filiaal</a></li>
        </span>
        <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
          <li><a href="delete_by_search">Op persoon (zoekpagina)</a></li>
        </span>
      </ul></span>
</div>
