 <div id="siteContent">
    <h1>Tingnan ang Posisyon: <span type="form" name="position:code"></span> - <span type="form" name="position:title"></span></h1>

	<div class="recordsData">
	<h3>Kabatiran sa Posisyon</h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('position', this );">Ikubli</a>
		</p>
	
	<div id="position">
	
	<div class="editRecord">
	<p>Baguhin ang Kabatirang Ito</p>
		<ul id="edit_links"><li task="can_edit_database_list_position"><span type="form" name="position:id" href="lists?type=position&amp;id=">Isapanahon ang Kabatirang ito</span></li>
            <li task="can_edit_database_list_position"><span type="form" name="position:facility" href="lists?type=position&amp;field=facility&amp;forms%5Bposition%5D%5B0%5D%5B0%5D%5Bfields%5D%5Bfacility%5D=">Pumili ng iba pang Posisyon</span></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Posisyon</th>
		</tr><span type="form" name="position:job" showhead="default"></span>
	   	<span type="form" name="position:title" showhead="default" class="even"></span>
	   	<span type="form" name="position:description" showhead="default" mline="true"></span>
		<span type="module" name="ihris-manage-Salary" ifenabled="true">
	   	  <span type="form" name="position:proposed_salary" showhead="default" class="even"></span>
	   	  <span type="form" name="position:source" showhead="default"></span>
		</span>
	   	<span type="form" name="position:code" showhead="default" class="even"></span>
	   	<span type="form" name="position:supervisor" showhead="default"></span>
	   	<span type="form" name="position:facility" showhead="default" class="even"></span>
	   	<span type="form" name="position:department" showhead="default"></span>
	   	<span type="form" name="position:pos_type" showhead="default" class="even"></span>
	   	<span type="form" name="position:proposed_hiring_date" showhead="default"></span>
	   	<span type="form" name="position:proposed_end_date" showhead="default" class="even"></span>
	   	<span type="form" name="position:status" showhead="default" noedit="true"></span>
	   	<span type="form" name="position:posted_date" showhead="default" noedit="true" class="even"></span>
	   	<span type="form" name="position:comments" showhead="default"></span>
	   	<span type="form" name="position:interview_comments" showhead="default" class="even"></span>

	</table></div> <!-- dataTable -->
	
	</div> <!-- position -->
	
	<br style="clear: both;"></div> <!-- recordsData -->

    <!--<a href="construction.php">Print</a>-->
</div>
