.tabBar span {
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    font-size: 1.1em;
}
.tabBar span.active {
    color: #818140;
}
.tabBar span.select {
    background-color: #eaeadd;
}
