<div>
	<div class="editRecord">
	<p>මෙම තොරතුරු සංස්කරණය කරන්න</p>
		<ul><li><span type="form" name="person:id" href="view?id=">පුද්ගලයා දර්ශනය කරන්න</span></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">විසින් තනතුර පුරවන ලදී</th>
		</tr><span type="form" name="person:surname" showhead="default"></span>
	<span type="form" name="person:firstname" showhead="default" class="even"></span>
	<span type="form" name="person_position:start_date" showhead="default"></span>
	</table></div> <!-- dataTable -->
</div>
