<div id="facility_content">
  <p><strong>ADVERTENCIA:</strong> Esto borrará todos los registros de posiciones para el trabajo determinado, así como todos los registros de personas que están actualmente asignados a esas posiciones. Estos datos no pueden ser recuperados automáticamente, así que debes asegurarte de respaldar tus datos antes de hacer esto.</p>
  <h2>Listado de Locales</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm"><ul id="facility_list"></ul><div id="additional_form"></div>
    <input type="submit" value="Continue" class="button"></form>
</div>
