<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Welkom</h1>
<p>
<strong>iHRIS Beheer</strong> is een HR managementprogramma dat een organisatie in staat stelt om een alomvattende HR-strategie te ontwerpen en te beheren. Hoewel het primair bedoeld is voor het beheren van gezondheidswerkers, kan iHRIS Manage aangepast worden voor andere typen organisaties. iHRIS Manage is gratis Open Source software ontwikkeld door 
<a href="http://www.capacityplus.org"> Capacity<i>Plus</i></a>, een innovatief wereldwijd initiatief om ontwikkelingslanden te helpen bij het bouwen en ondersteunen van hun gezondheidswerkers.
</p>
</div><!-- /welcomeIntro -->