<tbody id="list_fields">
  <tr>
    <td class="formdata">        
      <span type="form" name="training:name" showhead="default"></span>
      <span type="form" name="training:code" showhead="default"></span>
      <span type="form" name="training:course_credits" showhead="default"></span>      
      <span type="form" name="training:training_institution" showhead="default"></span>
      <span type="form" name="training:corequisite" showhead="default" display="checkbox"></span>
      <span type="form" name="training:prerequisite" showhead="default" display="checkbox"></span>
      <span type="form" name="training:level" showhead="default"></span>
      <span type="form" name="training:semester" showhead="default"></span>
    </td>
    <td class="formdata">      
      <span type="form" name="training:exam_types" showhead="default"></span>
      <span type="form" name="training:clinical" showhead="default"></span>
      <span type="form" name="training:practical" showhead="default"></span>
      <span type="form" name="training:tests" showhead="default"></span>
      <span type="form" name="training:assignments" showhead="default"></span>
      <span type="form" name="training:final" showhead="default"></span>
      <span type="form" name="training:training_program" showhead="default"></span>
      <span type="form" name="training:course_type" showhead="default"></span>
    </td>

  </tr>
  <tr>
      
  </tr>
</tbody>
