<div id="list_display">
	
	<div class="editRecord">
	<p>Muuda seda infot</p>
		<ul><li task="can_edit_database_list_position_type"><span type="form" name="position_type:id" href="lists?type=position_type&amp;id=">Uuenda seda infot</span></li>
			<li task="can_view_database_list_position_type"><a href="lists?type=position_type">Vali muu positsioonitüüp</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Positsioonitüüp</th>
		</tr><span type="form" name="position_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
