<div id="siteContent">

  <h1>Merañ an diaz roadennoù</h1>

  <span type="module" ifenabled="true" name="ihris-manage-PersonPosition">
    <div task="can_edit_position_database_lists">
      <h2>Merañ ar Postoù</h2>
      
      <div task="can_edit_job_structure_database_lists">
	<h3>Krouiñ ur framm implij</h3>
	<ul><li task="can_edit_database_list_cadre"><a href="lists?type=cadre">Sternioù</a></li>
	  <li task="can_edit_database_list_classification"><a href="lists?type=classification">Rummatadurioù al labourioù</a></li>
	  <li task="can_edit_database_list_salary_grade"><a href="lists?type=salary_grade">Skeulioù goproù</a></li>
	  <li task="can_edit_database_list_job"><a href="lists?type=job">Labourioù</a></li>
	</ul></div>
      <div task="can_edit_manage_positions_database_lists">
	<h3>Merañ ar Postoù</h3>
	<ul><li task="can_edit_database_list_salary_source"><a href="lists?type=salary_source">Mammennoù korvoder</a></li>
	  <li task="can_edit_database_list_position_type"><a href="lists?type=position_type">Seurtoù post</a></li>
	  <li task="can_edit_database_list_position"><a href="lists?type=position&amp;field=facility">Post (dre framm)</a></li>
	  <li task="can_edit_database_list_position"><a href="lists?type=position&amp;field=status&amp;nosetdefault=1">Post (dre statud)</a></li>
	  <span type="module" ifenabled="true" name="ihris-manage-confirmation">
	    <li task="can_edit_database_list_confirmation_type"><a href="lists?type=confirmation_type">Seurtoù kadarnaat</a></li>
	  </span>
	</ul></div>
    </div>
  </span>

  <h2>Merañ a rolloù all</h2>

  <div task="can_edit_organization_database_lists">
    <h3>Listennoù an aozadurioù</h3>
    <ul><li task="can_edit_database_list_facility_type"><a href="lists?type=facility_type">Seurt diazezadur</a></li>
      <li task="can_edit_database_list_facility"><a href="lists?type=facility&amp;field=location">Burev/Diazezadur</a></li>
      <li task="can_edit_database_list_department"><a href="lists?type=department">Departamant</a></li>
      <span type="module" ifenabled="true" name="ManageRegistration">
	<li task="can_edit_database_list_council"><a href="lists?type=council">Kuzulioù enskrivañ</a></li>
      </span>
    </ul></div>
  <div task="can_edit_employee_database_lists">
    <h3>Roll an implijidi</h3>
    <ul><li task="can_edit_database_list_edu_type"><a href="lists?type=edu_type">Seurt deskadurezh</a></li>
      <li task="can_edit_database_list_degree"><a href="lists?type=degree&amp;field=edu_type">Diplomoù</a></li>
      <li task="can_edit_database_list_language"><a href="lists?type=language">Yezh</a></li>
      <span type="module" ifenabled="true" name="simple-competency">
	<li task="can_edit_database_list_competency_type"><a href="lists?type=competency_type">Seurt barregezh</a></li>
	<li task="can_edit_database_list_competency"><a href="lists?type=competency&amp;field=competency_type">Barregezhioù</a></li>
	<span type="module" ifenabled="true" name="person-simple-competency">
	  <li task="can_edit_database_list_competency_evaluation"><a href="lists?type=competency_evaluation">Prizañ ar varregezh</a></li>
	</span>
      </span>
      <li task="can_edit_database_list_id_type"><a href="lists?type=id_type">Seurt anaout</a></li>
      <li task="can_edit_database_list_benefit_type"><a href="lists?type=benefit_type">Seurt spletoù</a></li>
      <li task="can_edit_database_list_marital_status"><a href="lists?type=marital_status">Statud dimeziñ</a></li>
      <li task="can_edit_database_list_contact_group"><a href="lists?type=contact_group">Contact Group</a></li>
      <li task="can_edit_database_list_pos_change_reason"><a href="lists?type=pos_change_reason">Abegoù an disparti</a></li>
      <span type="module" ifenabled="true" name="accident">
	<li task="can_edit_database_list_accident_type"><a href="lists?type=accident_type">Seurt gwallzarvoud</a></li>
      </span>
      <span type="module" ifenabled="true" name="disciplinary_action">
	<li task="can_edit_database_list_disciplinary_action_type"><a href="lists?type=disciplinary_action_type">Disciplinary Action Type</a></li>
	<li task="can_edit_database_list_disciplinary_action_reason"><a href="lists?type=disciplinary_action_reason">Disciplinary Action Reason</a></li>
      </span>
    </ul></div>
  <div task="can_edit_geographic_database_lists">
    <h3>Titouroù douaroniel</h3>
    <ul><li task="can_edit_database_list_country"><a href="lists?type=country">Bro</a></li>
      <li task="can_edit_database_list_region"><a href="lists?type=region&amp;field=country">Rannvro</a></li>
      <li task="can_edit_database_list_district"><a href="lists?type=district&amp;field=region">Distrig</a></li>
      <li task="can_edit_database_list_county"><a href="lists?type=county&amp;field=district">Kontelezh</a></li>
      <li task="can_edit_database_list_currency"><a href="lists?type=currency">Teulenn</a></li>
    </ul></div>
  <div task="can_edit_planning_database_lists">
    <span name="establishment" type="module" ifenabled="true">
      <h3>Titouroù an implij-amzer</h3>
      <ul><li task="can_edit_database_list_establishment_type"><a href="lists?type=establishment_type">Seurt diazezadur</a></li>
	<li task="can_edit_database_list_establishment_period"><a href="lists?type=establishment_period&amp;field=establishment_type">Prantad lakaat reoladoù da dalvezout</a></li>
	<li task="can_edit_database_list_establishment"><a href="lists?type=establishment&amp;field=establishment_period">Ar reoladoù</a></li>
      </ul></span>
  </div>


  <span name="training-course" type="module" ifenabled="true">
    <div task="can_edit_training_course_database_lists">
      <h3>Titouroù war ar c'hentelioù stummañ</h3>
      <ul><li task="can_edit_database_list_training_course"><a href="lists?type=training_course&amp;mapped=scheduled_training_course">Kentelioù stummañ</a></li>
	<li task="can_edit_database_list_scheduled_training_course"><a href="lists?type=scheduled_training_course&amp;field=training_course">Kentel stummañ programmet</a></li>
	<li task="can_edit_database_list_training_course_status"><a href="lists?type=training_course_status">Status ar gerntel stummañ</a></li>
	<li task="can_edit_database_list_training_course_requestor"><a href="lists?type=training_course_requestor">Goulennoù kentelioù stummañ</a></li>
	<li task="can_edit_database_list_training_course_evaluation"><a href="lists?type=training_course_evaluation">Prizañ ar gentel stummañ</a></li>
	<li task="can_edit_database_list_training_course_category"><a href="lists?type=training_course_category">Rummad ar gentel stummañ</a></li>
	<span type="module" name="manage-training-institution" ifenabled="true">
	  <li task="can_edit_database_list_training_institution"><a href="lists?type=training_institution">Ensavadur stummañ</a></li>
	  <li task="can_edit_database_list_training_funder"><a href="lists?type=training_funder">Arc'hantaouer ar stummadur</a></li>
	</span>
	<span type="module" name="CEUs" ifenabled="true">
	  <li task="can_edit_database_list_continuing_education_course"><a href="lists?type=continuing_education_course">Kentel stummañ dibaouez</a></li>
	</span>
      </ul></div>
  </span>

  <span role="admin">
      <h2>Dilemel a-vras</h2>
      <ul><span type="module" name="ihris-manage-MassDeleteFacility" ifenabled="true">
          <li><a href="delete_by_facility">Dre ziazezadur</a></li>
        </span>
        <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
          <li><a href="delete_by_search">Dre zen (pajenn enklask)</a></li>
        </span>
      </ul></span>
</div>
