Source: ihris-manage
Maintainer: Carl Leitner <litlfred@ibiblio.org>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 10)
Homepage: http://launchpad.net/ihris-manage


Package: ihris-manage
Architecture: all
Depends: ihris-common
Recommends: 
Description: iHRIS Manage
 iHRIS Manage base library for iHRIS products
