<div id="siteContent">
  <h1>Delyte Aw Records bi Faceelitie</h1>
  <p><strong>WARNISHMENT:</strong> This will delyte aw poseetions n person records assigned til thae poseetions fae the database. This can yinlie be recovered fae backups manuallie, sae mak sair that yer backups ar up til date afore daein this action!</p>
  <form method="POST" id="delete_form" action="delete_by_facility_action">
    <h2>Selectit Faceelities</h2>
    <div id="facility_list">
    </div>
    <div id="facility_selection" style="display:none;">
      <select id="facility_select" name="facilities[]" multiple></select></div>
    <input type="hidden" name="step" value="choose"><input type="submit" class="button" value="Continue"></form>
</div>
