<tr>
	<td style="text-align:center;width:20px"><span name="leave_balance_counter"></span></td>
	<td style="text-align:center;width:150px"><span name="leave_balance_period"></span></td>
	<td style="text-align:center;width:150px"><span name="leave_balance_category"></span></td>
	<td style="text-align:center;width:150px"><span name="leave_balance_max_days"></span></td>
	<td style="text-align:center;width:150px"><span name="leave_balance_leave_days"></span></td>
	<td style="text-align:center;width:150px"><span name="leave_balance_balance"></span></td>
</tr>
