<div id="list_display" class='recordsData' task="can_view_database_list_leave_cycle">

	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_leave_cycle'><span type="form" name="leave_cycle:id" href="lists?type=leave_cycle&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=leave_cycle">Select another Leave Cycle</a></li>
		</ul>
	</div> <!-- editRecord -->

	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Leave Cycle</th>
		</tr>
		<span type="form" name="leave_cycle:years" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->

</div> <!-- list_display -->
