<tbody>
  <tr>
    <th colspan="2">Person Leave Information</th>
  </tr>
  <tr id="list_fields">
    <td>
      <span type="form" name="personleave:person_leave_type" showhead="default"></span>
      <span type="form" name="personleave:days_requested" showhead="default"></span>
      <span type="form" name="personleave:start_date" showhead="default"></span>
      <span type="form" name="personleave:end_date" showhead="default"></span>
      <span type="form" name="personleave:remaining_days" showhead="default" noedit="true"></span>
    </td><td>
<!--<span role="department_manager|hr_admin|exec_director">
     <span type="form" name="personleave:hod_recomm"  showhead="default"></span>
</span>
<span role="hr_admin">
     <span type="form" name="personleave:hr_recomm" showhead="default"></span>
</span>
<span role="exec_director">
     <span type="form" name="personleave:approval" showhead="default"></span>
</span>-->
 </td>
  </tr>
</tbody>
