<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Maligayang pagdating</h1>
<p>
<strong>Pamamahala ng iHRIS</strong> ay isang kasangkapang pangpamamahala ng mga mapagkukunan ng tauhan na nagbibigay ng kakayahan sa isang organisasyon na makapagdisenyo at makapamahala ng isang malaganap na estratehiya ng pagkuha ng tauhan.  Habang pangunahing binalak ito para sa pamamahala ng mga manggagawang pang-pangangalaga ng kalusugan, ang iHRIS Manage ay agad-agad na maiaangkop sa iba pang mga uri ng mga naghahanapbuhay.  Ang iHRIS Manage ay isang solusyong sopwer na malaya at Bukas ang Pinagmulan na pinaunlad ng 
<a href="http://www.capacityplus.org"> Kapasidad<i>Dagdag</i></a>, isang panibagong hakbang na pangmundo upang makatulong sa umuunlad na mga bansa na makapagtatag at makapagpanatili ng mga manggagawang pangkalusugan.
</p>
</div><!-- /welcomeIntro -->