<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Maligayang pagdating, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Upang makapagsimula sa paggamit ng Pamamahala ng iHRIS, pakipindot ang isa sa mga mapagpipiliang nasa ibaba.  Bumalik sa pahinang ito sa anumang oras sa pamamagitan ng pagpindot ng pindutang Tahanan na nasa baretang nasa itaas.  Kung kailangan mo ng tulong sa anumang tungkulin, pindutin ang pindutang Tulong.  Hinihikayat ka naming padalhan kami ng anumang mga kamaliang matatagpuan mo, mga mungkahi sa pagpapainam o karagdagang mga tampok, at anumang iba pang puna na mayroon ka tungkol sa sopwer na ito; makipag-ugnayan sa amin sa anumang oras sa pamamagitan ng pagpindot sa pindutang Tugon o pagdalaw sa <a href="http://www.capacityplus.org/hris/">Websayt na Pangpatibay ng HRIS</a>.
</p>
</div><!-- /welcomeIntro -->