<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Benvido</h1>
<p>
<strong>iHRIS Manage</strong> é unha ferramenta de administración de recursos humanos que permite ás organizacións deseñar e xestionar unha completa estratexia de recursos humanos. Malia estar pensada inicialmente para administrar os traballadores da saúde, a ferramenta iHRIS Manage pode adaptarse facilmente a outros tipos de persoal. iHRIS Manage é un software gratuíto e de código aberto desenvolvido por 
<a href="http://www.capacityplus.org"> Capacidade<i>Plus</i></a>, unha iniciativa global e innovadora para axudar aos países en desenvolvemento a construír e manter o persoal sanitario.
</p>
</div><!-- /welcomeIntro -->