<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Dámoslle a benvida, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Para comezar a utilizar iHRIS Manage, prema nalgunha das opcións que hai a continuación. Volva a esta páxina en calquera momento facendo clic no botón "Inicio" da barra superior. Se necesita axuda con algunha función, prema no botón de axuda. Gustaríanos recibir unha mensaxe se atopa un erro, se ten suxestións para mellorar ou quere algunha característica adicional ou se ten calquera outro comentario que queira realizar sobre o software; póñase en contacto con nós en calquera momento premendo no botón de comentarios ou visitando o <a href="http://www.capacityplus.org/hris/">Sitio web de mellora de HRIS</a>.
</p>
</div><!-- /welcomeIntro -->