<div id="welcomeIntro">
<img src="file/photos/Uganda-Parliament.jpg" alt="moh complex (photo)" width="308" height="200" />
<h1>Welcome</h1>
<p>
<strong>iHRIS Train</strong> is a human resources management tool that enables an organization to track 
and manage a comprehensive human resources strategy for In-service Trainings. While primarily intended for tracking 
health care worker trainings, iHRIS Train may be readily adapted to other types of 
workforces and trainings. iHRIS Train is a free, Open Source software solution developed by 
<a href="http://www.capacityproject.org">The Capacity Project</a>, an innovative global 
initiative to help developing countries build and sustain the health workforce.
</p>
</div><!-- /welcomeIntro -->
