<div id="siteContent">
    <h1 class="header">Schedule Students Course Enrollment</h1>
    <div id="error" />

    <table border="0" cellpadding="0" cellspacing="0" class="multiFormTable">
    <tr>
        <th colspan="2">Current Schedule</th>
	 </tr>
	 <tr>
<td><span type="form" name="schedule_course_enrollment:start_date" showhead="default"></span></td>
<td><span type="form" name="schedule_course_enrollment:end_date" showhead="default"></span></td>
</tr>
</table>
<p>
<form  method="post" action="schedule_course_enrollment">
<div id="form">
<table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="4">Re-schedule</th>
    </tr>
	<tr id="list_fields">
<td><span type="form" name="schedule_course_enrollment:training_institution" /><span type="form" name="schedule_course_enrollment:start_date" showhead="default"></span></td>
<td><span type="form" name="schedule_course_enrollment:end_date" showhead="default"></span></td>
</tr>

    <tr class="submitCell">
        <td colspan="4">
            <div id="button" />
        </td>
    </tr>
</table>
</div>
</form>
</div>
