<div id="list_display" class='recordsData' task="can_view_database_list_training_type">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_training_type'><span type="form" name="training_length_type:id" href="lists?type=training_length_type&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=training_length_type">Select another Training Length Type</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Training Type Information</th>
		</tr>
		<span type="form" name="training_length_type:name" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
