<div>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li><span type="form" name="access_facility:id" href="access_facility?id=" parent="true">Update this Information</span></li>
    </ul>
  </div>
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <th colspan="2">Facility Level Access</th>
        </tr>
        <span type="form" name="access_facility:location" showhead="default" />
      </tbody>
    </table>
  </div>
</div>
