<tbody id="list_fields">
  <tr>
    <td class="formdata">          
      <span type="form" name="training_program:name" showhead="default"></span>
		<span type="form" name="training_program:program_category" showhead="default"></span>
		<span type="form" name="training_program:department" showhead="default"></span>
	 </td>
	 <td class="formdata">
      <span type="form" name="training_program:total_semesters" showhead="default"></span>      
      <span type="form" name="training_program:min_sem_credits" showhead="default"></span>
      <span type="form" name="training_program:max_sem_credits" showhead="default"></span>
      <span type="form" name="training_program:program_credits" showhead="default"></span>
    </td>    
  </tr>
  <tr>
      
  </tr>
</tbody>
