<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1 dir="rtl">ترحيب</h1>
<p dir="rtl">
<strong dir="rtl">إدارة iHRIS</strong> إنها أداة  إدارة الموارد البشرية  تمكن المنظمة من تصميم وإدارة استراتيجية شاملة للموارد البشرية. بينما تهدف في المقام الأول الي إدارة العاملين في مجال الرعاية الصحية، فإن Manage iHRIS تتكيف بسهولة مع  الأنواع الأخرى من القوى العاملة. iHRIS Manage  هو برنامج كمبيوتر مفتوح المصدر و مجاني. 
<a href="http://www.capacityplus.org" dir="rtl"> سعة<i dir="rtl">زائد</i></a>, مبادرة مبتكرة عالمية لمساعدة البلدان النامية على بناء وتعزيز القوى العاملة في قطاع الصحة.
</p>
</div><!-- /welcomeIntro -->