div.facility_block {
    margin: 10px;
}
table.audit_report_table {
    border: 2px solid black;
}
table.audit_report_table td,
table.audit_report_table th {
    border: thin solid black;
    padding: 2px;
    font-size: 10px;
}
table.audit_report_table td {
    text-align: right;
}
table.audit_report_table th {
    font-weight: bold;
}
table.audit_report_table tr.audit_top th {
    background-color: #333333;
    color: white;
    text-align: left;
    font-size: 14px;
}
table.audit_report_table tr.audit_head th {
    background-color: #cccccc;
    text-align: center;
    font-size: 12px;
}
table.audit_report_table tr.audit_subtotal th {
    font-weight: bold;
    text-align: right;
    font-size: 12px;
}
p.audit_select_link {
    font-weight: bold;
    font-size: 12px;
}
