<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Bienvenue, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Pour commencer à utiliser la formation iHRIS, veuillez cliquer sur une des options ci-dessous. Revenez sur cette page à n’importe quel moment en cliquant sur le bouton Accueil dans la barre ci-dessus. Si vous avez besoin d’aide avec une fonction quelconque, cliquez sur le bouton Aide. Nous vous encourageons à nous envoyer toutes les erreurs que vous trouverez, des suggestions d’amélioration ou de fonctionnalités supplémentaires, et tout autre commentaire que vous voudriez faire sur ce logiciel ; contactez-nous à n’importe quel moment en cliquant sur le bouton Commentaire ou visitez le <a href="http://www.capacityplus.org/hris/">Site web de renforcement de iHRIS</a>.
</p>
</div><!-- /welcomeIntro -->
