<tbody id="person_form">
<tr>
    <th colspan="2">Drop A Student For This Semester</th>
</tr>
<tr>
	<td>
		<span type="form" name="drop_semester:registration" />		
		<span type="form" name="drop_semester:semester" showhead="default"></span>
		<span type="form" name="drop_semester:reason" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="drop_semester:academic_year" showhead="default"></span>
		<span type="form" name="drop_semester:drop_date" showhead="default"></span>
    </td>
</tr>
</tbody>