<tbody id="person_form">
<tr>
    <th colspan="2">Leave of Absence</th>
</tr>
<tr id="list_fields">
	<td>
    <span type="form" name="leave_of_absence:type" showhead="default"></span>
    <span type="form" name="leave_of_absence:start_date" showhead="default"></span>
    <span type="form" name="leave_of_absence:end_date" showhead="default"></span>
    <span type="form" name="leave_of_absence:paid" showhead="default"></span>
  </td>
  <td>
    <span type="form" name="leave_of_absence:incomplete" showhead="default"></span>
    <span type="form" name="leave_of_absence:cause" showhead="default" mline="true"></span>
    <span type="form" name="leave_of_absence:notes" showhead="default" mline="true"></span>
  </td>
</tr>
</tbody>
