<ul>
  <span type='module' name='Lecturers' ifenabled='true'><li task="can_add_lecturer"><a href="add_lecturer">Add Lecturer</a></li></span>
  <span type='module' name='ScheduleCourseEnrollment' ifenabled='true'><li task="can_schedule_students_course_enrollment"><a href="schedule_course_enrollment">Open And Close Students Course Registration</a></li></span>
  <span type='module' name='AssignCourseToTrainer' ifenabled='true'><li task="can_assign_course_trainer"><a href="assign_course_trainer">Assign Course To Lecturer</a></li></span>
  <span type='module' name='ScheduleCourseEnrollment' ifenabled='true'><li task="can_add_students_results"><a href="add_results_select_course">Add Semester Results</a></li></span>
  <span type='module' name='ScheduleCourseEnrollment' ifenabled='true'><li task="can_approve_results"><a href="results_approval">Approve Semester Results</a></li></span>
  <span type='module' name='STSTraining' ifenabled='true'><li task="can_edit_database_list_training"><a href="auto_list/view?form_name=training">Add Semester Courses</a></li></span>
  <span type='module' name='RescheduleCourse' ifenabled='true'><li task="can_edit_reschedule_course"><a href="reschedule_course">Reschedule Courses To Other Semesters</a></li></span>
  <span type='module' name='STSTraining' ifenabled='true'><li task="can_edit_database_list_training_program"><a href="auto_list/view?form_name=training_program">Training Program</a></li></span>
  <span type='module' name='STSTraining' ifenabled='true'><li task="can_edit_database_list_department"><a href="auto_list/view?form_name=department">Departments</a></li></span>  
  <span type='module' name='STSTraining' ifenabled='false'><li task="provider_can_edit"><a href="trainingprovider">Add Training Provider</a></li></span>
  <span type='module' name='STSTraining' ifenabled='false'> <li task="provider_can_view"><a href="search/search_training_provider?no_results=0">Find Training Provider</a></li></span>
  <span type='module' name='STSTraining' ifenabled='false'><li task="can_edit_database_lists"><a href="auto_list">Training Courses</a></li></span>
  <li><a href="instance_calendar">Training Instance Calendar</a></li>
</ul>
