<div>
	<div class="editRecord">
	<p>Diese Informationen bearbeiten</p>
		<ul><li role="hr_staff"><span type="form" name="application:id" href="application?id=" parent="true">Diese Informationen aktualisieren</span></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Offene Stelle(n) für welche die Bewerbung gedacht ist</th>
	</tr><span type="form" name="application:position" showhead="default"></span>
	<span type="form" name="application:start_date" showhead="default" class="even"></span>
	<span type="form" name="application:desired_wage" showhead="default"></span>
	<span type="form" name="application:full_time" showhead="default" class="even"></span>
	<span type="form" name="application:hours" showhead="default"></span>
	<tr><th colspan="2">Fragen des Bewerbers</th>
	</tr><span type="form" name="application:hear" showhead="default"></span>
	<span type="form" name="application:other_info" showhead="default" class="even"></span>
	<span type="form" name="application:felony" showhead="default"></span>
	<span type="form" name="application:felony_circumstance" showhead="default" class="even"></span>
	</table></div> <!-- dataTable -->
</div>
