<div id="siteContent">
    <h1>Administrar a base de datos</h1>

    <h3>Listas de licenzas</h3>
    <ul><li><a href="lists?type=qualification">Cualificación</a></li>    	
    	<li><a href="lists?type=cadre">Cadro</a></li>
	<span type="module" name="CEUs" ifenabled="true">
	  <li><a href="lists?type=continuing_education_course">Curso de educación continua</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Categoría de acción disciplinaria</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Motivo para a acción disciplinaria</a></li>
       	<li><a href="lists?type=out_migration_reason">Motivo da migración</a></li>
    	<li><a href="lists?type=training_disruption_category">Categoría de interrupción da formación</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Motivo de interrupción da formación</a></li>
    </ul><h3>Listas demográficas</h3>
    <ul><li><a href="lists?type=academic_level">Nivel académico</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Certificado</a></li>
    	<li><a href="lists?type=id_type">Tipo de identificación</a></li>
    	<li><a href="lists?type=contact_group">Contact Group</a></li>
    	<li><a href="lists?type=marital_status">Estado civil</a></li>
    </ul><h3>Listas xeográficas</h3>
    <ul><li><a href="lists?type=country">País</a></li>
    	<li><a href="lists?type=region&amp;field=country">Rexión</a></li>
    	<li><a href="lists?type=district&amp;field=region">Distrito</a></li>
    	<li><a href="lists?type=county&amp;field=district">Condado</a></li>
    </ul><h3>Listas de institucións</h3>
    <ul><li><a href="lists?type=health_facility">Establecemento sanitario</a></li>
	<span type="module" name="training-institution" ifenabled="true">
	  <li><a href="lists?type=training_institution">Institución de formación</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Axente do establecemento</a></li>
    	<li><a href="lists?type=facility_type">Tipo de establecemento</a></li>
    	<li><a href="lists?type=facility_status">Estado do establecemento</a></li>
    </ul><span type="module" name="RecordVerify" ifenabled="true">
    <h3>Listas administrativas</h3>
    <ul><li><a href="lists?type=verify_change">Modificacións na verificación do rexistro</a></li>
    </ul></span>
    
</div>
