<tbody>
  <tr>
    <th colspan="3">Perfomance Plan Information</th>
  </tr>
  <tr id="list_fields">
    <td>
      <span type="form" name="performance_plan:start_date" showhead="default"></span>
      <span type="form" name="performance_plan:outputs" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="performance_plan:end_date" showhead="default"></span>
      <span type="form" name="performance_plan:perform_ind" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="performance_plan:" showhead="default"></span>
      <span type="form" name="performance_plan:perform_terg" showhead="default"></span>
    </td>
  </tr>
</tbody>
