<div task='person_can_view_child_form_performance_plan'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_performance_plan'>
	<span type="form" ifset="performance_plan:id" name="performance_plan:id" href="performance_plan?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
	<tr>
	  <th colspan="2">Perfomance Plan Information</th>
	</tr>
	<span type="form" name="performance_plan:start_date" showhead="default"></span>
      <span type="form" name="performance_plan:end_date" showhead="default" class="even" ></span>
      <span type="form" name="performance_plan:outputs" showhead="default"></span>
      <span type="form" name="performance_plan:perform_ind" showhead="default" class="even" ></span>
      <span type="form" name="performance_plan:perform_terg" showhead="default"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>
