<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Informazione personale</a></li>
	<span type="module" name="PersonContact" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Informazioni contatto</a></li>
	</span>
	<li><a href="#jump_position" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Informazioni ruolo</a></li>
	<span type="module" name="manage-training-course" ifenabled="true">
	  <li><a href="#jump_courses" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Corsi di formazione</a></li>
	</span>
	<span type="module" name="PersonAttendance" ifenabled="true">
	  <li><a href="#jump_person_attendance" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Attendance Information</a></li>
	</span>
	<li><a href="#jump_qualification" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Qualifiche</a></li>
	<span type="module" name="disciplinary_action" ifenabled="true">
	  <li><a href="#jump_disciplinary_action" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Azioni disciplinari</a></li>
	</span>
	<span type="module" name="accident" ifenabled="true">
	  <li><a href="#jump_accident" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Incidenti sul lavoro</a></li>
	</span>
	<span type="module" name="ihris-manage-Application" ifenabled="true">
	  <li><a href="#jump_application" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Candidatura</a></li>
	</span>
	<span type="module" name="PersonEmployment" ifenabled="true">
	  <li><a href="#jump_employment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Storico dell'impiego</a></li>
	</span>
	<span type="module" name="PersonEducation" ifenabled="true">
	  <li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Storico della formazione</a></li>
	</span>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Note</a></li>
	<span type="module" name="SelfService" ifenabled="true">
	  <li>
	    <a href="#jump_self_service" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Self-Service</a>
	  </li>
	</span>
	<span type="module" name="PersonArchivedScan" ifenabled="true">
	  <li><a href="#jump_archived_scans" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Registrazioni effettuate</a></li>
	</span>
	<span type="module" name="RecordStatus" ifenabled="true">
	  <li><a href="#jump_record_status" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Stato di registrazione</a></li>
	</span>

</ul>