<div id="siteContent">
  <span task='person_can_edit'>
    <h2><a href="person" class="createRecords">Add New Health Worker</a></h2>
    <p>
      Add a new Community Health Worker record to the system. 
    </p>
  </span>

  <span type='module' name='CustomReports' ifenabled='true'>
    <div task='custom_reports_can_access'>
      <hr />
      
      <h2><a href="search" class="searchRecords">Search Records</a></h2>
      <p>
	Locate any employee or position record in the system to review, print or update. 
      </p>
    </div>
  </span>
    <span type='module' name='ManageDashboard' ifenabled='true'>
    <div task='can_view_dashboard'>
      <hr />
      
      <h2><a href="dashboard" class="createRecords">View Dashboards</a></h2>
      <p>
		  View system dashboards
      </p>
    </div>
  </span>    
  <div task='custom_reports_can_view_reportViews'>
    <hr />
    
    <h2><a href="CustomReports/view/reportViews" class="createRecords">View Reports</a></h2>
    <p>
      Reports enable analysis of human resource data in various ways. Customize, display 
      and print staff lists, statistical charts and other standard reports. 
    </p>
  </div>

	<span type="module" name='DHIS-Dashboard' ifenabled='true'>
		<div>
			<hr />
			<h2><a href="http://192.168.0.19:8090/new_dhis/dhis-web-dashboard-integration/index.action" >View Dashboard</a></h2>
		<!--        <h2><a href="DHIS-Dashboard/dashboard" >View Dashboard</a></h2>-->
			<p>
				View DHIS Dashboard
			</p>
		</div>
		</span>

		<span type="module" name='DHIS-Dashboard' ifenabled='true'>
		<div>
			<hr />

			<h2><a href="index.php/DHISDashboard" >DHIS Export</a></h2>
			<p>
				Send DHIS Report
			</p>
		</div>
	</span>

  <span role='admin' type='module' name='mHero'  ifenabled='true' >      
    <h2>
      <a href='mHero'>mHero</a>
    </h2>
    <p>
      <span  style='display:inline-block'>
	<a href="mHero_person_workflow" target='_mHero'>
	  <img text='mHero' style='width:10em;' src='file/mHero.png'  />
	</a>

      </span>
      Use the mHero intgerated health system communications platform against personnel records.

    </p>
  </span>
  <span role='admin' type='module' name='mHero-csd-provider'  ifenabled='true' >      
    <h2>
      <a href='mHero'>mHero</a>
    </h2>
    <p>
      <span  style='display:inline-block'>
	<a href="mhero_search_provider"  target='_mHero'>
	  <img text='mHero' style='width:10em;' src='file/mHero.png'  />
	</a>

      </span>
      Use the mHero intgerated health system communications platform with the Health Worker Registry.

    </p>
  </span>


  <div task='can_configure_system'>
    <hr />
    
    <h2><a href="configure" class="adminDatabase">Configure System</a></h2>
    <p>
      Configure modules, administer positions, customize drop down menus and create or update user accounts.
    </p>
  </div>
  
  <span type='module' name='SelfService' ifenabled='true' task='can_view_own_personnel'>
    <span type='module' name="SelfService" if="!userHasRecord()">
    </span>
    <span type='module' name="SelfService" if="userHasRecord()">
      <div>
	<h2><span type='module' name="SelfService" call="linkToPersonRecord('view?id=')">View Your Personnel Details</span></h2>
	<p>
	  View your personnel details.
	</p>
      </div>
    </span>
  </span>


  <hr />
  <h2><a href="password">Change Password</a></h2>

</div>
