<div id="welcomeIntro" style="margin:20px;">
<br/>
<!--<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203" />-->
<h1>Welcome</h1>
<p>
The purpose of the <strong>Community Health Workforce Registry</strong> is to 
strengthen evidenced planning and management of VHT's/CHEW's by providing health
system managers and other stakeholders with an accurate picture of community 
health workerforce distribution and capacity to aid in planning and decision-making.
</p>
</div><!-- /welcomeIntro -->
