<div id="siteContent" style="margin-left:5px;">
  <div class="loginTable col-md-12 col-xs-12">
    <div class="col-md-6">
      <form id="form1" method="post" action="login">

        <div class="row">
          <td colspan="2">
            <h2>Please Log In</h2>
            <span style="font-size: 12px;">Enter your username and password.</span>
            <hr /><span id="error_message" name="error_message"></span>
          </td>
        </div>
        <div class="row">
          <label>Username:</label>
          <input type="text" name="username"  style="width:30%; padding:4px;"/>
        </div>
        <div class="row">
          <label>Password:</label>
          <td><input type="password" name="password"  style="width:30%; padding:4px;"/></td>
        </div>

        <div class="row">
          <input type="submit" value="Login" name="submit" class="button" />
          <span class="forgot"><a href="forgot">Forgot username or password?</a></span></td>
        </div>



      </form>
    </div>

    </div>

  <!--<span type='module' name='ManageSelfServiceApplication' ifenabled='true'>
    <h2>Current Positions</h2>
      <span type='module' name='SelfService' if='canSelfRegister()'><a href="SelfService/register">Register</a></span> 
    <p/>
    <span type='module' name='SelfService' if='canViewReport("open_position")'><a href='SelfService/view/open_position'>View Open Positions</a></span>
  </span>-->

</div>

