<!-- <div id="siteContent">
  <form id="form1" method="post" action="login">
  <table border="0" cellspacing="0" cellpadding="0" class="loginTable">
    <tr>
      <td colspan="2"><h2>Please Log In</h2>
        <span style="font-size: 12px;">Enter your username and password.</span>
        <hr /><span id="error_message" name="error_message"></span></td>
    </tr>
    <tr>
      <th>Username:</th>
      <th>Password:</th>
    </tr>
    <tr>
      <td><input type="text" name="username" /></td>
      <td><input type="password" name="password" /></td>
    </tr>

    <tr>
      <td colspan="2">
      <input type="submit" value="Login" name="submit" class="button" />
      <span class="forgot"><a href="forgot">Forgot username or password?</a></span></td>
    </tr>


  </table>
  </form> -->
  <!--<span type='module' name='ManageSelfServiceApplication' ifenabled='true'>
    <h2>Current Positions</h2>
    <!--    <span type='module' name='SelfService' if='canSelfRegister()'><a href="SelfService/register">Register</a></span> 
    <p/>
    <span type='module' name='SelfService' if='canViewReport("open_position")'><a href='SelfService/view/open_position'>View Open Positions</a></span>
  </span>-->
<!-- 
</div> -->


<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
        class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <form>
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-0 me-3">Sign In</p>
         

        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0">Or</p>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form3Example3" name="username" class="form-control form-control-lg"
            placeholder="Enter a valid email address" />
          <label class="form-label" for="form3Example3" >Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
          <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
            placeholder="Enter password" />
          <label class="form-label" for="form3Example4" >Password</label>
        </div>

        <div class="d-flex justify-content-between align-items-center">
        
          <span class="forgot"><a href="forgot">Forgot username or password?</a></span></td>
 
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" class="btn btn-primary btn-lg" type="submit"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
       
        </div>

      </form>
    </div>
  </div>
</div>

