<div id="siteContent">
  <!-- <form id="form1" method="post" action="login">
  <table border="0" cellspacing="0" cellpadding="0" class="loginTable">
    <tr>
      <td colspan="2"><h2>Please Log In</h2>
        <span style="font-size: 12px;">Enter your username and password.</span>
        <hr /><span id="error_message" name="error_message"></span></td>
    </tr>
    <tr>
      <th>Username:</th>
      <th>Password:</th>
    </tr>
    <tr>
      <td><input type="text" name="username" /></td>
      <td><input type="password" name="password" /></td>
    </tr>

    <tr>
      <td colspan="2">
      <input type="submit" value="Login" name="submit" class="button" />
      <span class="forgot"><a href="forgot">Forgot username or password?</a></span></td>
    </tr>


  </table>
  </form> -->
  <!--<span type='module' name='ManageSelfServiceApplication' ifenabled='true'>
    <h2>Current Positions</h2>
        <span type='module' name='SelfService' if='canSelfRegister()'><a href="SelfService/register">Register</a></span> 
    <p/>
    <span type='module' name='SelfService' if='canViewReport("open_position")'><a href='SelfService/view/open_position'>View Open Positions</a></span>
  </span>-->

<!-- </div> -->


<div class="main">
  <div class="item">
    <div class="content">
      <form action="#" class="form-horizontal" action="#">
        <div class="logo"><img src="./images/user1.png"></div>
        <div class="input-group lg">
          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input type="text" name="username" class="form-control" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
        </div>
        <div class="input-group lg">
          <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
        </div>  

        <div class="form-group in">
        <input type="submit" name="reg" class="btn btn-info btn-block" value="LOGIN"><br>
        <button type="button" name="signup" class="btn btn-success btn-block" id="back"><a href="register.php">SIGN UP</a></button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>