<div id="siteContent">
  <h1>
    View Community Health Worker: <span type="form" name="person:surname" />,<span type="form"
      name="person:firstname" />
  </h1>
  <!--<div id='external_hwr_apps' class='extenral_hwr_apps' style='float:right;display:block;width:100%' >
    <span type='module' name='IL-HWR'  ifenabled='true' >
      <span role='admin' style='display:inline-block;float:right;'>
	<span type='form' href="IL-HWR-redirect?id=" name="person:id" target='_ILHWR'>
	  <center style='max-width:8em'>
	    <img text='Interlinked Health Worker Registry' style='margin-top:-3em;max-width:12em;max-height:5em;display-inline' src='file/OpenInfoMan.png'  />
	  </center>
	  <center style='max-width:8em'>
	    Interlinked Health Worker Registry
	  </center>
	</span>
      </span>
    </span>
    <span type='module' name='mHero'  ifenabled='true' >
      <span role='admin' style='display:inline-block;float:right;'>
	<span type='form' href="mHero_person_workflow?id=" name="person:id" target='_mHero'>
	  <center>
	  <img text='mHero' style='width:12em;max-height:2em;' src='file/mHero.png'  />
	  </center>
	  <center>
	    mHero
	  </center>
	</span>
      </span>
    </span>

  </div>-->
  <div id="tab_panel">
    <ul class="tabs" id="tabs_link">
      <li class="tab_link" id="tab_link_Individual">Bio Data Information</li>
      <li class="tab_link" id="tab_link_Positions">Position Information</li>
      <li class="tab_link" id="tab_link_Education">Education and Training Information</li>
      <!-- <li class="tab_link" id="tab_link_Performance">Performance Management Information</li> -->
      <li class="tab_link" id="tab_link_Other">Other Information</li>
    </ul>
    <div class="tabs_content" id="tabs_content">
      <div id="tab_content_Individual" class="tab_content" style="display:block">
        <h2>Bio Data Information</h2>
        <div>
          <div class="recordsData">
            <h3>
              <a name="jump_individual">Bio Data Information</a>
            </h3>
            <p class="editRecordsData" id="individual_links">
              <a href="" class="hide" title="Hide" onclick="return hideDiv('individual', this );">Hide</a>
              <!--<span task="person_can_edit_child_form_demographic" type="form" name="person:id" href="demographic?parent=" ifset="!demographic:id">Add Demographic Information</span>-->
              <span type='module' name='PersonPassportPhoto' ifenabled='true'>
                <span task="person_can_edit_child_form_person_photo_passport" type="form" name="person:id"
                  href="person_photo_passport?parent=">Add Passport Photo</span>||
              </span>
              <span type='module' name='PersonID' ifenabled='true'>
                <span task='person_can_edit_child_form_person_id' type="form" name="person:id"
                  href="person_id?parent=">Add Identification</span>
              </span>
            </p>
            <div id='person_photo_passport' class='recordsData'></div>
            <div id="individual">
              <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                  <li task='person_can_edit'>
                    <span type="form" name="person:id" href="person?id=">Update this Information </span>
                  </li>
                  <li>
                    <span type="form" name="person:id" parent="true"
                      href="field_history?field=surname,firstname,othername&amp;template=fullname&amp;type=person&amp;id=">View
                      Name History</span>
                  </li>
                </ul>
              </div>
              <!-- editRecord -->
              <div class="dataTable">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <th colspan="2">Bio Data</th>
                  </tr>
                  <span type="form" name="person:national_id" showhead="default"></span>
                  <span type="form" name="person:surname" showhead="default" class="even"></span>
                  <span type="form" name="person:firstname" showhead="default"></span>
                  <span type="form" name="person:othername" showhead="default" class="even"></span>
                  <!--<span type="form" name="person:nationality" showhead="default"></span>-->
                  <span type="form" name="person:residence" showhead="location" mline="true" class="even"></span>
                  <span type="form" name="person:birth_date" showhead="default"></span>
                  <span type="form" name="person:gender" showhead="default" class="even"></span>
                  <span type="form" name="person:marital_status" showhead="default"></span>
                  <span type="form" name="person:mobile_phone" showhead="default" class="even"></span>
                  <span type="form" name="person:alt_telephone" showhead="default"></span>
                  <span type="form" name="person:emergency_name" showhead="default" class="even"></span>
                  <span type="form" name="person:emergency_telephone" showhead="default"></span>
                </table>
              </div> <!-- dataTable -->
              <div id="person_id" class='recordsData'></div>
              <!--<div id='demographic' class='recordsData'>  </div>-->
            </div>
            <!--end indiviudal-->
            <br style="clear: both;" />
          </div>
          <!--end records data-->


          <!--<span type='module' name='PersonContact' ifenabled='true'>
    <div class="recordsData" task='person_can_view_child_form_person_contact_personal|person_can_view_child_form_person_contact_emergency'>
      <h3>
        <a name="jump_contact">Contact Information</a>
      </h3>
      <p class="editRecordsData" id="contact_links">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('contact', this );">Hide</a>
      </p>
      <span id='contact'>
        <div id="person_contact_personal"></div> <!- personal contact -->
          <!--<div id="person_contact_emergency"></div> <!- emefencye contact 
      </span>
      <br style="clear: both;" />
    </div>
     <!- recordsData 
  </span>
  
  <!-<span type='module' name='dependents' ifenabled='true'>
    <div class="recordsData" task='person_can_view_child_form_dependent'>
      <h3><a name="jump_dependent">Dependent Information</a></h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('dependent', this );">Hide</a>
        <span task='person_can_edit_child_form_dependent' type="form" name="person:id" href="dependent?parent=" >Add Dependent</span>
      </p>
      <div id="dependent"></div>
      <br style="clear: both;" />
    </div>
  </span>


  <span type='module' name='nextOfKin' ifenabled='true'>
    <div class="recordsData" task='person_can_view_child_form_nextofkin'>
      <h3><a name="jump_nextofkin">Next of Kin Information</a></h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('nextofkin', this );">Hide</a>
        <span task='person_can_edit_child_form_nextofkin' type="form" name="person:id" href="nextofkin?parent=" >Add Next of Kin</span>
      </p>
      <div id="nextofkin"></div>
      <br style="clear: both;" />
    </div>
  </span>-->
        </div>
      </div><br style="clear:both" />
      <div id="tab_content_Positions" class="tab_content" style="display:none">
        <h2>Position Information</h2>
        <div>

          <div class="recordsData"
            task='person_can_view_child_form_person_position|person_can_view_child_form_salary|person_can_view_child_form_benefit'>
            <h3>
              <a name="jump_position">Position Information</a>
            </h3>
            <p class="editRecordsData">
              <a href="" class="hide" title="Hide" onclick="return hideDiv('position', this );">Hide</a>
              <span task='person_can_edit_child_form_person_position' ifset="!person_position:id" type="form"
                name="person:id" href="make_offer?parent=">Set Position</span>
              <span task='person_can_edit_child_form_person_position' ifset="person_position:end_date"
                ifvalue="!0000-00-00 00:00:00" type="form" name="person:id" href="make_offer?parent=">Set
                Position</span>||
              <span type='module' name='PersonVillage' ifenabled='true'>
                <span task='person_can_edit_child_form_person_village' type="form" name="person:id"
                  href="person_village?parent=">Add Village Served</span>||
              </span>
              <!--<span task='person_can_edit_child_form_benefit' type="form" name="person:id" href="benefit?parent=" >Add Benefit/Special Payment</span>-->
              <!-- <span type='module' name='ihris-manage-LeaveOfAbsence' ifenabled='true'>
         <span task='person_can_edit_child_form_leave_of_absence' type="form" name="person:id" href="leave_of_absence?parent=" >Add Leave of Absence</span>
       </span>-->
              <span type='module' name='PersonService' ifenabled='true'>
                <span task='person_can_edit_child_form_person_service' type="form" name="person:id"
                  href="person_service?parent=">Add Services Provided</span>||
              </span>
              <span type='module' name='PersonFunction' ifenabled='true'>
                <span task='person_can_edit_child_form_person_function' type="form" name="person:id"
                  href="person_function?parent=">Add Function Provided</span>||
              </span>
              <span type='module' name='PersonIncentive' ifenabled='true'>
                <span task='person_can_edit_child_form_person_incentive' type="form" name="person:id"
                  href="person_incentive?parent=">Add Incentive/Tool Recieved</span>||
              </span>
            </p>

            <div id="position">

              <div id="person_position" task='person_can_view_child_form_person_position' />
              <br style="clear: both;" />
              <div id="salary" task='person_can_view_child_form_salary' />
              <br style="clear: both;" />
              <span type='module' name='PersonVillage' ifenabled='true'>
                <br style="clear: both;" />
                <div id="person_village" task='person_can_view_child_form_person_village' />
              </span>
              <!--<div id="benefit" task='person_can_view_child_form_benefit'/>-->
              <span type='module' name='ihris-manage-LeaveOfAbsence' ifenabled='true'>
                <br style="clear: both;" />
                <div id="leave_of_absence" task='person_can_view_child_form_leave_of_absence' />
              </span>
              <span type='module' name='PersonService' ifenabled='true'>
                <br style="clear: both;" />
                <div id="person_service" task='person_can_view_child_form_person_service' />
              </span>
              <span type='module' name='PersonFunction' ifenabled='true'>
                <br style="clear: both;" />
                <div id="person_function" task='person_can_view_child_form_person_function' />
              </span>
              <span type='module' name='PersonIncentive' ifenabled='true'>
                <br style="clear: both;" />
                <div id="person_incentive" task='person_can_view_child_form_person_incentive' />
              </span>

            </div>
            <!-- position -->
            <br style="clear: both;" />
          </div>
          <!-- recordsData -->

          <!--<span type='module' name='ihris-manage-confirmation' ifenabled='true'>
    <div class="recordsData" task='person_can_view_child_form_confirmation'>
      <h3>
        <a name="jump_confirmation">Confirmation Information</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>	
	<span type='module' call="ihris-manage-confirmation->addAllowedConfirmations({FORM}$person)"/>

      </p>
      


      <div id='confirmation' ></div>
      <br style="clear: both;" />
      	
    </div>-->
          <!--  recordsData --
  </span>-->
        </div>
      </div>

      <div id="tab_content_Education" class="tab_content" style="display:none">
        <h2>Education and Training Information</h2>
        <div>

          <span type='module' name='PersonEducation' ifenabled='true'>
            <div class="recordsData" task='person_can_view_child_form_education'>
              <h3>
                <a name="jump_education">Education History</a>
              </h3>
              <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('education', this );">Hide</a>
                <span task='person_can_edit_child_form_education' type="form" name="person:id"
                  href="education?parent=">Add Education</span>
              </p>

              <div id="education"></div>
              <br style="clear: both;" />

            </div>
            <!--  recordsData -->
          </span>
          <div class="recordsData"
            task='person_can_view_child_form_registration|person_can_view_child_form_person_language|person_can_view_child_form_person_competency'>
            <h3>
              <a name="jump_qualification">Languages</a>
            </h3>
            <p class="editRecordsData">
              <a href="" class="hide" title="Hide" onclick="return hideDiv('qualification', this);">Hide</a>
              <!--<span type="module" name="ManageRegistration" ifenbled="true">
        <span task="person_can_edit_child_form_registration" type="form" name="person:id" href="registration?parent=" ifset="!registration:id">Add Registration</span>
      </span>-->
              <span type='module' name='PersonLanguage' ifenabled='true'>
                <span task='person_can_edit_child_form_person_language' type="form" name="person:id"
                  href="person_language?parent=">Add Language Proficiency</span>
              </span>
            </p>

            <div id="qualification">

              <div id="person_language" task='person_can_view_child_form_person_language' />

            </div>
            <!-- qualification -->

            <br style="clear: both;" />
          </div>
          <!-- recordsData -->



          <span type='module' name='training-course' ifenabled='true'>
            <div class="recordsData" task='person_can_view_child_form_person_scheduled_training_course'>
              <h3>
                <a name="jump_courses">Training Courses</a>
              </h3>
              <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('course', this );">Hide</a>
                <span task='person_can_edit_child_form_person_scheduled_training_course' type="form" name="person:id"
                  href="training-course/schedule-person?parent=">Add Training Course</span>
              </p>
              <div id='person_scheduled_training_course' />
              <br style="clear: both;" />
            </div>
          </span>

          <!--<span type='module' name='ISTraining' ifenabled='true'>
    <div class="recordsData" task='person_can_view_child_form_person_training'>
      <h3>
        <a name="jump_person_training">In-service Training</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('person_training', this );">Hide</a>
        <span task='person_can_edit_child_form_person_training' type="form" name="person:id" href="person_training?parent=" >Add In-service Training</span>
      </p>
      <div id='person_training'/>
      <br style="clear: both;" />
    </div>
  </span>-->


          <!--<span type='module' name='PersonEmployment' ifenabled='true'>
    <div class="recordsData" task='person_can_view_child_form_employment'>
      <h3>
        <a name="jump_employment">Employment History</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('employment', this );">Hide</a>
        <span task='person_can_edit_child_form_employment' type="form" name="person:id" href="employment?parent=" >Add Employment</span>
      </p>
      
      <div id="employment"></div>
      <br style="clear: both;" />
    </div>
  </span>-->

        </div>
      </div>

      <br style="clear:both" />
      <!-- <div id="tab_content_Performance" class="tab_content" style="display:none"><h2>Performance Management Information</h2><div>
  <span type='module' name='PersonAppraisal' ifenabled='true'>
    <div class="recordsData" task='person_can_view_child_form_appraisal'>
      <h3>
        <a name="jump_appraisal">Appraisal Information</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('appraisal', this );">Hide</a>
        <span task='person_can_edit_child_form_disciplinary_action' type="form" name="person:id" href="appraisal/editAction?parent=" >New Appraisal Information</span>
         <span task='person_can_view_child_form_disciplinary_action' type="form" name="person:id" href="history?form=appraisal&amp;show_edit=true&amp;order_by=start_date&amp;id=">History</span>
      </p>
      
       <div id='appraisal'>
        <span type='module' call='appraisal->showCurrentAppraisal()'></span>
      </div>
      <br style="clear: both;" />
    </div>
     <!- recordsData ->
  </span>-->
    </div>
  </div><br style="clear:both" />
  <div id="tab_content_Other" class="tab_content" style="display:none">
    <h2>Other Information</h2>
    <div>
      <span type='module' name='PersonNotes' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_notes'>
          <h3>
            <a name="jump_notes">Notes</a>
          </h3>
          <p class="editRecordsData">
            <a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>
            <span task='person_can_edit_child_form_notes' type="form" name="person:id" href="notes?parent=">Add
              Note</span>
          </p>

          <div id="notes"></div>
          <br style="clear: both;" />

        </div>
        <!--  recordsData -->
      </span>

      <div class="recordsData" task='person_can_view_child_form_person_record_status'>
        <h3><a name="jump_record_status">Record Status</a></h3>
        <p class="editRecordsData" id="record_status_links">
          <a href="" class="hide" title="Hide" onclick="return hideDiv('person_record_status', this );">Hide</a>
        </p>

        <div id="person_record_status"></div>
        <br style="clear: both;" />
      </div> <!--  recordsData -->


      <span type='module' name='PersonArchivedScan' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_person_archive_scan'>
          <h3>
            <a name="jump_archived_scans">Scanned Paper Records</a>
          </h3>
          <p class="editRecordsData">
            <a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>
            <span task='person_can_edit_child_form_person_archive_scan' type="form" name="person:id"
              href="person_archive_scan?parent=">Add Scanned Document</span>
          </p>



          <div id='person_archive_scan'></div>
          <br style="clear: both;" />

        </div>
        <!--  recordsData -->
      </span>



      <span type='module' name='SelfService' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_user_map'>
          <h3>
            <a name="jump_self_service">Self Service</a>
          </h3>
          <p class="editRecordsData">
            <a href="" class="hide" title="Hide" onclick="return hideDiv('user_map', this );">Hide</a>
            <span type="form" name="person:id" href="SelfService/userAccount?parent=" ifset="!user_map:id">Assign User
              Account</span>
          </p>

          <div id="user_map"></div>
          <br style="clear: both;" />

        </div>
        <!--  recordsData -->
      </span>

    </div>
  </div><br style="clear:both" />
</div>