<div id="list_display" task="can_view_database_list_parish">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_parish'><span type="form" name="parish:id" href="lists?type=parish&amp;id=" >Update this Information</span></li>
			<li><a href="lists?type=parish&amp;field=county">Select another Parish</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Parish</th>
		</tr>
		<span type="form" name="parish:name" showhead="default"></span>
		<span type="form" name="parish:county" showhead="default" class="even"></span>

	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->

