<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Bienvenido/a, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Para empezar a usar iHRIS Manage, por favor haga click en alguna de las opciones mostradas abajo. Vuelva a esta página en cualquier momento haciendo click en el botón de Inicio de la barra superior. Sí necesita ayuda con alguna función, haga click en el botón de ayuda. Lo animamos a comunicarnos cualquier tipo de errores que encuentre, sugerencias acerca de mejoras o funciones adicionales, y cualquier otro tipo de comentario que tenga acerca de este software; contáctese con nosotros en todo momento haciendo click en el botón de Comentarios, o visitando el <a href="http://www.capacityplus.org/hris/">Sitio de Fortalecimiento del HRIS</a>.
</p>
</div><!-- /welcomeIntro -->