<div id="siteContent">

  <h1>Simamia Hazinadata</h1>

  <span type="module" ifenabled="true" name="ihris-manage-PersonPosition">
    <div task="can_edit_position_database_lists">
      <h2>Simamia Nafasi</h2>
      
      <div task="can_edit_job_structure_database_lists">
	<h3>Tengeneza Muundo wa Kazi</h3>
	<ul><li task="can_edit_database_list_cadre"><a href="lists?type=cadre">Kada</a></li>
	  <li task="can_edit_database_list_classification"><a href="lists?type=classification">Uainishaji wa Kazi</a></li>
	  <li task="can_edit_database_list_salary_grade"><a href="lists?type=salary_grade">Madaraja ya Mshahara</a></li>
	  <li task="can_edit_database_list_job"><a href="lists?type=job">Kazi</a></li>
	</ul></div>
      <div task="can_edit_manage_positions_database_lists">
	<h3>Panga Nafasi</h3>
	<ul><li task="can_edit_database_list_salary_source"><a href="lists?type=salary_source">Vyanzo vya Mshahara</a></li>
	  <li task="can_edit_database_list_position_type"><a href="lists?type=position_type">Aina za Nafasi</a></li>
	  <li task="can_edit_database_list_position"><a href="lists?type=position&amp;field=facility">Nafasi (kwa Jengo)</a></li>
	  <li task="can_edit_database_list_position"><a href="lists?type=position&amp;field=status&amp;nosetdefault=1">Nafasi (kwa Hadhi)</a></li>
	  <span type="module" ifenabled="true" name="ihris-manage-confirmation">
	    <li task="can_edit_database_list_confirmation_type"><a href="lists?type=confirmation_type">Confirmation Types</a></li>
	  </span>
	</ul></div>
    </div>
  </span>

  <h2>Panga Orodha Zingine</h2>

  <div task="can_edit_organization_database_lists">
    <h3>Orodha ya Shirika</h3>
    <ul><li task="can_edit_database_list_facility_type"><a href="lists?type=facility_type">Aina ya Jengo</a></li>
      <li task="can_edit_database_list_facility"><a href="lists?type=facility&amp;field=location">Ofisi/Jengo</a></li>
      <li task="can_edit_database_list_department"><a href="lists?type=department">Idara</a></li>
      <span type="module" ifenabled="true" name="ManageRegistration">
	<li task="can_edit_database_list_council"><a href="lists?type=council">Mabaraza ya Usajili</a></li>
      </span>
    </ul></div>
  <div task="can_edit_employee_database_lists">
    <h3>Orodha za Waajiriwa</h3>
    <ul><li task="can_edit_database_list_edu_type"><a href="lists?type=edu_type">Aina ya Elimu</a></li>
      <li task="can_edit_database_list_degree"><a href="lists?type=degree&amp;field=edu_type">Shahada</a></li>
      <li task="can_edit_database_list_language"><a href="lists?type=language">Lugha</a></li>
      <span type="module" ifenabled="true" name="simple-competency">
	<li task="can_edit_database_list_competency_type"><a href="lists?type=competency_type">Aina ya Uwezo</a></li>
	<li task="can_edit_database_list_competency"><a href="lists?type=competency&amp;field=competency_type">Uwezo</a></li>
	<span type="module" ifenabled="true" name="person-simple-competency">
	  <li task="can_edit_database_list_competency_evaluation"><a href="lists?type=competency_evaluation">Tathmini ya Uwezo</a></li>
	</span>
      </span>
      <li task="can_edit_database_list_id_type"><a href="lists?type=id_type">Aina ya Utambulisho</a></li>
      <span type="module" ifenabled="true" name="leave">
      	<li task="can_edit_database_list_leave_category"><a href="lists?type=leave_category">Leave Category</a></li>
      </span>
      <li task="can_edit_database_list_benefit_type"><a href="lists?type=benefit_type">Aina ya Mafao</a></li>
      <li task="can_edit_database_list_marital_status"><a href="lists?type=marital_status">Hali ya Ndoa</a></li>
      <li task="can_edit_database_list_contact_group"><a href="lists?type=contact_group">Contact Group</a></li>
      <li task="can_edit_database_list_pos_change_reason"><a href="lists?type=pos_change_reason">Sababu za Kuondoka</a></li>
      <span type="module" ifenabled="true" name="accident">
	<li task="can_edit_database_list_accident_type"><a href="lists?type=accident_type">Aina ya Ajali</a></li>
      </span>
      <span type="module" ifenabled="true" name="disciplinary_action">
	<li task="can_edit_database_list_disciplinary_action_type"><a href="lists?type=disciplinary_action_type">Aina ya Hatua ya Kinidhamu</a></li>
	<li task="can_edit_database_list_disciplinary_action_reason"><a href="lists?type=disciplinary_action_reason">Disciplinary Action Reason</a></li>
      </span>
    </ul></div>
  <div task="can_edit_geographic_database_lists">
    <h3>Taarifa ya Kijiografia</h3>
    <ul><li task="can_edit_database_list_country"><a href="lists?type=country">Nchi</a></li>
      <li task="can_edit_database_list_region"><a href="lists?type=region&amp;field=country">Mkoa</a></li>
      <li task="can_edit_database_list_district"><a href="lists?type=district&amp;field=region">Wilaya</a></li>
      <li task="can_edit_database_list_county"><a href="lists?type=county&amp;field=district">County</a></li>
      <li task="can_edit_database_list_currency"><a href="lists?type=currency">Fedha</a></li>
    </ul></div>
  <div task="can_edit_planning_database_lists">
    <span name="establishment" type="module" ifenabled="true">
      <h3>Taarifa za Mipango</h3>
      <ul><li task="can_edit_database_list_establishment_type"><a href="lists?type=establishment_type">Aina ya Ikama</a></li>
	<li task="can_edit_database_list_establishment_period"><a href="lists?type=establishment_period&amp;field=establishment_type">Muda wa Ikama</a></li>
	<li task="can_edit_database_list_establishment"><a href="lists?type=establishment&amp;field=establishment_period">Ikama</a></li>
      </ul></span>
  </div>


  <span name="training-course" type="module" ifenabled="true">
    <div task="can_edit_training_course_database_lists">
      <h3>Taarifa ya Kozi ya Mafunzo</h3>
      <ul><li task="can_edit_database_list_training_course"><a href="lists?type=training_course&amp;mapped=scheduled_training_course">Kozi za Mafunzo</a></li>
	<li task="can_edit_database_list_scheduled_training_course"><a href="lists?type=scheduled_training_course&amp;field=training_course">Kozi za Mafunzo zilizopangwa kwenye ratiba</a></li>
	<li task="can_edit_database_list_training_course_status"><a href="lists?type=training_course_status">Hali ya Kozi ya Mafunzo</a></li>
	<li task="can_edit_database_list_training_course_requestor"><a href="lists?type=training_course_requestor">Waombaji wa Kozi ya Mafunzo</a></li>
	<li task="can_edit_database_list_training_course_evaluation"><a href="lists?type=training_course_evaluation">Tathmini ya Kozi ya Mafunzo</a></li>
	<li task="can_edit_database_list_training_course_category"><a href="lists?type=training_course_category">Aina ya Kozi ya Mafunzo</a></li>
	<span type="module" name="manage-training-institution" ifenabled="true">
	  <li task="can_edit_database_list_training_institution"><a href="lists?type=training_institution">Taasisi ya Mafunzo</a></li>
	  <li task="can_edit_database_list_training_funder"><a href="lists?type=training_funder">Mfadhili wa Mafunzo</a></li>
	</span>
	<span type="module" name="CEUs" ifenabled="true">
	  <li task="can_edit_database_list_continuing_education_course"><a href="lists?type=continuing_education_course">Kozi ya Elimu Inayoendelea</a></li>
	</span>
      </ul></div>
  </span>

  <span role="admin">
      <h2>Mass Delete</h2>
      <ul><span type="module" name="ihris-manage-MassDeleteFacility" ifenabled="true">
          <li><a href="delete_by_facility">By Facility</a></li>
        </span>
        <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
          <li><a href="delete_by_search">By Person (Search Page)</a></li>
        </span>
      </ul></span>
</div>
