<div id="siteContent">
<h1>Gestisci le persone</h1>
<div task="person_can_edit">
  <h2><a href="person" class="createRecords">Aggiungi Persona</a></h2>
  <p>
    <span type="module" name="ihris-manage-Application" ifenabled="true">
      Per tenere traccia di una persona nel database, sia un impiegato che un candidato a un posto vacante, inserisci questa persona. Alcune informazioni sono obbligatorie per iniziare un nuovo inserimento. Una volta effettuato l'inserimento, le opzioni ulteriori per aggiungere dati sulla persona diventano disponibili. Una persona dello staff Risorse Umane o un responsabile Risorse Umane possono aggiungere una nuova persona al sistema.     
    </span>
    <span type="module" name="ihris-manage-Application" ifenabled="!true">
      Per tenere traccia di una persona nel database, sia un impiegato che un candidato a un posto vacante, inserisci questa persona. Alcune informazioni sono obbligatorie per iniziare un nuovo inserimento. Una volta effettuato l'inserimento, le opzioni ulteriori per aggiungere dati sulla persona diventano disponibili. Una persona dello staff Risorse Umane o un responsabile Risorse Umane possono aggiungere una nuova persona al sistema.
    </span>

  </p>

  <hr></div>

<!--
<h2><a href="search?search_limit=3" class="searchRecords">Find Employee</a></h2>
<p>
  After entering an employee's record into the system and setting a position for that 
  employee, the record may be reviewed at any time. Click Find Employee to locate 
  the record. From the record, additional information can be added or existing 
  information can be updated. 
</p>

<hr />
-->

<span type="module" name="ihris-manage-Application" ifenabled="true">
<span role="hr_staff|exec_manager">
    <!--
  <h2><a href="search?search_limit=2" class="searchRecords">Find Applicant</a></h2>
  <p>
    After entering an person's record into the system and adding an application for 
    that person, the record may be reviewed at any time. Click Find Applicant to locate 
    the record. From the record, additional information can be added or existing 
    information can be updated.
  </p>

  <hr />
  -->
  <h2><a href="manage?action=review">Esamina candidati</a></h2>
  <p>
    Sono state inserite delle candidature per un posto vacante. Una persona dello staff Risorse Umane, il responsabile Risorse Umane o il responsabile esecutivo possono esaminare le candidature e le note registrate durante il processo di assunzione. Clicca su Esamina candidati per esaminare tutte le candidature per ogni posto vacante.
  </p>
</span>
</span>

</div>
