<div class="facility_block">
  <h4>NAME OF HEALTH FACILITY: <span name="facility_name" /></h4>
    <table border="0" cellpadding="0" cellspacing="0" class="audit_report_table">
      <thead>
        <tr class="audit_top">
          <th colspan="7">ESTABLISHMENT DETAILS</th>
        </tr>
        <tr class="audit_head">
          <th>No.</th>
          <th>Job Title</th>
          <th>Scale</th>
          <th>Approved</th>
          <th>Filled</th>
          <th>Vacant/Excess</th>
          <th>% Filled</th>
        </tr>
      </thead>
      <tbody name="establishment_list">
      </tbody>
    </table>
</div>
