<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>

    <title>OpenHIE Health Worker Registry</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en-us" />
    <meta name="robots" content="all" />
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="author" content="Development by IntraHealth International, Inc.  http://www.intrahealth.org/  Website graphic design by DesignHammer Media Group LLC, Building Smarter Websites http://www.designhammer.com" />
    <meta name="copyright" content="" />
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <link rel="Shortcut Icon" href="file/favicon.ico" />
    <link rel="stylesheet" href="file/container-print.css" type="text/css" media="print" />
    <style type="text/css" media="screen">
      @import url(file/container-screen.css);
    </style>
    <!--[if lt IE 7]><link href="file/iehacks.css?newman" rel="stylesheet" type="text/css" media="screen" /><![endif]-->
    <script src='file/mootools-core.js' type="text/javascript" />
    <script src='file/mootools-more.js' type="text/javascript" />
    <script src='file/I2CE_DropdownMenu.js' type="text/javascript" />
    <script src='file/ihris_menu.js' type="text/javascript" />
    
    <script type='text/javascript' id='dropdown-js'>

window.addEvent('domready',  function() {  
    //$$('.slider').each(function(e) {new SliderMenu(e); });

    $$('.clickslider').each(function(e) {new ClickSlider(e); });
    $$('.ajaxlink').each(function(e) {  new AjaxLink(e);});
    $$('.dropdown').each(function(e) {  new I2CE_DropdownMenu(e); });
    var error = document.id('error_message'); 
    if (error && error.get('html').replace(/^\s+|\s+$/, '').length == 0) { error.dispose();}
});


</script>
  </head>
  <body>
    <div id="siteHeadWrap"><!-- ie6 redundant tag fix -->
      <div id="siteHeader">
	<div class='navbar navbar-fixed-top'>
	  <div class="navbar-inner">
	      <img class="brand " src="file/iHRISManage_logo.png" alt="" width="62" height="62" id="siteLogo" />
	      <a class="brand" href="home" style='position:absolute;left:70px;'>OpenHIE Health Worker Registry</a>

	    <div class="container">
	      <div class='nav-collapse'>
		<ul class='nav pull-left'>
		  <li ><a href="home" id='nav_home'>Home</a></li>
		  <li class='dropdown' id='navBar'>
                    <a href="#" class="dropdown-toggle"  id='nav_actions'> Actions <b class="caret "/> </a>
		    <ul class='dropdown-menu' id='navBarUL'>
		      <li>Health Worker</li>
		      <li   id="menuManage"   task='person_can_view'><a href="view_csd_provider/edit">Add New Health Worker</a></li>		      
                      <li>mHero</li>
                      <li id="menuManage"><a href='mhero_search_provider'>mHero</a></li>
		      <span type='module' name='CustomReports' ifenabled='true'>
			<li>Cached Reports</li>
			<li id="menuCustomReports" task='custom_reports_can_view_reportViews'><a href="CustomReports/view/reportViews">View Reports</a></li>
		      </span>
		      <span type='module' name='csd-search' ifenabled='true'>
			<li>Remote Searches</li>
			<li id="menuSearch" ><a href="search_provider">Search Health Worker Records</a></li>
			<li id="menuSearch" ><a href="search_facility">Search Facility Records</a></li>
			<li id="menuSearch" ><a href="search_organization">Search Organization Records</a></li>
			<li id="menuSearch" ><a href="search_service">Search Service Records</a></li>
		      </span>
		      <li>System</li>
		      <li role='any'>
			<a  task="can_administer_database_lists" href="auto_list" >Administer Database</a>  
		      </li>
		      <li role='any' task='can_configure_system'>
			<a href="configure" class="adminDatabase">Configure System</a>
		      </li>
		      <li> <a href="remote_directory_selector/edit" class="adminDatabase">Select Remote Directories</a></li>
		    </ul>
		    </div>
		  </li>

		</ul>

		<ul class='nav pull-right'>
		  <li class="dropdown" >
                    <a href="#" class="dropdown-toggle"  id='nav_about'> About <b class="caret "/> </a>
		    <ul class="dropdown-menu" >
		      <li> OpenHIE Health Worker Registry </li>
		      <li><a href="http://www.ihris.org/contact-us/">Feedback</a></li>
		      <li><a href="https://wiki.ohie.org/display/SUB/Provider+Registry+Community">Documentation</a></li>		      
		      <li ><a   href="https://groups.google.com/forum/#!forum/provider-registry" target="_new_openhie_pr_ggle">Google Group</a></li>
		      <li ><a   href="https://launchpad.net/openhie-pr" target="_new_openhie_pr_ggle"> Source Code</a></li>
		      <li ><a   href="http://ohie.org" target="_new_openhie">OpenHIE</a></li>
		      <li> Funders </li>
		      <li> <a href="http://www.pepfar.gov" target="_new_pepfar">PEPFAR</a></li>
		      <li> <a href="http://www.usaid.gov" target="_new_uaid">USAID</a></li>
		      <li >Standards</li>
		      <li><a href="http://wiki.ihe.net/index.php?title=Care_Services_Discovery" target="_new_csd">Care Services Discovery</a></li>
		      <li><a href="http://www.ihe.net/Technical_Framework/upload/IHE_ITI_Suppl_SVS_Rev2-1_TI_2010-08-10.pdf" target="_new_svs">Shared Value Sets</a></li>
		      <li >Implementing Software</li>
		      <li ><a href="http://www.ihris.org/" target="_new_ihris" >iHRIS</a></li>
		      <li ><a href="http://www.ihris.org/" target="_new_openhim" >OpenHIM</a></li>
		      <li ><a href="http://www.dhis2.org/" target="_new_dhis2" >DHIS2</a></li>
		      <li ><a href="http://instedd.org/technologies/resource-map/" target="_new_rm" >Resource Map</a></li>
		      <li><a href='http://www.ihris.org/contact-us/'>Add my software!</a></li>
		    </ul>
		  </li>
		  <li  class="dropdown" >
                    <a href="#" class="dropdown-toggle"> <span type='module' call="ihris-common->welcomeNamedUser('Welcome, %s!','Welcome!')" /> <b class="caret "/> </a>
		    <ul class="dropdown-menu"  >
		      <li  role='any'><a href="logout" class="logout">Log Out</a></li>
		      <li  role='NOT_LOGGED_IN' ><a href="login" class="logout">Log In</a></li>
		      <li role='any'><a href="password">Change Password</a></li>
		      <span type='module' call='localeSelector->showSelectableLocales()' ></span>
		    </ul>
		  </li>
		</ul>
	      </div>
	    </div>
	  </div>
	</div>
	<div id='siteMain'>
	  

	  <div id="welcomeIntro" />
	</div>

      </div><!-- /siteHeader -->
    </div><!-- /siteHeadWrap -->

    <div id="siteOuterWrap">

      <div id="siteInnerWrap">

	<div id="siteContent" />


	<br style="clear: both;" />

      </div><!-- /siteInnerWrap -->

      <div id='StretchPage'></div>
      <div id="siteFooter">
<!--	<div style='margin:auto'>
	  <img src="file/usaid-logo.png" style='padding:2em'/>
	  <img src="file/capacity-plus-logo.png" style='padding:2em'/>
	  <img src="file/intrahealth-logo.png" style='padding:2em'/>
	</div>
-->	
	OpenHIE Health Worker Registry Version: <span type='module' call="ihris-common->showModuleVersion('csd-provider-registry')"/>
      </div><!-- /siteFooter -->
    </div><!-- /siteOuterWrap -->

  </body>
</html>
