<div class="recordsData">
  <h4>Assessment of Core Competencies </h4>
  <p class="editRecordsData" id="core_competencies_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('core_competencies',true);">Hide</a>
    <span type="form" name="assessment:id" ifset="!core_competencies:id" href="core_competencies?parent=">Add Assessment of Core Competencies</span>
  </p>

  <div id="core_competencies" task='person_can_view_child_form_assessment'>
    <div class="editRecord">
      <p>Edit This Information</p>
      <ul>
        <li task='person_can_edit_child_form_assessment'>
          <span type="form" ifset="core_competencies:id" name="core_competencies:id" href="core_competencies?id=" parent="true">Update this Information</span>
        </li>
      </ul>
    </div> <!-- editRecord -->

    <div class="dataTable">

<table cellpadding="0" cellspacing="0" border="0" class="assessmentForm">
        <tr>
          <th>Competence</th>
          <th>Assessment</th>
          <th>Comments</th>
        </tr>
        <tr>
          <td>Professional knowledge/ skills</td>
          <span type="form" name="core_competencies:skills" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:skills_comment" showhead="default" display="field_only_cell" />
        </tr>
        <tr>
          <td>Planning, organizing and coordinating</td>
          <span type="form" name="core_competencies:planning" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:planning_comment" showhead="default" display="field_only_cell" />
        </tr>
        <tr>
          <td>Leadership</td>
          <span type="form" name="core_competencies:leadership" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:leadership_comment" showhead="default" display="field_only_cell" />
          </tr>
        <tr>
          <td>Decision Making</td>
          <span type="form" name="core_competencies:decision_making" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:decision_making_comment" showhead="default" display="field_only_cell" />
          </tr>
        <tr>
          <td>Team work</td>
          <span type="form" name="core_competencies:team_work" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:team_work_comment" showhead="default" display="field_only_cell" />
          </tr>
        <tr>
          <td>Initiative </td>
          <span type="form" name="core_competencies:initiative" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:initiative_comment" showhead="default" display="field_only_cell" />
          </tr>
        <tr>
          <td>Communication </td>
          <span type="form" name="core_competencies:communication" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:communication_comment" showhead="default" display="field_only_cell" />
          </tr>
        <tr>
          <td>Result Orientation</td>
          <span type="form" name="core_competencies:result_orientation" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:result_orientation_comment" showhead="default" display="field_only_cell" />
           </tr>
        <tr>
          <td>Integrity</td>
          <span type="form" name="core_competencies:integrity" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:integrity_comment" showhead="default" display="field_only_cell" />
           </tr>
        <tr>
          <td>Human Resource Management</td>
          <span type="form" name="core_competencies:hrm" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:hrm_comment" showhead="default" display="field_only_cell" />
          </tr>
          <tr>
          <td>Financial Management</td>
          <span type="form" name="core_competencies:financial_management" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:financial_management_comment" showhead="default" display="field_only_cell" />
          </tr>
          <tr>
          <td>Management of other resources (equipment & facilities)</td>
          <span type="form" name="core_competencies:management_resources" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:management_resources_comment" showhead="default" display="field_only_cell" />
          </tr>
          <tr>
          <td>Time Management</td>
          <span type="form" name="core_competencies:time_management" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:time_management_comment" showhead="default" display="field_only_cell" />
          </tr>
          <tr>
          <td>Customer care</td>
          <span type="form" name="core_competencies:customer_care" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:customer_care_comment" showhead="default" display="field_only_cell" />
          </tr>
          <tr>
          <td>Loyalty</td>
          <span type="form" name="core_competencies:loyalty" showhead="default" display="field_only_cell" />
          <span type="form" name="core_competencies:loyalty_comment" showhead="default" display="field_only_cell" />
          </tr>
        <tr>
       </table>
    </div> <!-- dataTable -->
  </div>
<br></br>
</div>
