<div id="list_display">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_department'><span type="form" name="department:id" href="lists?type=department&amp;id=" >Update this Information</span></li>
			<li task='can_view_database_list_department'><a href="lists?type=department">Select another Department</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Department</th>
		</tr>
		<span type="form" name="department:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
