<div id="siteContent">
  <h1>පහසුකම් අනුව සියලුම ලේඛන මකන්න</h1>
  <p><strong>අනතුරු හැඟවීමයි !!:</strong> මෙය දත්ත සමුදාය තුළින් සියලුම තනතුරු සහ එම තනතුරු වලට අදාල සියලුම පුද්ගල ලේඛන මකනු ලබයි. මෙය නැවත ලබා ගත හැක්කේ හස්තීමය උපස්ථක තුළින් පමණි, එම නිසා මෙම ක්‍රියාවට පෙර උපස්ථක යාවත්කාලීන බව සහතික කරගන්න</p>
  <form method="POST" id="delete_form" action="delete_by_facility_action">
    <h2>තෝරාගත් පහසුකම්</h2>
    <div id="facility_list">
    </div>
    <div id="facility_selection" style="display:none;">
      <select id="facility_select" name="facilities[]" multiple></select></div>
    <input type="hidden" name="step" value="choose"><input type="submit" class="button" value="Continue"></form>
</div>
