<div task='person_can_view_child_form_registration'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
        <li task='person_can_edit_child_form_registration'><span type="form" name="person:id" href="person?id=" parent="true">Update this Information</span></li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Registration Information</th>
      </tr>
      <span type="form" name="registration:registration_number" showhead="default"></span>      
      <span type="form" name="registration:registration_date" showhead="default"></span>
      <span type="form" name="registration:training_program" showhead="default" class="even"></span>
      <span type="form" name="registration:training_institution" showhead="default"></span>
      <span type="form" name="registration:identification_type" showhead="default"></span>
      <span type="form" name="registration:identification_number" showhead="default"></span>      
      <span type="form" name="registration:level" showhead="default" class="even"></span>
      <span type="form" name="registration:academic_year" noedit="true" showhead="default"></span>
      <span type="form" name="registration:semester" showhead="default"></span>
    </table>
  </div> <!-- dataTable -->
</div>
