<div id="list_display" task="can_view_database_list_confirmation_type">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_confirmation_type'><span type="form" name="confirmation_type:id" href="lists?type=confirmation_type&amp;id=" >Update this Information</span></li>
			<li><a href="lists?type=confirmation_type">Select another Confirmation Type</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Confirmation Type</th>
		</tr>
		<span type="form" name="confirmation_type:name" showhead="default"></span>
		<span type="form" name="confirmation_type:job" showhead="default" class="even"></span>
		<span type="form" name="confirmation_type:probation_period" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
