<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'مرحبا بكم، %s',ihris-common-&gt;getUserNames()" dir="rtl"></span></h1> 
<p dir="rtl">
لبداية استخدام iHRIS Manage الرجاء انقر أحد الخيارات أدناه. عد إلى هذه الصفحة في أي وقت بالضغط على زر الصفحة الرئيسية في الشريط أعلاها. إذا كنت بحاجة إلى مساعدة مع أي دالة، انقر فوق زر التعليمات. نحن نشجعكم بان ترسلوا الينا أية أخطاء ، اقتراحات  أو ميزات إضافية،لتحسين الأداء  واذا كانت لديكم أية ملاحظات أخرى  حول هذا البرنامج، يرجي الاتصال بنا في أي وقت بالضغط على زر التعليقات أو زيارة ال <a href="http://www.capacityplus.org/hris/" dir="rtl">HRIS تعزيز الموقع</a>.
</p>
</div><!-- /welcomeIntro -->