<div task='person_can_view_child_form_enroll_course'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
        <li><span task='person_can_edit_child_form_enroll_course' type="form" name="enroll_course:id" href="enroll_course?id=" parent="true">Update this Information</span></li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
	<th colspan="2">Courses Enrolled</th>
      </tr>
      <span type="form" name="enroll_course:training" showhead="default"></span>
      <span type="form" name="enroll_course:semester" showhead="default"></span>
      <span type="form" name="enroll_course:academic_year" showhead="default"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>
