<div task='person_can_view_child_form_filetrack'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_filetrack'>
	<span type="form" ifset="filetrack:id" name="filetrack:id" href="filetrack?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
	<tr>
	  <th colspan="2">File Movement Information</th>
	</tr>
	 <span type="form" name="filetrack:date_taken" showhead="default"></span>
      <span type="form" name="filetrack:office_taken" showhead="default" class="even"></span>
      <span type="form" name="filetrack:reason" showhead="default"></span>
      <span type="form" name="filetrack:return_date" showhead="default" class="even"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>
