<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Tere tulemast</h1>
<p>
<strong>iHRIS Manage</strong> on inimressursside korraldusabiline, mis lubab organisatsioonil kavandada ja juhtida ulatuslikku inimressursistrateegiat. Põhiliselt mõeldud tervishoiu töötajate korraldamiseks, iHRIS Manage võib olla kasutatud teiste tööjõudude haldamiseks. iHRIS Manage on tasuta, avatud-allikaline tarkvaralahendus, mille tootis 
<a href="http://www.capacityplus.org"> Capacity<i>Plus</i></a>, innovatiivne, globaalne initsiatiiv, mis aitab arendavatel riikidel hallata tervishoiu tööjõude
</p>
</div><!-- /welcomeIntro -->