<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Tere tulemast, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Et alustada iHRIS Manage-i kasutamist, palun klõpsake ühel alloleval valikul. Et tulla tagasi sellele lehele mis iganes ajal, klõpsake Kodu nuppu ülal oleval ribal. Kui vajad abi mis tahes funktsiooniga, vajuta Abi nuppu. Me soovitame teil saata meile igasuguseid teateid vigadest ja soovitustest ning muud tagasisidet selle tarkvara kohta; kontakteeruge meiega iga kell klõpsates Tagasiside nuppu või külastades <a href="http://www.capacityplus.org/hris/">HRIS Tugevdamise Veebilehte</a>.
</p>
</div><!-- /welcomeIntro -->