<div id="manageIndex">
<h1>Manage People</h1>
<div task='person_can_edit'>
  <h2><a href="person" class="createRecords">Add Person</a></h2>
  <p>
      To track a person in the database, add a
      record for that person. Certain information is required to start a new record. 
      Once the record is generated, additional options for adding data about the person 
      will become available. 
  </p>

  <hr />
</div>
<div type="module" name="Lecturers" ifenabled="true">
	<div  task="can_add_lecturer">
  	<h2><a href="add_lecturer" class="createRecords">Add Staff</a></h2>
  	<p>
	This allows to create a new Lecturer,Principal,Deputy Principal,Registrar,Academic Administrator,Level Coordinator etc.  
  	</p>
  	</div>
</div>

</div>