<div id="list_display" class='recordsData' task="can_view_database_list_disciplinary_action_type">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_disciplinary_action_type'><span type="form" name="disciplinary_action_type:id" href="lists?type=disciplinary_action_type&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=disciplinary_action_type">Select another Disciplinary Action Type</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Disciplinary Action Type</th>
		</tr>
		<span type="form" name="disciplinary_action_type:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
