<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Boas-vindas !</h1>
<p>
<strong>iHRIS Manage</strong> é uma ferramenta de gestão de recursos humanos que permite que qualquer organização possa conceber e implantar uma estratégia abrangente na área dos R.H.. Apesar de ter sido concebida a pensar na gestão de trabalhadores na área da saúde, a iHRIS Manage pode ser facilmente adaptada a outros tipos de gestão de pessoal. A iHRIS Manage é um programa livre (e gratuito), com código-fonte aberto desenvolvida pela 
<a href="http://www.capacityplus.org"> Capacidade<i>Plus</i></a>, é uma iniciativa global que visa apoiar os países em desenvolvimento a consolidarem e manterem o seu pessoal dos serviços de saúde.
</p>
</div><!-- /welcomeIntro -->