<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Boas Vindas, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Para começar a utilizar o iHRIS Manage, clique, por favor, nas opções abaixo indicadas. Retorne a esta página sempre que desejar clicando no botão Home na barra acima. Caso necessite de ajuda com qualquer função, clique no botão Ajuda. Encorajamo-lo a enviar-nos qualquer erro que encontre, sugestões de melhoria ou funções adicionais, e qualquer outro feedback que tenha em relação a este programa; contacte-nos sempre que achar necessário clicando o botão Feedback ou visitando o <a href="http://www.capacityplus.org/hris/">Website de Fortalecimento de HRIS</a>.
</p>
</div><!-- /welcomeIntro -->