<div id="list_display" class="recordsData" task="can_view_database_list_accident_type">
	
	<div class="editRecord">
	<p>Cheñch an titour-mañ</p>
		<ul><li task="can_edit_database_list_accident_type"><span type="form" name="accident_type:id" href="lists?type=accident_type&amp;id=">Hizivaat an titour-mañ </span></li>
			<li><a href="lists?type=accident_type">Diuzañ ur seurt gwallzarvoud all</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Seurt gwallzarvoud</th>
		</tr><span type="form" name="accident_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
