<div>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
        <li><span task='person_can_edit_child_form_assign_course_trainer' type="form" name="assign_course_trainer:id" href="assign_course_trainer?id=" parent="true">Update this Information</span></li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Courses Training</th>
      </tr>
      <span type="form" name="assign_course_trainer:training_courses" showhead="default"></span>
      <span type="form" name="assign_course_trainer:current_academic_year" showhead="default"></span>
    </table>
  </div> <!-- dataTable -->
</div>
