<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Bienvenido</h1>
<p>
<strong>Administrar iHRIS</strong> es una herramienta de manejo de recursos humanos que posibilita a una organización diseñar y administrar una estrategia global de recursos humanos. Aunque es principalmente dirigido a administrar trabajadores de la salud, iHRIS Manage puede ser fácilmente adaptado a cualquier otro tipo de entorno. iHRIS Manage es un software Libre y de Código Abierto desarrollado por 
<a href="http://www.capacityplus.org"> Capacidad<i>Más</i></a>, una iniciativa global innovadora para ayudar a los países en desarrollo a construir y mantener una fuerza laboral de salud.
</p>
</div><!-- /welcomeIntro -->