<div id="list_display" class='recordsData'>
 <div class="editRecord">
 
<p>Edit This Information</p>
 
<ul>
 
<li task='can_edit_database_list_training_type'><span type="form" name="training_type:id" href="lists?type=training_type&amp;id=" >Update this Information</span></li>
 
<li task='can_view_database_list_training_type'><a href="lists?type=training_type">Select/Add Another Training Type/Area</a></li>
 
 </ul>
 
</div> <!-- editRecord -->
 
<div class="dataTable">
 
<table border="0" cellspacing="0" cellpadding="0">
 
<tr>
 
<th colspan="2">Training Type/Area</th>
 
</tr>
 
<span type="form" name="training_type:name" showhead="default"></span>
<span type="form" name="training_type:duration" showhead="default"></span>
<span type="form" name="training_type:training_length_type" showhead="default"></span>
 
</table>
 
</div> <!-- dataTable -->
 
</div> <!-- list_display -->
