<div id="list_display" task="can_view_database_list_benefit_type">
	
	<div class="editRecord">
	<p>Éditer cette information</p>
		<ul><li task="can_edit_database_list_benefit_type"><span type="form" name="benefit_type:id" href="lists?type=benefit_type&amp;id=">Mettre à jour cette information </span></li>
			<li><a href="lists?type=benefit_type">Sélectionner un autre type d'avantage</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">Type d'avantage</th>
		</tr><span type="form" name="benefit_type:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
