<tr>
  <td><span task="provider_can_edit_participants" type="form" name="person_instance:id" href="person_instance?id=">Update this Information</span></td>
  <td>
    <span type="form" name="person:id" href="view?id=">
      <span type="form" name="person:firstname"></span>
    </span>
  </td>
  <td>
    <span type="form" name="person:id" href="view?id=">
      <span type="form" name="person:surname"></span>
    </span>
  </td>
  <td><span type="form" name="person_instance:exam_number"></span></td>
  <td><span type="form" name="person_instance:av_mark"></span></td>
  <td><span type="form" name="person_instance:comments"></span></td>
</tr>
