<div class="recordsData">
  <h3><a name="jump_training">Training Information: 
      <span type="form" name="providertraining:training"></span>
  </a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('provider_instance', this );">Hide</a>
      <span task="provider_can_edit_child_form_provider_instance" type="form" name="providertraining:id" parent="true" href="provider_instance?form[provider_instance][0][0][fields][providertraining]=">
          Schedule a new Training
        </span>
      <span type="form" name="providertraining:id" href="viewprovider?id=">
          View All Trainings
        </span>
		</p>

	<div id="provider_instance"></div> <!-- provider_instance -->
	<br style="clear: both;" />
</div> <!-- recordsData -->
       



