<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1>Ласкаво просимо</h1>
<p>
<strong>Управління iHRIS</strong> - інструмент управління людськими ресурсами, який дозволяє організувати проектування та управління комплексною стратегією в області людських ресурсів. Хоча він, в першу чергу, призначений для управління медичних працівників, але iHRIS Manage може бути легко адаптоване для інших типів кадрів. iHRIS Manage - це безкоштовне програмне забезпечення з відкритим кодом, яке розроблене 
<a href="http://www.capacityplus.org"> Capacity<i>Плюс</i></a>, інноваційна глобальна ініціатива по наданню допомоги країнам у створенні і підтримці кадрових ресурсів охорони здоров'я.
</p>
</div><!-- /welcomeIntro -->