<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203"><h1><span printf="'Ласкаво просимо, %s',ihris-common-&gt;getUserNames()"></span></h1> 
<p>
Щоб почати роботу з iHRIS, будь ласка, виберіть один із запропонованих нижче способів. Повернутися на цю сторінку можна в будь-який час, натиснувши на кнопку Додому на панелі вище. Якщо вам потрібна допомога з будь-якою функцією, натисніть кнопку Довідка. Ми просимо Вас надсилати нам будь-які помилки, які ви знайдете, пропозиції щодо покращення або додаткові можливості, і будь-які інші відгуки про цю програму, зв'яжіться з нами в будь-який час, натиснувши на кнопку зворотного зв'язку або відвідавши <a href="http://www.capacityplus.org/hris/">Зміцнення веб-сайту HRIS</a>.
</p>
</div><!-- /welcomeIntro -->