<div id="list_display" class='recordsData' task="can_view_database_list_fee">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_fee'><span type="form" name="fee_type:id" href="lists?type=fee_type&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=fee_type">Select another Fee Type</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Fee Type Information</th>
		</tr>
		    <span type="form" name="fee_type:name" showhead="default"></span>
		    <span type="form" name="fee_type:unit" showhead="default" class="even" ></span>
		    <span type="form" name="fee_type:training_length_type" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
