<div id="list_display" class='recordsData' task="can_view_database_list_fee">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_fee'><span type="form" name="unit:id" href="lists?type=unite&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=unit">Select another unit</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Unit Information</th>
		</tr>
		<span type="form" name="Unit:name" showhead="default" class="even"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
