<div id="siteContent">
<h1>Administrar as persoas</h1>
<div task="person_can_edit">
  <h2><a href="person" class="createRecords">Engadir a persoa</a></h2>
  <p>
    <span type="module" name="ihris-manage-Application" ifenabled="true">
      Para seguir unha persoa na base de datos, sexa un empregado ou un candidato, engada un rexistro para esa persoa. Cómpre certa información para comezar un novo rexistro. Unha vez xerado o rexistro, haberá dispoñibles opcións adicionais para engadir datos sobre a persoa. Un membro do persoal de recursos humanos ou un administrador de recursos humanos pode engadir unha nova persoa ao sistema.     
    </span>
    <span type="module" name="ihris-manage-Application" ifenabled="!true">
      Para seguir unha persoa na base de datos, engada un rexistro para esa persoa. Cómpre certa información para comezar un novo rexistro. Unha vez xerado o rexistro, haberá dispoñibles opcións adicionais para engadir datos sobre a persoa. Un membro do persoal de recursos humanos ou un administrador de recursos humanos pode engadir unha nova persoa ao sistema.
    </span>

  </p>

  <hr></div>

<!--
<h2><a href="search?search_limit=3" class="searchRecords">Find Employee</a></h2>
<p>
  After entering an employee's record into the system and setting a position for that 
  employee, the record may be reviewed at any time. Click Find Employee to locate 
  the record. From the record, additional information can be added or existing 
  information can be updated. 
</p>

<hr />
-->

<span type="module" name="ihris-manage-Application" ifenabled="true">
<span role="hr_staff|exec_manager">
    <!--
  <h2><a href="search?search_limit=2" class="searchRecords">Find Applicant</a></h2>
  <p>
    After entering an person's record into the system and adding an application for 
    that person, the record may be reviewed at any time. Click Find Applicant to locate 
    the record. From the record, additional information can be added or existing 
    information can be updated.
  </p>

  <hr />
  -->
  <h2><a href="manage?action=review">Revisar os candidatos</a></h2>
  <p>
    Unha vez rexistrada unha ou máis candidaturas para un cargo vacante, un membro do persoal de recursos humanos, un administrador de recursos humanos ou un director executivo pode revisar estas solicitudes e tomar notas durante o proceso de contratación. Prema en "Revisar os candidatos" para botar un ollo a todas as candidaturas de calquera posto vacante.
  </p>
</span>
</span>

</div>
