<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Información individual</a></li>
	<span type="module" name="PersonContact" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Información de contacto</a></li>
	</span>
	<li><a href="#jump_position" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Información sobre o cargo</a></li>
	<span type="module" name="manage-training-course" ifenabled="true">
	  <li><a href="#jump_courses" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Cursos de formación</a></li>
	</span>
	<span type="module" name="PersonAttendance" ifenabled="true">
	  <li><a href="#jump_person_attendance" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Attendance Information</a></li>
	</span>
	<li><a href="#jump_qualification" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Cualificacións</a></li>
	<span type="module" name="disciplinary_action" ifenabled="true">
	  <li><a href="#jump_disciplinary_action" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Accións disciplinarias</a></li>
	</span>
	<span type="module" name="accident" ifenabled="true">
	  <li><a href="#jump_accident" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Accidentes laborais</a></li>
	</span>
	<span type="module" name="ihris-manage-Application" ifenabled="true">
	  <li><a href="#jump_application" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Candidatura</a></li>
	</span>
	<span type="module" name="PersonEmployment" ifenabled="true">
	  <li><a href="#jump_employment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Historial de empregos</a></li>
	</span>
	<span type="module" name="PersonEducation" ifenabled="true">
	  <li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Historial educativo</a></li>
	</span>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Notas</a></li>
	<span type="module" name="SelfService" ifenabled="true">
	  <li>
	    <a href="#jump_self_service" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Autoservizo</a>
	  </li>
	</span>
	<span type="module" name="PersonArchivedScan" ifenabled="true">
	  <li><a href="#jump_archived_scans" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Rexistros dixitalizados</a></li>
	</span>
	<span type="module" name="RecordStatus" ifenabled="true">
	  <li><a href="#jump_record_status" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Estado do rexistro</a></li>
	</span>

</ul>