<div id="list_display" task="can_view_database_list_salary_source">
	
	<div class="editRecord">
	<p>මෙම තොරතුරු සංස්කරණය කරන්න</p>
		<ul><li task="can_edit_database_list_salary_source"><span type="form" name="salary_source:id" href="lists?type=salary_source&amp;id=">මෙම තොරතුරු යාවත්කාල කරන්න</span></li>
			<li><a href="lists?type=salary_source">වෙනත් වැටුප් මූලාශ්‍රයක් තෝරන්න</a></li>
		</ul></div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">වැටුප් මූලාශ්‍රය</th>
		</tr><span type="form" name="salary_source:name" showhead="default"></span>
	</table></div> <!-- dataTable -->
	
</div> <!-- list_display -->
