<div task='person_can_view_child_form_person_incentive'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_person_incentive'>
	<span type="form" ifset="person_incentive:id" name="person_incentive:id" href="person_incentive?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
	<tr>
	  <th colspan="2">Incentive/Tool Received</th>
	</tr>
      <span type="form" name="person_incentive:incentive" showhead="default"></span>
      <span type="form" name="person_incentive:org_support" showhead="default"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>

