<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Ласкаво просимо</h1>
<p>
<strong>iHRIS Qualify</strong> це система відстеження, ліцензування та сертифікації курсів медичних працівників. Система дозволяє центру ліцензування або сертифікації кадрів медичних працівників, таких як медсестри, лікарі, відстежувати усі дані про працівників у країні, починаючи від попередньої підготовки аж до пенсії. iHRIS Qualify є безкоштовним програмним забезпеченням з відкритим кодом розробленим <a href="http://www.capacityproject.org">Capacity Project</a>, інноваційна глобальна ініціатива по наданню допомоги країнам у створенні і підтримці кадрових ресурсів охорони здоров'я.
</p>
</div><!-- /welcomeIntro -->
