<div>
<div class="editRecord">
<p>Edit This Information</p>
 <ul name="person_instance_edit_links">
<li task='person_can_edit_child_form_person_instance'><span type="form" name="person_instance:id" href="person_instance?id=" parent="true">Update this Information</span></li>
</ul>
</div> <!-- editRecord -->
<div class="dataTable">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
<th colspan="2">New Scheduled Training Course</th>
</tr>
<span type="form" name="person_instance:provider_instance" showhead="default"></span>
<span type="form" name="person_instance:exam_number" ifset="true" showhead="default"></span>
<span type="form" name="person_instance:av_mark" ifset="true" showhead="default"></span>
<span type="form" name="person_instance:exam_result"  ifset="true"showhead="default" ></span>
<span type="form" name="person_instance:try" ifset="true" showhead="default"></span>
<span type="form" name="person_instance:comments" showhead="default"></span>
<!--<span type="form" name="person_instance:attending" showhead="default" class="even"></span>-->
</table>
</div> <!-- dataTable -->
<div name="person_exam"></div>
</div>
