<div id="siteContent">
    <h1 class="header">Add/Update Person</h1>
    <div id="error" />
    <form  method="post" action="person">
        <span type="form" name="person:id"></span>
<div id="form">
     
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th>Personal Information</th><th>Registration Information</th>
    </tr>
	<tr id="list_fields">
		<td>
		  <span type="form" name="person:title" showhead="default"></span>
		  <span type="form" name="person:surname" showhead="default"></span>
		  <span type="form" name="person:surname_ignore" ifset="surname_ignore"></span>
		  <span type="form" name="person:firstname" showhead="default"></span>
		  <span type="form" name="person:othername" showhead="default"></span>
		  <span type="form" name="person:gender" showhead="default"></span>
		  <span type="form" name="person:nationality" showhead="default"></span>
		  <span type="form" name="person:location" showhead="default"></span>
		  <span type="form" name="person:date_of_birth" showhead="default"></span>		  
		</td>
		<td>
		<span type="form" name="registration:training_institution" />
		<span type="form" name="registration:registration_number" />
		<span type="form" name="registration:registration_status" />
		<span type="form" name="registration:parent" />
		<span type="form" name="registration:academic_year" showhead="default"></span>
		<span type="form" name="registration:identification_type" showhead="default"></span>
		<span type="form" name="registration:identification_number" showhead="default"></span>		
		<span type="form" name="registration:academic_level" showhead="default"></span>
		<span type="form" name="registration:semester" showhead="default"></span>   		
    	<span type="form" name="registration:training_program" showhead="default"></span>
    	<span type="form" name="registration:sponsor" showhead="default"></span>
    	<span type="form" name="registration:registration_date" showhead="default"></span>
		</td>
	</tr>
    <tr class="submitCell">
        <td colspan="2">
            <div id="button" />
        </td>
    </tr>
	</table>
    
</div>
    </form>
</div>
