<div id="siteContent">
    <h1 class="header">Add/Update Training Provider</h1>
    <div id="error" />
    <form  method="post" action="trainingprovider">
        <span type="form" name="trainingprovider:id"></span>
<div id="form">
     
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="2">Training Provider Information</th>
    </tr>
	<tr id="list_fields">
		<td>
		  <span type="form" name="trainingprovider:name" showhead="default"></span>
		  <span type="form" name="trainingprovider:name_ignore" ifset="name_ignore"></span>
		  <span type="form" name="trainingprovider:trainingprovider_type" showhead="default"></span>
		  <span type="form" name="trainingprovider:code" showhead="default"></span>
		  <span type="form" name="trainingprovider:ownership" showhead="default"></span>
		  <span type="form" name="trainingprovider:capacity" showhead="default"></span>
	</td><td>
	   	  <span type="form" name="trainingprovider:telephone" showhead="default"></span>
	   	  <span type="form" name="trainingprovider:alt_telephone" showhead="default"></span>
		  <span type="form" name="trainingprovider:address" showhead="default"></span>
	   	  <span type="form" name="trainingprovider:fax" showhead="default"></span>
	   	  <span type="form" name="trainingprovider:email" showhead="default"></span>
	   	  <span type="form" name="trainingprovider:contact_person" showhead="default"></span>

		 </td>
	</tr>
    <tr class="submitCell">
        <td colspan="2">
            <div id="button" />
        </td>
    </tr>
	</table>
    
</div>
    </form>
</div>
