<ul>
  <li><span type="form" name="provider_instance:providertraining" href="viewprovider?id=">View Training</span></li>
  <li><a href="#jump_instance" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Scheduled Training Course Details</a></li>
  <li><a href="#jump_fee" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Scheduled Training Course Fees</a></li>
  <li><a href="#jump_participants" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Participant Details</a></li>
</ul>
