<div id="provider_details">
  <h2>Training Provider Type: <span type="form" name="trainingprovider:trainingprovider_type" /></h2>

  <div class="recordsData">
    <h3><a name="jump_provider">Training Provider Information</a></h3>
    <p class="editRecordsData" id="individual_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('provider', this );">Hide</a>
  <span task="can_edit_database_list_providertraining" type="form" name="trainingprovider:id" href="lists?add=1&amp;type=providertraining&amp;field=trainingprovider&amp;forms[providertraining][0][0][fields][trainingprovider]=">Add Training</span>
    </p>
    
    <div id="provider">
      <div class="editRecord" task='provider_can_edit'>
	<p>Edit This Information</p>
	<ul>
	  <li><span type="form" name="trainingprovider:id" href="trainingprovider?id=" >Update this Information</span></li>
	</ul>
      </div> <!-- editRecord -->
      
      <div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <th colspan="2">Name</th>
	  </tr>
	  <span type="form" name="trainingprovider:name" showhead="default"></span>
	  <span type="form" name="trainingprovider:trainingprovider_type" showhead="default" class="even"></span>
	  <span type="form" name="trainingprovider:code" showhead="default"></span>
	  <span type="form" name="trainingprovider:ownership" showhead="default" class="even"></span>
	  <span type="form" name="trainingprovider:capacity" showhead="default"></span>
	  <span type="form" name="trainingprovider:telephone" showhead="default" class="even"></span>
	  <span type="form" name="trainingprovider:alt_telephone" showhead="default"></span>
	  <span type="form" name="trainingprovider:address" showhead="default" class="even"></span>
	  <span type="form" name="trainingprovider:fax" showhead="default"></span>
	  <span type="form" name="trainingprovider:email" showhead="default" class="even"></span>
	  <span type="form" name="trainingprovider:contact_person" showhead="default"></span>
	</table>
      </div> <!-- dataTable -->
    
  
	<div id="provider_trainings"></div> <!-- provider_trainings -->
       
    </div>
  </div>
</div>
