<div id="provider_details">
  <h2>View Scheduled Trainings: <span type="form" name="providertraining:training" /></h2>
    
    <div class="recordsData">
      <h3><a name="jump_trainings">Scheduled Trainings</a></h3>
      <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('provider_trainings', this );">Hide</a>
      </p>
      
      <div id="provider_trainings"></div> <!-- provider_trainings -->
      <br style="clear: both;" />
    </div> <!-- recordsData -->
  
</div>
