<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="202"><h1>Benvido</h1>
<p>
<strong>iHRIS Qualify</strong> é un sistema de seguimento de certificación, licenciamento e formación de traballadores da saúde. O sistema permite a unha autoridade de licenciamento ou certificación dun cadro da saúde, como enfermeiros ou médicos, seguir os datos de todos os postos de traballo dun país, desde a formación preprofesional ata o final. iHRIS Qualify é un software gratuíto e de código aberto desenvolvido polo <a href="http://www.capacityproject.org">proxecto Capacity</a>, unha iniciativa global e innovadora para axudar aos países en desenvolvemento a construír e manter o persoal sanitario.
</p>
</div><!-- /welcomeIntro -->
