<div task="can_view_person_disciplinary_actions">
  <div class="editRecord">
    <p>この情報を編集</p>
    <ul><span>
	<li task="can_edit_person_disciplinary_actions">
	  <span type="form" name="disciplinary_action:id" href="disciplinary_action/editAction?id=" parent="true">
	    この情報を修正
	  </span>
	</li>
      </span>
    </ul></div> <!-- editRecord -->

  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0"><tr><th colspan="2">処分</th>
      </tr><span type="form" name="disciplinary_action:disciplinary_action_type" showhead="default"></span>
      <span type="form" name="disciplinary_action:disciplinary_action_reason" showhead="default"></span>
      <span type="form" name="disciplinary_action:action_date" showhead="default" class="even"></span>
      <span type="form" name="disciplinary_action:start_date" showhead="default"></span>
      <span type="form" name="disciplinary_action:end_date" showhead="default" class="even"></span>
      <span type="form" name="disciplinary_action:persons_present" showhead="default"></span>
      <span type="form" name="disciplinary_action:notes" showhead="default" class="even"></span>

    </table></div> <!-- dataTable -->
  
  
</div>
