<div >
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_leave_of_absence'><span type="form" name="leave_of_absence:id" href="leave_of_absence?id="  parent="true">Update this Information</span></li>
      <li task='person_can_view_child_form_leave_of_absence'><span type="form" name="person:id" href="history?form=leave_of_absence&amp;show_edit=true&amp;order_by=start_date&amp;id=">View History</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Leave of Absence</th>
		</tr>
	<span type="form" name="leave_of_absence:type" showhead="default"></span>
	<span type="form" name="leave_of_absence:start_date" showhead="default"></span>
	<span type="form" name="leave_of_absence:end_date" showhead="default"></span>
	<span type="form" name="leave_of_absence:paid" showhead="default"></span>
	<span type="form" name="leave_of_absence:incomplete" showhead="default"></span>
	<span type="form" name="leave_of_absence:cause" showhead="default" mline="true"></span>
	<span type="form" name="leave_of_absence:notes" showhead="default" mline="true"></span>
	</table>
	</div> <!-- dataTable -->
</div>
