table.assessmentForm {
    width: 100%;
}
table.multiFormTable table.assessmentForm input {
    width: 20px;
}

table.multiFormTable table.assessmentForm select {
    width: 50px;
}

.recordsData table td {
    width: auto;
}
