<div id="facility_content">
  <p><strong>Waarschuwing:</strong> Dit verwijdert alle positie-records voor de bepaalde inrichting alsmede alle stamgegevens die momenteel zijn toegewezen aan die posities. Deze gegevens kunnen niet automatisch worden hersteld en moet u altijd een back-up van uw gegevens voordat u dit doet.</p>
  <h2>Faciliteitenlijst</h2>
  <div id="delete_message"></div>
  <form method="POST">
    <input type="hidden" name="step" value="confirm"><ul id="facility_list"></ul><div id="additional_form"></div>
    <input type="submit" value="Continue" class="button"></form>
</div>
