<ul><li><a href="#jump_individual" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Informação Individual</a></li>
	<span type="module" name="PersonContact" ifenabled="true">
	  <li><a href="#jump_contact" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Informações de Contato</a></li>
	</span>
	<li><a href="#jump_position" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Informação do Cargo</a></li>
	<span type="module" name="manage-training-course" ifenabled="true">
	  <li><a href="#jump_courses" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Cursos de Treinamento</a></li>
	</span>
	<span type="module" name="PersonAttendance" ifenabled="true">
	  <li><a href="#jump_person_attendance" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Attendance Information</a></li>
	</span>
	<li><a href="#jump_qualification" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Qualificações</a></li>
	<span type="module" name="disciplinary_action" ifenabled="true">
	  <li><a href="#jump_disciplinary_action" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Procedimentos Disciplinares</a></li>
	</span>
	<span type="module" name="accident" ifenabled="true">
	  <li><a href="#jump_accident" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Acidentes de Trabalho</a></li>
	</span>
	<span type="module" name="ihris-manage-Application" ifenabled="true">
	  <li><a href="#jump_application" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Aplicação</a></li>
	</span>
	<span type="module" name="PersonEmployment" ifenabled="true">
	  <li><a href="#jump_employment" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Histórico de Contratação</a></li>
	</span>
	<span type="module" name="PersonEducation" ifenabled="true">
	  <li><a href="#jump_education" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Histórico de Educação</a></li>
	</span>
	<li><a href="#jump_notes" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Notas</a></li>
	<span type="module" name="SelfService" ifenabled="true">
	  <li>
	    <a href="#jump_self_service" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Auto-Serviço</a>
	  </li>
	</span>
	<span type="module" name="PersonArchivedScan" ifenabled="true">
	  <li><a href="#jump_archived_scans" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Registros Digitalizados</a></li>
	</span>
	<span type="module" name="RecordStatus" ifenabled="true">
	  <li><a href="#jump_record_status" onclick="if(prevAnchor) prevAnchor.className=''; this.className='active'; prevAnchor=this;">Situação do Registro</a></li>
	</span>

</ul>